[2014-11-07 22:09] paregorios opened #1 "featured image portlet: image is borked"
![featureimage](https://cloud.githubusercontent.com/assets/263285/4961088/a038c748-66ca-11e4-92e0-f39a6e6e1ddd.jpg)

Looks perhaps like an image path is hardcoded with an absolute path to the production server and a port number that's not accessible from outside?

[2014-11-07 22:12] paregorios opened #2 "odd layout in footer"
A horizontal bar of background color with an apparent spinning status icon overlays the footer area and the text it contains. Layout of the bottom of the main content block and the footer are altered.

![footer](https://cloud.githubusercontent.com/assets/263285/4961158/2ae603ec-66cb-11e4-9d8d-4eccd908a132.jpg)

[2014-11-07 22:14] paregorios opened #3 "Exhibitions page missing"
trying to resolve /exhibitions results in 403 Forbidden

[2014-11-07 22:16] paregorios opened #4 "Two images are borked on the publications page"
![edge](https://cloud.githubusercontent.com/assets/263285/4961196/b2eab544-66cb-11e4-9b47-8b68d579bf9c.jpg)
![jiaaa](https://cloud.githubusercontent.com/assets/263285/4961197/b2ec2f82-66cb-11e4-948b-593a4737940c.jpg)

[2014-11-07 22:18] paregorios opened #5 "One image is borked on the online resources page"
![online-exhibitions](https://cloud.githubusercontent.com/assets/263285/4961211/f5790f14-66cb-11e4-964c-6f52c99b23cc.jpg)

[2014-11-19 00:06] paregorios opened #6 "individual events do not display properly"
As we noted on the current production site, something is wrong with the display of individual events. They are not picking up their proper custom template and are instead showing a pretty raw listing of all fields. This problem is also occurring on the post-4.3-migration site, and is therefore something we're going to need to spend some time diagnosing and fixing.

[2014-11-19 00:17] paregorios opened #7 "unauthorized access via link throws an error instead of login prompt"
i've seen this on the current production site as well and would hoping it was a 4.2 problem, but it looks now as if the cause is something else. To reproduce on staging:

* Visit, as anonymous, /research/bukhara-project/news
* At the end of the "Upcoming: June through August 2014 " paragraph click on the link "here"
* Get redirected to /acl_users/credentials_cookie_auth/require_login?came_from=htt

[2014-11-19 00:27] paregorios opened #8 "tinymce toolbar does not appear as expected"
I expect, based on behavior in the production site, to see the tinymce toolbar appear at the top of the browser page when I click into a rich text field. Instead, I see nothing (setting of new drop-down on the rich text field is "HTML"). TinyMCE settings in site setup seem to be correct for what I expect to see.

[2014-11-21 18:38] paregorios opened #9 "cannot maintain login on dev"
I can still successfully login via /portal_skins/plone_login/login_form on the dev server, but when I navigate from there to any other page, I find myself logged out. I have checked cookie settings, and nothing is being blocked. I get the same behavior in chrome and safari.

[2014-11-21 18:41] #1 closed, assigned to paregorios

[2014-11-21 18:43] #5 closed, assigned to paregorios

[2014-11-21 18:43] #4 closed, assigned to paregorios

[2014-11-21 18:45] #3 closed, assigned to paregorios

[2014-11-21 18:45] paregorios opened #10 "Nomads and Networks exhibition throws an error"
Trying to resolve the path /exhibitions/nomads-and-networks throws an error (in my case: 1416595474.110.251422163524.).

[2014-11-21 18:46] paregorios opened #11 "Edge of Empires exhibition throws an error"
Trying to resolve /exhibitions/edge-of-empires throws an empire (in my case: 1416595565.260.070869834368.).

[2014-11-21 18:49] paregorios opened #12 "Old Europe Exhibition returns 404"
Trying to resolve /exhibitions/oldeurope/home.html returns 404, presumably because we haven't yet set up the php application on which it depends. I am assigning this issue to myself, since I need to dig out whatever documentation we have on this.

[2014-11-21 18:51] paregorios opened #13 "content error: link to Measuring and Mapping Space exhibition is not relative"
On the exhibitions listing page, the link to the Measuring and Mapping space exhibition is hard-coded as an absolute link (i.e., with http://isaw.nyu.edu/exhibitions/space/) instead of with a relative path like ./space/. Can't verify that the dev copy is healthy without making this a relative link.

[2014-11-21 20:52] #9 closed, assigned to paregorios

[2014-11-26 16:22] alecpm opened #14 "TinyMCE overlays (e.g. images) have layout problems"
Items appear in a single column, form field widths are larger than the overlay, etc.  Screenshot attached.

![screen shot 2014-11-26 at 8 21 07 am](https://cloud.githubusercontent.com/assets/202854/5204578/571c1d60-7545-11e4-87f8-06b1f71eef37.png)

[2014-12-01 18:12] #2 closed, assigned to paregorios

[2014-12-02 12:36] #13 closed, assigned to paregorios

[2014-12-02 12:38] #11 closed, assigned to paregorios

[2014-12-02 12:38] #10 closed, assigned to paregorios

[2014-12-02 12:39] #8 closed, assigned to paregorios

[2014-12-02 12:45] paregorios opened #15 "can't upload images"
Created a page. Inserted cursor. Clicked image icon in TinyMCE editing bar. Got menu. Selected "internal" tab. Clicked "upload" link. Overlay greyed out, but nothing further visible. Chrome on MacOSX.

[2014-12-02 13:12] paregorios opened #16 "main events page not picking up stock Plone events"
I have troubleshot this on production and can provide pointers for making template changes so this works in the post-4.3 upgrade dev version. Don't have time now, but will update with details later today.

[2014-12-04 20:50] paregorios opened #17 "add robots.txt script via the ZMI"
Please create and add to production a robots.txt script via the ZMI which disallows crawling when the domain is anything other than the canonical domain for the site.

[2014-12-04 22:26] #6 closed, assigned to paregorios

[2014-12-05 10:47] #14 closed, assigned to paregorios

[2014-12-05 10:47] #15 closed, assigned to paregorios

[2014-12-10 22:30] paregorios opened #18 "kinik hoyuk on isaw4-new is not properly symlinked"
symlinks and project user and git clone got clobbered on copy from production

[2014-12-10 22:30] paregorios opened #19 "campa inscriptions needs to be set up on isaw4-new"
same way as amheida and kinik hoyuk

[2014-12-16 20:42] #18 closed, assigned to paregorios

[2014-12-16 20:47] #17 closed, assigned to paregorios

[2014-12-19 16:52] #12 closed, assigned to paregorios

[2014-12-19 16:55] #19 closed, assigned to paregorios

[2015-03-12 18:20] skleinfeldt commented on #16
@paregorios is this still and issue?

[2015-03-12 18:24] skleinfeldt opened #21 "Workflow modifications"
Please make workflow changes per the March 4-5 email thread "next question: tutorial on roles, permissions, and sharing".

[2015-03-12 18:28] skleinfeldt opened #22 "Lost event images"
The images on the pre-upgrade custom event types should have become lead images on the post-upgrade [almost] stock Plone events. Troubleshoot why this did not happen and propose a solution, with estimate.

[2015-03-16 16:05] paregorios commented on #16
fixed; closing

[2015-03-16 16:05] #16 closed

[2015-03-16 19:27] paregorios opened #23 "cannot edit speaker name/subtitles on events"
In the "events" slider view on the ISAW home page and in the events main page (https://isaw.nyu.edu/events) we see information (in bold) about subtitle/speaker. But this information does not show up in the individual event view, nor in the edit view. We have had to retract at least one upcoming event because we cannot correct erroneous information.

Example: on home page and /events you'll see und

[2015-03-16 19:29] paregorios opened #24 "clicking on a day in the events portlet calendar throws a traceback"
Click on any linked date in the little calendar in the right-hand portlet under https://isaw.nyu.edu/events/ and you'll get an error, e.g., KeyError: 'portal_syndication' for https://isaw.nyu.edu/search?review_state=external&amp;review_state=internally_published&amp;review_state=published&amp;start.query:record:list:date=2015-3-17+23%3A59%3A59&start.range:record=max&end.query:record:list:date=2015

[2015-03-16 19:48] cguardia commented on #24
Fixed this one temporarily on custom skin. Will move fix to github later today.

[2015-03-16 21:16] paregorios opened #25 "editor drop-down menus show up in odd place"
The "style" and "font size" drop-downs on the content editor toolbar show up half-way down the page instead of immediately below the click point. See screen capture.

![wonky](https://cloud.githubusercontent.com/assets/263285/6676684/cbf2d490-cbf7-11e4-9731-2dc27f921d57.jpg)

[2015-03-16 21:25] cguardia commented on #23
Speaker and subtitle are not standard event fields. Looks like I mistakenly copied those fields when migrating. Should I just remove those lines from the template?

[2015-03-17 17:32] paregorios commented on #24
This does now appear to be working on production. But is that result of custom skin still, or has it been updated from repos?

[2015-03-17 17:33] paregorios commented on #23
According to stories number 56 and 104 in scrumdo, these fields should have been handed in an extended Plone event type. It looks like coding work on that was done, but not yet merged for deployment on production. See comments there?

[2015-03-17 17:34] paregorios commented on #22
see scrumdo stories 56 and 104

[2015-03-18 06:55] cguardia commented on #24
The code has been updated. The custom template was removed.

[2015-03-18 06:57] cguardia commented on #23
Sorry for the confusion. We thought we had somehow failed to merge that branch, but it turns out that the problem was just a missing upgrade step. Fixed.

[2015-03-18 09:33] cguardia commented on #22
The migration script did have code to deal with this, not sure why it failed. Can you give me an example of an event that you know for sure that had an image? I think I can write a script to get the images from the old server.

[2015-03-18 14:59] paregorios commented on #24
Confirmed works! Thanks. Closing.

[2015-03-18 14:59] #24 closed

[2015-03-18 15:02] paregorios commented on #23
We can now see and edit these fields in the "edit" form (e.g. https://isaw.nyu.edu/events/rostovtzeffthree/edit ) but they do not appear in the view template at all (e.g., https://isaw.nyu.edu/events/rostovtzeffthree ). What would it take to get them to appear there too?

[2015-03-18 15:04] paregorios commented on #22
So I guess I'd better ask Tummy not to turn this off tomorrow while we try to get this sorted? I won't have time to hunt down images until this afternoon at earliest.

[2015-03-18 19:11] cguardia commented on #22
I should be able to do this tonight. I don't think we will need more time than that.

[2015-03-18 19:11] cguardia commented on #23
That's pretty easy to do. Just tell me where you want them.

[2015-03-18 19:19] paregorios commented on #23
Immediately after description. Prefer the following order:

subtitle
speaker
speaker affiliation

[2015-03-18 19:39] paregorios commented on #22
Here's an example event (now expired) that we know had an image:

/events/king-and-courtiers

[2015-03-19 06:05] cguardia commented on #23
Done.

[2015-03-19 09:55] cguardia commented on #22
The images have been restored.

[2015-03-31 00:13] alecpm commented on #21
I've implemented the workflow changes and applied them to the server.  I also initiated the update workflow security mappings method to update permissions for existing content on the site.  However, that process has now been running for 24 hours.  Hopefully it will complete soon without triggering a conflict error (though that's unlikely given the long running time).

[2015-04-02 15:19] paregorios commented on #25
@skleinfeldt Still seeing this on production. Should I have assigned this to someone else?

[2015-04-02 15:19] paregorios commented on #23
confirmed. closing.

[2015-04-02 15:19] #23 closed

[2015-04-02 15:20] paregorios commented on #22
confirmed. closing: fixed

[2015-04-02 15:20] #22 closed

[2015-04-02 15:59] paregorios opened #26 "not seeing crop tools in editor on production"
Apropos scrumdo story 96 (Image Editing Features), I don't see [a cropping tab](http://webmeisterei.com/news/image-cropping-for-everyone) or anything like that when editing or editing images on production, even though the plone.app.imagecropping product seems to be installed. What am I missing?

[2015-04-02 22:01] skleinfeldt commented on #25
No I'm the right person, sorry I didn't respond. I had moved into "no more hours on ISAW for now!" mode and was hiding my head in the sand. But we can fix it now if it is getting in the way - ?

[2015-04-03 00:44] alecpm commented on #26
I'm seeing the cropping tab for example here:

http://isaw.nyu.edu/library/copy_of_photooflibrarybookstacks.jpeg/@@croppingeditor

[2015-04-07 18:54] paregorios commented on #25
It doesn't seem to be bugging anyone but me. Let's defer unless there's howling.

[2015-04-07 18:56] paregorios commented on #26
Ah, thanks for that. I didn't understand that the cropping functionality showed up on the image page itself, rather than via the editor. All good! closing.

[2015-04-07 18:56] #26 closed

[2015-04-13 18:54] k2soule opened #27 "Syndication: need to include creator name in feed"
This appears to be a bug; when information about a news item is pulled into the RSS feed, it is omitting the creator; it looks like there are empty <dc:creator> fields in the feed. It would be great to find a fix for this.

[2015-04-13 18:58] k2soule opened #28 "Syndication: option to include thumbnail image"
After the Library team asked about this, I realized that currently the images attached to their blog items are not shared with the RSS feed. It would be ideal if a thumbnail of the primary image associated with a news/blog item were included in the feed.

[2015-04-14 10:58] paregorios opened #29 "footer "news link" points to /news/RSS instead of /news/collector/RSS"
Only news items should appear in the RSS feed.

[2015-04-23 15:25] paregorios opened #30 "Indexerror: leapback on collection creation"
Tried to create a collection with creator=username, sort (reversed) by modifcation date. On initial attempt to save criteria form:
[code]

[2015-04-24 13:03] paregorios opened #31 "why do we have two "collection" types in the "add" action menu?"
Unclear what the difference is or why we need both. Not distinguishable for users from the menu. Can we not consolidate and eliminate one of them?

[2015-04-24 13:07] paregorios commented on #7
I'm resurrecting this ticket because we still have the behavior and I want to make sure that, once we've been through the design implementation process, we've succeeded in getting rid of the behavior.

[2015-04-24 14:36] skleinfeldt commented on #31
I assume this would be "old style" and "new style" collections which were introduced in Plone 4.2. This page explains how to enable/disable either type: https://plone.org/documentation/manual/upgrade-guide/version/plone_4_2_upgrade_notes/upgrading-to-new-collections

I'm guessing that you've been using old style collections all along and decided when you upgraded to 4.2 to disable the new style on

[2015-05-21 16:52] paregorios opened #32 "open graph author property has invalid contents"
For example, the Facebook Open Graph Object Debugger reports the following "Error that must be fixed" for http://isaw.nyu.edu/visiting-scholar-program/frequently-asked-questions :

    More Than One OG URL Specified
    Object at URL 'http://isaw.nyu.edu/visiting-scholar-program/frequently-asked-questions' of type 'article' is invalid because it specifies multiple 'og:url' values: http://isaw.nyu.

[2015-05-21 16:59] paregorios commented on #32
News items also throw this error, e.g. https://developers.facebook.com/tools/debug/og/echo?q=http%3A%2F%2Fisaw.nyu.edu%2Fnews%2Fisaw-featured-in-nyu-alumni-magazine

[2015-05-22 21:15] paregorios commented on #25
See now https://github.com/isawnyu/isaw.theme/issues/6

[2015-05-22 21:24] paregorios opened #33 "old isaw-event types persist on add menu"
This behavior occurs on both production and dev at present. When an authenticated user with the correct permissions clicks on "add new" the menu of types includes not only the stock plone "Event" but also the deprecated custom event types: "Conference Event", "Exhibition Event", "General Event", "Lecture Event", "Performance Event", "Seminar Event", and "Sponsored Event".

There are a series of st

[2015-05-22 21:24] paregorios commented on #33
Not sure who to assign this to either @skleinfeldt

[2015-05-26 22:01] paregorios opened #34 "search doesn't work on dev"
Navigated to /search and entered various things that ought to be searchable text into the form. No luck. Also seemed to go away and not come back (i.e., when entering something new after getting 0 results, would get a "you already clicked submit, do you really want to click submit again" message.

[2015-05-27 13:19] skleinfeldt commented on #34
Maybe because we haven't themed search yet? That's a story for next week.

[2015-05-28 01:53] paregorios commented on #34
that would indeed explain it :)

[2015-06-03 01:53] cewing opened #35 "Fix descriptions for items in the tiled listing view"
Add descriptions where we currently show [exerpt].  Eliminate the fancy text block in the sticky item viewlet.

[2015-06-03 01:54] cewing opened #36 "Implement progressive load for "view more" button on tiled listing view"
Simple js load of the next page, returning only the listed news items.

[2015-06-03 02:07] cewing commented on #35
fixed

[2015-06-03 02:08] #35 closed

[2015-06-03 04:30] cewing commented on #36
Fixed.  This closes the news-listing story

[2015-06-03 04:30] #36 closed

[2015-06-10 04:27] alecpm commented on #34
Is this still an issue?

[2015-06-10 09:48] paregorios commented on #34
No, this works!

[2015-06-10 09:48] #34 closed

[2015-06-10 11:53] skleinfeldt commented on #33
@paregorios I think this is now fixed?

[2015-06-10 13:15] paregorios commented on #33
Yes, sorry I thought I'd closed this. Doing so now.

[2015-06-10 13:15] #33 closed

[2015-08-04 19:10] k2soule opened #37 "calendar buttons and grid need tweaks (from isaw.theme)"
Copying this issue over from isaw.theme issue #46:
In calendar view, the Month and Week buttons look unfinished (missing a side border), and the calendar grid is misaligned in Week view.

I think this may be fixed, but I can't tell at the moment (can't see events). I've copied this issue here to remind myself to check.

[2015-08-04 19:31] k2soule opened #38 "implementing story #98 "space aliens" (from isaw.theme)"
Copying over from .theme:
It appears that the emergency message element is being generated underneath the header bars on the home page (a layer that is not visible), rather than pushing the page header and contents down from above. On all other pages we've checked, the emergency message appears as intended. We'll need some assistance tweaking the home page to make the "aliens/bigfoot" message bar

[2015-08-11 20:41] k2soule opened #39 "image caching problem in news blog and elsewhere"
When I replace the lead image for a news item, it only changes the tile image on the main blog page. The old image remains inside the news item. An example:
https://isaw.nyu.edu/news/isaw-hosts-the-academy-for-teachers

[2015-08-11 21:25] k2soule opened #40 "footer editing"
Hours information has been updated, but the footer appears with a vertical scroll bar now.

[2015-08-11 21:26] k2soule commented on #40
eventually, we're going to need a more intuitive mechanism for editing footer information.

[2015-08-11 22:36] k2soule commented on #40
Alec fixed the footer height via CSS.

[2015-08-12 11:33] paregorios opened #41 "syndication links not rendered into folder base_view"
Even when syndication is turned on and set up on the folder. Consider:

* /news
* /library/blog
* /events

So, not catered for in template? Collections work as expected, e.g. /news/collector where we see what we expect:

[code]

[2015-08-12 11:40] paregorios opened #42 "intranet workflow not properly applied to child folders"
For items assigned placefully to "intranet workflow", we expect to have the following states available:

* private
* internal draft
* pending
* internally published
* externally published

But we only have:

* private
* internal draft

[2015-08-12 11:42] paregorios commented on #42
Actually, it seems to be inconsistent. Getting more data...

[2015-08-12 11:45] paregorios commented on #42
Actually, content areas that already had "intranet workflow" assigned before the design rollout seem to be fine (e.g., /about/employee and /guide), but when I newly apply the policy to a context, I only see the two options indicated above ("private" and "internal draft"), e.g., /about/latest

[2015-08-12 11:46] paregorios commented on #40
Reopening. I assumed this ticket was only about CSS but now I see it's really about the editing content issue.

[2015-08-12 21:35] paregorios opened #43 "news page does not update reliably to show newly published news items"
caching?

[2015-08-17 16:38] paregorios commented on #30
I have the impression this got fixed already, perhaps via another ticket.

[2015-08-17 19:07] paregorios opened #44 "permissions: "can edit" doesn't seem to imply "can add*"
We have created some groups for managing content in (e.g.) the news blog. They are "News Writers" and "News Editors". We have given the writers "can add" via the "sharing" tab on /news and have given the editors "can edit".

**As expected:**
 * **writers** can navigate to /news, add a content item, and then edit it subsequently.
 * **writers** are not able to edit content items created by others,

[2015-08-17 19:12] paregorios opened #45 "permissions: "can edit" doesn't include "can submit""
See the groups setup description in #44.

We would like our "news editors" to be able to submit any draft item in /news for review, but giving them "can edit" via sharing doesn't confer this ability. Giving them "can review" makes it possible not only for them to submit for review, but to publish. We do not want them to be able to publish.

Can this be modified?

[2015-08-17 19:28] alecpm commented on #44
Editors can edit, but not add.  Contributors can add, but not edit (anything except the content they created).  You want to give your Editor group both the Editor and Contributor roles (Can Edit and Can Add), if you want them to be able to create content.  Alternatively, we could change the default site permissions for the global Editor role to include the various Add permissions.

[2015-08-17 19:29] paregorios opened #46 "remove custom roles from rolemap.xml"
We would like our site-wide "publishers" to be able not only to "publish" items that have been submitted for review, but also to check in working copies as part of the publication workflow. We have given a user the "reviewer" role via ```@@usergroup-userprefs``` and that user can publish submitted content anywhere, but they are not given "check in" as an option on the "actions" menu even when they

[2015-08-17 19:34] paregorios commented on #44
@alecpm evidently I misunderstood previously. The first solution you suggest -- giving them both "can edit" and "can add" is fine and that's what we'll do. I just wanted to make sure I wasn't missing something. Thanks.

[2015-08-17 19:34] #44 closed

[2015-08-18 15:01] paregorios commented on #43
this may be fixed; check

[2015-08-18 15:01] paregorios commented on #42
I think this is fixed. Double-check.

[2015-08-18 15:01] paregorios commented on #41
Check if this is still a problem.

[2015-08-18 15:02] paregorios commented on #39
@k2soule is this still happening?

[2015-08-18 15:02] paregorios commented on #38
check on current behavior

[2015-08-18 15:03] paregorios commented on #37
@k2soule ... until we have some event content, I don't think we can check this can we?

[2015-08-18 15:03] paregorios commented on #32
see if this still is going on

[2015-08-18 15:04] paregorios commented on #31
I'm taking this to disable old-style collections if they are not already so disabled.

[2015-08-18 15:05] paregorios commented on #30
Check on this.

[2015-08-18 15:05] paregorios commented on #29
is this still happening?

[2015-08-18 15:06] paregorios commented on #27
double-check to see if this is still (not) happening.

[2015-08-18 15:07] paregorios commented on #25
This I think is because of the setting that puts the editor bar at the top of the browser window (which is now also clashing with the header). I'm going to try changing the editor settings and see what happens.

[2015-08-18 15:08] paregorios commented on #21
I have the impression that this is all good to go. Any objections @alecpm if I close this ticket?

[2015-08-18 15:09] paregorios commented on #7
I have the impression that this is resolved. @k2soule do you concur?

[2015-08-18 15:15] paregorios commented on #45
Is there by chance a quick "you are doing it wrong" answer that can be given on this question without doing a bunch of work? @alecpm @skleinfeldt

[2015-08-18 15:16] paregorios commented on #46
I also wonder if there's a quick clarification answer to this question too... @alecpm @skleinfeldt

[2015-08-18 15:27] skleinfeldt commented on #21
@paregorios It's fine to close it, in fact it's a great idea - if any problems remain, better to open more specific tickets.

[2015-08-18 15:31] skleinfeldt commented on #45
It sounds to me like there is a flaw in the workflow (it's a custom WF right? The default Plone WF allows editors to submit for review.) A quick glance at the code would confirm this, which you can probably do, that code is pretty obvious.

[2015-08-18 15:35] skleinfeldt commented on #46
Again this sounds to me like a flaw in the custom WF code, but I am not so familiar with what that looks like with working copies enabled.

Can  you clarify if this is new behavior since the recent theme deployment? I thought we made these WF changes a while ago (a story leading up to the 4.3 upgrade), and did not change them again recently?

[2015-08-18 16:48] alecpm commented on #45
If you want Editors to be able to submit content written by others regardless of the workflow in place, then we'll want to change the global assignment for the "Request review" permission (this permission is also not managed via WF by default).

[2015-08-19 15:18] paregorios commented on #45
Thanks. I will refactor this ticket to make it a request for the intervention suggested by @alecpm

[2015-08-19 15:24] #21 closed

[2015-08-19 18:03] k2soule commented on #39
Still happening. In fact, when I try to reload the /news page on my anonymous browser after making changes in my authenticated browser, it freezes on a blank white screen and can't reload. Also, I'm not sure whether this is related, but several images on news items appear to have lost their cropping data. (the blogtile cropped versions are no longer showing up on the /news listing).

[2015-08-19 18:58] k2soule commented on #37
Actually, now I can see enough to confirm that the styling on the Month and Week buttons has been fixed. However, the calendar Week view itself is still misaligned. The columns don't line up directly under the days.

[2015-08-20 16:25] paregorios commented on #46
We would not have noticed this problem on the previous production because many of our users (including the director, who is now in question) were given the following roles **globally** via ```@@usergroup-userprefs```:

 * contributor
 * editor
 * member
 * personnel manager
 * reader
 * reviewer
 * manager (I think)

We've pulled these all back now and are trying to manage things mostly with "grou

[2015-08-20 17:55] paregorios commented on #46
I've done some poking around and guess that a piece of what I didn't understand is to be found in the rolemaps.xml file in the isaw.policy product. I've compared what's there with what's said about ["Standard Permissions and Roles" in the Plone docs](http://docs.plone.org/develop/plone/security/standard_permissions.html) and answered my own question: we are not standard. Evidently someone else in

[2015-08-20 18:04] alecpm commented on #46
All the listed roles are standard, except for Personnel Manager which may be an artifact of an earlier FacultyStaffDirectory install (it's not mentioned in isaw.facultycv or other custom addons).  There should also be a "Site Administrator" role, which is like Manager but without access to the ZMI and a few other things they might accidentally shoot themselves in the foot with.

The comment I left

[2015-08-20 18:09] alecpm commented on #45
Hm, it appears the Editor role already has the "Request review" permission that is required by the isaw_standard_workflow to "submit" content.  It's both set on the site and in the profile, so this is a bit mysterious.  Could you point me to a specific piece of content where you've seen this problem, so that I can check the local permissions?

[2015-08-20 18:59] k2soule opened #47 "news items lose cropping info for lead image after edit"
News items with a lead image are losing their saved cropping information unexpectedly. We've observed that the blogtile crop selection is lost, and the lead image reverts to showing uncropped on the news blog listing.

We suspect that this happens when an item is edited, but haven't been able to replicate yet.

[2015-08-20 22:51] skleinfeldt commented on #46
Should it be a goal to get rid of rolemap.xml in the policy product and just use standard Plone roles? That would be less confusing for everyone and less high maintenance going forward I would think.

[2015-08-20 23:03] paregorios commented on #42
This is not fixed. Will provide details shortly.

[2015-08-20 23:04] paregorios commented on #46
I can't answer Sally's question as I don't understand the implications or outcomes. I had had the expectation back last fall that we would get rid of all legacy customizations and move to plone defaults, then address the workflow needs we specified. It seems now that that initial step of getting rid of the old customizations wasn't quite what we did, the global permissions settings which we chose

[2015-08-20 23:13] paregorios commented on #42
I have an example folder where this is happening: .

 * I logged in via Shibboleth using my netid
 * I navigated to my personal folder
 * I created a folder therein with the id ```workflow-tests-intranet```
 * I added placeful workflow "intranet" to folder and to below the folder

The folder shows "State: Internal Draft". When I click the state transition menu, I only see the following options:

[2015-08-20 23:17] paregorios commented on #43
Review and prioritization is blocked for testing on staging.

[2015-08-20 23:19] paregorios commented on #41
This works. May have been a cache artifact. Closing.

[2015-08-20 23:19] #41 closed

[2015-08-20 23:20] paregorios commented on #40
Yes, we need the ability to modify footer content -- specifically gallery and library hours -- through the web. Pushing theme updates to change these will be a pain.

[2015-08-20 23:21] paregorios commented on #39
There is now a separate ticket (#47) for the loss of cropping problem.

[2015-08-20 23:22] alecpm commented on #46
The rolemap.xml incorporates all the TTW changes that were made on the site prior to Jazkarta's involvement along with a few newer permission changes.  We didn't change global permissions from what was already in place except where specifically requested.  At this point, the file is mostly specific global permission changes that have been requested in the past, and it is likely that more will need

[2015-08-20 23:23] paregorios commented on #39
Further review of this issue is blocked until we are sure that staging has common code with production so that we can test further.

[2015-08-20 23:26] paregorios commented on #38
further testing and review is blocked until we can verify that staging is running the same code as production

[2015-08-20 23:29] paregorios commented on #37
it looks like there are some extra cells (or messed-up colspans) in a couple of the rows in the calendar week view. See screenshot below. I'm taking this ticket to examine markup and CSS to verify exactly what is wrong and determine whether it can be fixed via CSS or if it needs a template modification.

![wonkyweek](https://cloud.githubusercontent.com/assets/263285/9398134/6de9c064-4769-11e5-87d0

[2015-08-20 23:32] k2soule commented on #7
Yes, this is fixed; visitors are directed to the NYU shibboleth login screen now, as expected. Closing ticket.

[2015-08-20 23:32] #7 closed

[2015-08-20 23:42] paregorios commented on #32
The Facebook Open Graph Object Debugger is no longer reporting the duplication errors, so evidently they are no longer with us; however, it is reporting that the object is rendered invalid because we are inserting the Plone username of the Creator in the article:author property when Facebook expects a "profile" (i.e., a Facebook account profile). Here's the actual error message from an example:

I

[2015-08-20 23:47] paregorios commented on #30
Yes, this is fixed. Closing.

[2015-08-20 23:47] #30 closed

[2015-08-20 23:48] paregorios commented on #29
blocked for further testing until we are sure that staging is running the same code as production

[2015-08-21 00:07] paregorios commented on #29
Actually, this was still happening, but I was able to resolve that issue and uncover a new one! Here's the deal:

/news/RSS is the RSS feed for the folder. It seems to include any and all content that is contained in the folder (not sure why there are images in here, but there are). But turning off syndication at the folder level gets rid of that problem.

/news/collector/RSS is the RSS feed for t

[2015-08-21 00:09] paregorios commented on #29
Also, wierdly, /news/RSS seems to redirect to /news-old/RSS after I turned off syndication on /news

[2015-08-21 00:13] paregorios commented on #27
* Atom feed has creator properly populated (although it would be nice if username were looked up and i nserted instead of plone username).
 * RSS 2.0 output has no field in it right now for the creator
 * RSS 1.0 has empty dc:creator fields as outlined above in issue thread.

[2015-08-21 00:39] skleinfeldt commented on #29
Is the News RSS link in the footer related to #40 the ticket about editing the footer? In other words it is a value manually set in portal_actions or some such? Or maybe even set in the theme? Sorry I don't know, but those are some places to check.

[2015-08-21 15:34] paregorios commented on #29
* @skleinfeldt we don't imagine needing to edit and re-edit the link for the RSS in the footer, so we hadn't imagined it being a part of the #40 tasks.
 * The footer "news RSS" link magically appeared when I turned on syndication via ```/@@syndication-settings``` (i.e., login -> site settings -> syndication).
 * I had assumed that the URL slug for it is based on the selection in the "Site RSS" wid

[2015-08-21 15:49] skleinfeldt commented on #29
Of course, that makes sense. I'm totally out of my league here, but wonder if you should check for an errant customization to document actions - /portal_actions/document_actions/rss/manage_propertiesForm. But I really don't know how this works anymore...

[2015-08-23 16:02] paregorios commented on #46
I would like to request some interactive help time on this as early in the coming week as can be managed. I've spent several hours this weekend trying to set up examples on staging, but I'm beset by a combination of lack of understanding and by differences in behavior between production and staging. I'm currently blocked on staging by the fact that some local plone users (i.e., not tied to netid)

[2015-08-23 16:53] paregorios opened #48 "default workflow problems"
The following problems have been identified through manipulation of test users, groups, and content on production inside the ```/permission-tests/default-workflow-tests``` folder.

Settings via "Sharing" tab on the folder:
-------------------------------------------------------
![perms](https://cloud.githubusercontent.com/assets/263285/9429155/8f9c2146-498c-11e5-83a7-e06a9ce90db9.jpg)

A test user

[2015-08-23 17:00] paregorios opened #49 "intranet workflow problems"
The following problems have been identified through manipulation of test users, groups, and content on production inside the ```/permission-tests/intranet-workflow-tests``` folder.

Settings via "Sharing" tab on the folder:
--------------------------------------------------------
![perms-intra](https://cloud.githubusercontent.com/assets/263285/9429209/49005642-498e-11e5-88cb-4714c687f40b.jpg)

Pla

[2015-08-23 17:22] paregorios commented on #49
I have not yet finished testing and documenting for this issue, but have to step away from the task for the time being. Will add labels etc. once this issue entry is complete and is ready to be addressed.

[2015-08-24 15:14] skleinfeldt commented on #46
Would a 1:00 eastern/noon central time today work for you for a meeting @paregorios and @k2soule ?

[2015-08-24 15:44] skleinfeldt commented on #48
You'll probably want to verify during your meeting with those who have much greater knowledge that me, but:

Yes owners normally have god-like permissions on their own content, they can submit and edit even after submitted and *even* after published in the standard Plone workflow - whereas they can't even see others' draft content. These behaviors can be customized, as @alecpm wrote about on that

[2015-08-24 20:10] paregorios commented on #46
The check-in aspect of this ticket is now subsumed into and superseded by nos. #48 and #49.

I am retitling this ticket to reflect the issue that remains: removing the old and presumed derelict custom roles from rolemap.xml as suggested by @alecpm, above.

[2015-08-24 20:12] paregorios commented on #45
The issue addressed in this ticket has been subsumed into and superseded by nos. #48 and #49. Therefore I am closing this ticket as "duplicate"; however, I will put a back reference from those newer tickets because of the discussion above from @alecpm about the ```Editor``` role and "Request review" permission.

[2015-08-24 20:12] #45 closed

[2015-08-24 20:13] paregorios commented on #48
See #45 for discussion of editors being able to submit. I think there may be some prior looseness of terminology on my part contributing to confusion here.

[2015-08-24 20:13] paregorios commented on #49
See #45 for discussion of editors being able to submit. I think there may be some prior looseness of terminology on my part contributing to confusion here.

[2015-08-24 20:19] paregorios commented on #42
In addition to the example immediately above, I have also been able to cause this failure to occur by adding a folder to ```/permission-tests/intranet-workflow-tests```. The added folder is ```https://isaw.nyu.edu/permission-tests/intranet-workflow-tests/foo/```. This new folder acquired the initial state as expected on creation: ```internal draft```. But the only options, even for an admin user,

[2015-08-24 20:27] paregorios commented on #48
NB: child folders do not properly acquire all possible states from the intranet workflow. See separate ticket: #42.

[2015-08-24 20:28] paregorios commented on #49
NB: child folders do not properly acquire all possible states from the intranet workflow. See separate ticket: #42.

[2015-08-24 20:48] paregorios commented on #25
I changed the settings and it's more workable to have the menu bar attached to the individual content boxes I think. There's still a bug IMO as described above, but I'm going to close this ticket "won't fix" anyway since this workaround works.

[2015-08-24 20:48] #25 closed

[2015-08-24 22:13] k2soule commented on #43
even after clearing my browser cache, closing the browser, and re-launching it, I can't see the changes I've made to a published news item. In this case, Lorenzo's excavation.

[2015-08-25 19:26] paregorios commented on #38
This is a pure themeing (CSS) issue. Transferring to tracker on isaw.theme: https://github.com/isawnyu/isaw.theme/issues/92

[2015-08-25 19:26] #38 closed

[2015-08-26 17:47] paregorios commented on #43
There is definitely something wonky going on on staging. I visited the news page in an anonymous tab. In another tab, I authenticated and created and published a new news item. I went back to the anonymous tab and reloaded. I saw the new item in the tiled listing as expected. Back in the authenticated tab, I edited the news item I had just published (modified the summary). I went back to the anony

[2015-08-26 17:48] paregorios commented on #43
We will have to watch for this behavior on production.

[2015-08-26 17:54] paregorios commented on #39
I cannot now reproduce this behavior on staging.

I visited the main news page in an anonymous tab. In another, authenticated tab, I added a new lead image to a news item and then I cropped it for "blogtiles". Then in the anonymous tab, I hit reload. I saw the new and properly cropped image. Back in the authenticated tab, I replaced the lead image with another one and then adjusted the cropping fo

[2015-08-26 18:04] paregorios commented on #37
So the header is a completely separate table from the underlying content table. We can probably make this align with CSS. But wow is the base coding a hack.

[2015-08-26 19:18] paregorios commented on #29
fixed via portal actions

[2015-08-26 19:18] #29 closed

[2015-08-27 20:56] paregorios commented on #42
FYI: It turns out this is blocking time-critical internal content publishing (new employee/student guide) ahead of this coming Monday's orientation.

[2015-08-27 21:47] alecpm commented on #42
It looks like the intranet policy is not using the custom ISAW intranet workflow, but is instead using the standard "Intranet/Extranet Workflow" for standard content, with "Intranet Workflow for Folders" for Folders and Collections (which is a limited two state workflow with a badly named "internal daft" state), and no custom workflow for other add-on/custom content.  That shouldn't be the case, b

[2015-08-27 21:51] alecpm commented on #42
Do you want a simplified (non-reviewed) workflow for folders in the intranet, similar to the "Intranet Workflow for Folders" or the "Folder Workflow"?  Do you want to be able to publish folders in the intranet externally?

[2015-08-27 22:18] paregorios commented on #42
To the degree that I understand this, we want our custom workflow to be
uniformly applicable to all content in the sub tree to which it is
assigned. Folders treated same as everything else so:  draft, pending,
internally published, externally published.

Sent from aboard the Liveware Problem.

On Aug 27, 2015, at 4:47 PM, Alec Mitchell <notifications@github.com> wrote:

It looks like the intranet

[2015-08-27 23:08] alecpm commented on #42
OK, try out the new ISAW Intranet Policy here https://isaw.nyu.edu/permission-tests/intranet-workflow-tests/foo/ and let me know if it does what you expect.

[2015-08-28 02:20] paregorios commented on #42
Yes, these are the states and transitions that we need. I've tested with this item and also with ```/permission-tests/intranet-workflow-tests/new-folder-test``` and a subordinate folder.

We have one further challenge, which only came into clear focus today: we need to be able to limit viewability for items in under the "isaw intranet workflow" that are in the "internally published state" to parti

[2015-08-28 05:52] cguardia commented on #40
I did this and pushed to master but I ran out of time to deploy. Note that since we were getting two dynamic bits already (support ISAW link and personal tools), the html structure needs to keep tags for "footer-support-link" and "personal-tools-links" intact.

[2015-08-28 10:16] paregorios commented on #40
I just tried deploying this on staging and the entire footer is now missing. Will investigate, but please @alecpm @skleinfeldt @k2soule @cguardia no one deploy master on production until we sort this.

[2015-08-28 10:18] paregorios commented on #40
On staging, ```/@@isaw-settings``` throws the following traceback:

[code]

[2015-08-28 10:22] paregorios commented on #40
@cguardia @skleinfeldt I would prefer that we back this out of master ASAP until it has been thoroughly tested and accepted so its presence there is not a blocker for deploying other key capabilities.

[2015-08-28 12:48] skleinfeldt commented on #40
Sent an urgent email to Carlos and Alec to make sure they see this; I'll be unavailable the rest of the morning.

[2015-08-28 15:51] cguardia commented on #40
Sorry, I was away. That error means that you need to run the upgrade step I added for the theme.

[2015-08-28 16:17] paregorios commented on #40
How is that upgrade step run?

[2015-08-28 16:26] paregorios commented on #40
From @cguardia here's how to run the upgrade step:

[2015-08-28 16:27] paregorios commented on #40
Also a caveat from @cguardia:

I note that admin users could also make changes in raw HTML, thereby being able to see the structure and respect it.

[2015-08-28 16:45] paregorios commented on #40
Thanks to guidance from @cguardia I am confident that this capability is now ready for deployment to production. I can perhaps do that this afternoon.

[2015-08-28 22:22] alecpm commented on #49
I believe the latest code (deployed on dev) addresses these issues, with the exception of the issue of visibility of "internally published" items, for which I've followed the suggestion on #42.

[2015-08-28 22:22] alecpm commented on #42
I've implemented this change, but I do have a couple questions about it.  This request seems to contradict item 1 on #49.  Also, if "Internally Published" is only visible to those with "Can Read" isn't it effectively identical to "Draft" and "Pending", except with more restrictive editing permissions?

[2015-08-28 22:24] alecpm commented on #48
1) I have limited the "Request Review" permission to Editors.  Content owners without the "can edit" role will not be able to submit content.

2) I have removed the edit permissions from the Editor role when in the pending state.

3) The global check in permission has been changed so that the Reviewer role can check in content.  However, the checkin views require the "Modify Portal Content" permis

[2015-08-28 22:59] paregorios commented on #40
There are now more problems on staging with the footer. A bunch of crazy stuff, including apparently all the content actions (like workflow transitions, cut, copy, paste, etc. is appearing in the footer now). Here is a screen capture:

![footermess](https://cloud.githubusercontent.com/assets/263285/9558708/679d5090-4dae-11e5-84dd-2f203ce8c478.jpg)

This doesn't seem to happen on control panels, bu

[2015-08-28 23:00] paregorios commented on #49
Will test but blocked for resolution of latest problems with #40.

[2015-08-28 23:00] paregorios commented on #48
Will test but blocked for resolution of latest problems with #40.

[2015-08-28 23:02] paregorios commented on #42
Will test but blocked for resolution of latest problems with #40.

[2015-08-28 23:14] cguardia commented on #40
I can take a look at that in a few minutes.

[2015-08-28 23:25] paregorios commented on #48
Looks like the plones on dev are churning through the update permissions step; I'm going to have to wait to test in the hopes that finishes ... it's too slow and intermittent right now to be efficient.

[2015-08-29 00:02] alecpm commented on #48
It looks to me like they've finished

[2015-08-29 00:03] cguardia commented on #40
I was pulling the wrong css class in the rule, sorry. Fixed that on the theme product and on staging.

[2015-08-29 00:06] paregorios commented on #48
hmmm two plones are still pegged at around 100% each

[2015-08-29 00:07] paregorios commented on #40
looks good on staging, thanks!

[2015-08-29 00:57] alecpm commented on #48
All three are pegged, but it does not appear to be due to workflow remapping, which completed some time ago AFAICT.

[2015-08-30 11:26] paregorios commented on #48
As of this morning (Sunday) all 3 of the plones on staging are still pegged. I tailed the logs I could find in /srv/isaw.web./var/log and /var/log/apache but am not sure if anything there is causing it.

I'm not comfortable deploying the changes we've made since design rollout to production until we can figured out and remedy what's causing this.

[2015-08-30 19:10] alecpm commented on #48
I am perplexed about what could have caused the high CPU usage across all clients.  However, restarting the clients and zeoserver appears to have resolved the problem.

[2015-09-01 14:57] skleinfeldt opened #50 "Fix README.txt documentation"
Bring the isaw.web/README.txt up to date, including what branches are being used etc. Add documentation about production and staging - how to deploy new code, how to restart, etc. (You can take much of this from Tom's text file plus clarifying when to use sudo and when not to, and add info on using the upstart supervisor service.)

[2015-09-01 15:07] skleinfeldt commented on #47
We've used up all our time, and because this is intermittent, can I suggest that we wait to address it until we have reliable instructions to reproduce it?

[2015-09-02 21:25] k2soule commented on #47
Sounds like a plan. I've made a note to do some more testing later this week.

[2015-09-04 16:15] k2soule opened #51 "permissions and workflow in /news and /events"
Permissions given to user groups on the /news and /events folders are not acting as expected. It appears to be a problem with the workflow policy applied on those folders. When a member of the News Editors group (with can-view, can-add, and can-edit permissions) is logged in, she can't change the publication state of items in the news folder (except for subfolders).

Notes from Tom: this may be re

[2015-09-10 05:14] alecpm commented on #50
The HOSTING.txt and README.txt have been updated.

[2015-09-11 16:12] k2soule opened #52 "layout oddities in event page"
I'm discovering some problems in the layout of events (individual event display), now that we're adding new events and including images. The lead image for an event is showing up in an odd place; in the same div with the subtitle, and very small. If we include a caption, it gets even stranger. The caption takes up much more lateral room than the image, and shoves the image over (squishing the subt

[2015-09-11 16:14] k2soule commented on #52
As an example, take a look at this working copy of a new event item:
https://isaw.nyu.edu/events/copy_of_levy-lecture-scythian-burials

[2015-09-15 02:37] skleinfeldt commented on #50
@alecpm the README.txt looks good.

In HOSTING.txt a few things to fix:

Lines 15, 19, 27,28 are confusing. The README said we needed Python 2.7, why are we talking about 2.6 and Plone < 4.3?

Fix discrepancy between line 24 and lines 31-34. And don't make it either/or, choose the one we are using.

Line 78 should that really be "get"?

Lines 95 to the end, what is the idea here, what are we synci

[2015-09-15 14:31] paregorios commented on #52
Yeah, that’s screwed up. Sigh.

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Sep 11, 2015, at 11:14 AM, k2soule <notifications@github.com> wrote:

[2015-09-15 14:32] paregorios commented on #52
Can you transfer this ticket to isaw.theme and assign to me? Thanks.

[2015-09-15 18:04] k2soule commented on #52
done. closing this ticket.

[2015-09-15 18:04] #52 closed

[2015-09-15 18:05] k2soule commented on #43
Still seeing this behavior, and not just in /news. Not being able to see one's most recent changes is starting to confuse Marc and Maggie.

[2015-09-16 18:10] k2soule opened #53 "cropping option missing from multiple content types (events, pages, possibly more)"
When editing an Event Item with a lead image, I don't have the Cropping option to adjust cropping settings for that lead image (the way that it's an option for news items).

[2015-09-16 18:16] k2soule opened #54 "event item contact info does not appear"
When the Name, Email and Phone fields are filled out in an Event Item, they don't appear anywhere for the visitor viewing the item.

[2015-09-16 18:25] k2soule opened #55 "Event type info not carrying through to Calendar View"
In the Calendar View of events, all event types are showing up with the same color instead of different colors for different event Types. The Types are selected by the content creators when creating and editing events; but that data is not being carried over to display on the calendar.
![isaw-09-calview](https://cloud.githubusercontent.com/assets/7882896/9914234/d7e7a39e-5c7e-11e5-9c2c-30040647de5

[2015-09-18 19:08] k2soule opened #56 "check-in breaks the default view for a folder"
When a folder is set to display a particular content item as its default view, and that item is checked out + checked in (as per our workflow procedure), the folder reverts to "standard" view upon check-in. This creates a serious problem for editors, who have no way to edit a published file that acts as the default view of its container (without making a mess).

[2015-09-21 17:51] k2soule opened #57 "add support for internal aliases (was "link items")"
When creating an html link inside content body, we have the option of either an internal or external link, and the internal link browser lets an editor choose an existing content item. Why isn't the internal item browser an option for creating a Link item? It's problematic to use typed-out URLs for such links.

[2015-09-21 17:54] k2soule opened #58 "can't add internal image as lead image"
When creating a news item or event item, the creator doesn't have an option to use an existing image on the web site as the lead image. The only option is to upload a new image from the user's computer. The same image may end up being uploaded repeatedly for different items.

[2015-09-21 18:41] skleinfeldt commented on #57
Link content items are primarily for external links. If you want a certain site URL to redirect to another place, it is better to use the Aliases tab in the green bar on the existing item you want to redirect to. (I'm assuming we installed that tool, we usually do.)

Of course you still need to type out a URL with that tool, but I think that's a better way to do it since you don't have an extraneo

[2015-09-21 18:43] skleinfeldt commented on #58
That is correct. Lead images are part of the content item, you can't use an existing image. In the normal use case, the lead image is unique to the content item.

[2015-10-16 15:25] paregorios opened #59 ""news editors" cannot "submit for review" unless they are authors"
more workflow frustrations

[2015-10-19 17:50] paregorios opened #60 "isaw.exihibitions template overrides were removed, but not incorporated into product"
Pre-upgrade, ZMI had been used to customize the checklist template in the isaw.exhibitions product by commenting out some hard-coded HTML relevant to only one of our early exhibitions. This ZMI customization was apparently removed, as directed, but the second step (incorporating the change back into the project code) was evidently never implemented or merged. This caused all of our exhibitions che

[2015-10-23 17:14] paregorios opened #61 "need content rule for item checkin"
Our publications process (workflow) depends on email notifications. Right now, we have the following rules set up:
- email those with publishing authority (i.e., @rogerbagnall) when an item has been submitted for review
- email the creators etc. of an item when it has been moved to "published" status

Our revision process works like this:
- check out working copy (defaults to drafting) of a presen

[2015-10-28 14:40] paregorios opened #62 "make change review and checkin functions more seamless in the GUI"
From @rogerbagnall:

[2015-10-28 20:26] k2soule commented on #61
Can we trip a rule to notify the creator of a working copy when that working copy is renamed?

[2015-10-28 20:39] k2soule commented on #57
I don't see an Aliases tab, so I don' t know whether that's an option.
Here is an example of what I'm trying to accomplish with Link items: https://isaw.nyu.edu/exhibitions/current
This content item needs to be able to appear as part of the navigation tree, and it needs to be a link, because I'm going to change what it points to at least twice a year. Since I'm always going to be linking it to con

[2015-10-28 20:51] k2soule opened #63 "owners and Editors cannot upload a file to a folder"
When a user with [can edit, can add, can view] tries to add a file to the /guide/forms folder, they get an infinite loop error in their web browser, which appears to be attempting a shibboleth authorization (though they are already logged in). We checked in Chrome, Safari, and Firefox on the Mac.

[2015-10-28 20:54] k2soule opened #64 "checklist view template limited to 100 items"
Question; what is causing the limitation of checklist view to show only the first 100 items in the folder? Is it something that we can change?

[2015-11-02 20:30] paregorios opened #65 "get rid of derelict openid users in the plone"
how?

[2015-11-17 16:49] paregorios commented on #63
@k2soule does this happen to you (i.e., an admin), or just to those with the permissions you outline above?

[2015-11-17 16:55] paregorios commented on #58
@k2soule how often is this coming up as an issue?

[2015-11-17 17:00] paregorios commented on #50
status?

[2015-11-17 17:02] paregorios commented on #40
This looks fixed to me. @k2soule do you agree? If so, please close.

[2015-11-17 17:03] paregorios commented on #39
I think this particular error is fixed. @k2soule do you concur? If so, please close.

[2015-11-17 17:04] paregorios commented on #31
What is the appropriate/best method to disable one of these?

[2015-11-17 17:16] paregorios opened #66 "remove uppercase transform on tables in content-core"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Friday May 22, 2015 at 21:00 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/5_

---

Text inside tables within `<div id="content-core"``is picking up a text

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Tuesday May 26, 2015 at 15:48 GMT_

----

@paregorios Looking at this, I'm not really clear on why this information is laid out in a table? If I remove the table markup the

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday May 26, 2015 at 21:19 GMT_

----

That's a fine solution for this page. But I think our users will want to have some tables in other places, and I'm thinking all caps is s

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Tuesday May 26, 2015 at 21:23 GMT_

----

This is all based on the design comps which we can certainly adapt to suit
the best and most frequent use cases. Are there any oth

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday May 26, 2015 at 21:55 GMT_

----

I'll gather them up

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday Jun 09, 2015 at 18:46 GMT_

----

I need to determine whether there's anything that needs immediately to be done about this.

[2015-11-17 17:16] paregorios commented on #66
<a href="https://github.com/k2soule"><img src="https://avatars.githubusercontent.com/u/7882896?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k2soule](https://github.com/k2soule)**
_Tuesday Aug 04, 2015 at 19:41 GMT_

----

This issue looks like one that we could potentially move out of pre-deployment.

[2015-11-17 17:17] paregorios commented on #66
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Aug 06, 2015 at 14:36 GMT_

----

Agreed. Moving out of pre-deployment. CSS issue that we'll wrangle later.

[2015-11-17 17:17] paregorios opened #67 "coping with giant titles in page headings and breadcrumbs"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Monday May 25, 2015 at 11:21 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/8_

---

Given our propensity for very long titles (especially for events), the

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Monday May 25, 2015 at 11:22 GMT_

----

NB: on the current site we have a solution for breadcrumbs: custom code that truncates what's displayed at the first colon (if there is on

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Tuesday May 26, 2015 at 15:38 GMT_

----

@paregorios I like the idea of breaking breadcrumbs at the colon to keep those under control.

For long titles like this, would it

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday May 26, 2015 at 20:58 GMT_

----

@skleinfeldt @alecpm what's harder and more time-consuming, do you think? Writing custom code to truncate/split titles and breadcrumbs on

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Tuesday May 26, 2015 at 21:04 GMT_

----

I think it probably makes sense to do this in JS.  Splitting the heading on the semi-colon into title/subtitle and truncating the breadcrumb on the s

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/cewing"><img src="https://avatars.githubusercontent.com/u/417109?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cewing](https://github.com/cewing)**
_Tuesday May 26, 2015 at 21:10 GMT_

----

What does "subtitle" mean in terms of the site theme?  Is it the larger font that we had previously though would be the first paragraph of body text?

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Tuesday May 26, 2015 at 21:21 GMT_

----

As far as styling, we'd likely come up with some CSS for this new element
to differentiate between a subtitle and an introductory

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday May 26, 2015 at 21:58 GMT_

----

Ah, if only it were easy to search the ZODB via the portal catalog for all titles containing a colon. I tried playing around with the ZMI

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Wednesday Jun 03, 2015 at 17:55 GMT_

----

@alecpm it is clear what needs to happen here? Is the JS task some you would do or @kevintbrooks ?

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Wednesday Jun 03, 2015 at 18:01 GMT_

----

I can do the JS.  My initial thought is to split on a ':' for both the main title and the breadcrumb.  For the main page title, we'd add a "p.sub-t

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Jun 03, 2015 at 18:07 GMT_

----

+1 on @alecpm's ideas, including the length limit for truncation, which in my view should only truncate on word breaks. My instinct is

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday Jun 09, 2015 at 18:42 GMT_

----

Right, so the remaining issue here is truncation in breadcrumbs and <br/> insertion (or similar) in headings?

[2015-11-17 17:17] paregorios commented on #67
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday Jun 09, 2015 at 18:43 GMT_

----

Put this on the backlog because it's not job one at the moment.

[2015-11-17 17:17] paregorios opened #68 "styles missing from editor drop-down"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Jun 04, 2015 at 18:20 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/27_

----

as discussed in standup today, we're not seeing what the story and

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/cewing"><img src="https://avatars.githubusercontent.com/u/417109?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cewing](https://github.com/cewing)**
_Thursday Jun 04, 2015 at 18:46 GMT_

----

I've fixed the problem with the lead image not appearing.  There was a block for content-type portlets set at the root of the news folder.  Removing

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Thursday Jun 04, 2015 at 18:57 GMT_

----

@paregorios I discussed 3.) with @cewing and we agree that next/previous nav is a bad idea here since it does not come native with c

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Thursday Jun 04, 2015 at 19:07 GMT_

----

Is there a reason Plone is using divs for body output instead of <p> tags?

http://isaw4-dev.atlantides.org/news/vrs-research-spo

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Jun 04, 2015 at 19:39 GMT_

----

I'll try to answer all the questions in the above thread in order:

 1. bylines
    1. I would be happy to see the byline + date that's

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/cewing"><img src="https://avatars.githubusercontent.com/u/417109?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cewing](https://github.com/cewing)**
_Thursday Jun 04, 2015 at 19:41 GMT_

----

I will make a new issue for q1 above.  It would be easier, given a custom view, to suppress the byline on events and event listings than to special-

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Thursday Jun 04, 2015 at 19:41 GMT_

----

2) Is quite easy to do as long as people are comfortable using the style dropdown.  Essentially the would be "Normal Paragraph" and "Highlighted Par

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Thursday Jun 04, 2015 at 19:44 GMT_

----

I've added a CSS class ("intro") to trigger this behavior.

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Thursday Jun 04, 2015 at 19:45 GMT_

----

"Intro Paragraph" it is then.

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Jun 04, 2015 at 19:49 GMT_

----

awesome!

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/kevintbrooks"><img src="https://avatars.githubusercontent.com/u/1392386?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kevintbrooks](https://github.com/kevintbrooks)**
_Monday Jun 08, 2015 at 15:58 GMT_

----

@paregorios is this ready to close?

[2015-11-17 17:17] paregorios commented on #68
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Tuesday Jun 09, 2015 at 18:18 GMT_

----

I do not see "Intro Paragraph" in the editor "Style" menu. Reassigning to @alecpm but putting on the backlog for now as it's more of a ni

[2015-11-17 17:17] paregorios opened #69 ""skip to navigation" link has no valid target"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Jun 04, 2015 at 20:27 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/32_
---

in the home page document we find:

 `<a accesskey="6" href="http://i

[2015-11-17 17:17] paregorios commented on #69
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Thursday Jun 04, 2015 at 23:08 GMT_

----

This is probably in @alecpm 's court.

[2015-11-17 17:17] paregorios commented on #69
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Friday Jun 05, 2015 at 00:10 GMT_

----

Do we want to keep the skip links and update them or eliminate them?  In this case the navigation is at the top of the page, so it's perhaps not so us

[2015-11-17 17:19] paregorios commented on #66
transferred from https://github.com/isawnyu/isaw.theme/issues/5

[2015-11-17 17:20] paregorios commented on #67
transferred from https://github.com/isawnyu/isaw.theme/issues/8

[2015-11-17 17:21] paregorios commented on #68
Transferred from https://github.com/isawnyu/isaw.theme/issues/27

[2015-11-17 17:22] paregorios commented on #69
I'm happy to get rid of "skip to navigation" in our case because it is at the top. But "skip to content" (which I think does work) should be kept.

[2015-11-17 17:23] paregorios commented on #69
Transferred from https://github.com/isawnyu/isaw.theme/issues/32

[2015-11-17 17:23] paregorios opened #70 "reduce height of website homepage image slider"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Monday Oct 12, 2015 at 20:30 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/109_

----

There's general consensus at ISAW that we'd be happier with a differ

[2015-11-17 17:24] paregorios commented on #70
transferred from https://github.com/isawnyu/isaw.theme/issues/109

[2015-11-17 17:24] paregorios opened #71 "allow users to upload a PDF or create a page as CV, instead of using the structured maker"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Tuesday Sep 29, 2015 at 22:10 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/108_

----

[2015-11-17 17:25] paregorios commented on #71
Transferred from https://github.com/isawnyu/isaw.theme/issues/108

[2015-11-17 17:25] paregorios opened #72 "suppress "download curriculum vitae" link on profiles"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Tuesday Sep 29, 2015 at 22:09 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/107_

----

PDF generation for CVs is imperfect, and more importantly, this lin

[2015-11-17 17:25] paregorios commented on #72
Transferred from https://github.com/isawnyu/isaw.theme/issues/107

[2015-11-17 17:26] paregorios opened #73 "too much all caps in profiles"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Wednesday Sep 23, 2015 at 19:18 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/106_

---

![allcaps](https://cloud.githubusercontent.com/assets/263285/10055

[2015-11-17 17:26] paregorios commented on #73
Transferred from https://github.com/isawnyu/isaw.theme/issues/106

[2015-11-17 17:27] paregorios opened #74 "no whitespace between end of unordered list and subsequent paragraph"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Wednesday Sep 23, 2015 at 19:02 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/105_

----

needs CSS fix:

![nowhitespace](https://cloud.githubusercontent.c

[2015-11-17 17:27] paregorios commented on #74
transferred from https://github.com/isawnyu/isaw.theme/issues/105

[2015-11-17 17:28] paregorios opened #75 "google analytics is horked"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Sep 17, 2015 at 15:16 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/104_

----

Evidently stopped working on 2 september.

[2015-11-17 17:28] paregorios commented on #75
Transferred from https://github.com/isawnyu/isaw.theme/issues/104

[2015-11-17 17:48] paregorios opened #76 "event listing - calendar portlet style issue"
<a href="https://github.com/k2soule"><img src="https://avatars.githubusercontent.com/u/7882896?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [k2soule](https://github.com/k2soule)**
_Wednesday Sep 16, 2015 at 18:21 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/102_

---

See attached comp; the calendar days when events occur need to be highligh

[2015-11-17 17:50] paregorios opened #77 "full calendar for events is an unusable wreck on iphone"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Tuesday Sep 15, 2015 at 14:35 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/99_

----

[2015-11-17 17:52] paregorios opened #78 "table class=invisible has gridlines"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Friday Sep 04, 2015 at 20:36 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/97_

----

[2015-11-17 17:52] paregorios opened #79 "caption styles don't match"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Friday Sep 04, 2015 at 14:19 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/96_

---

Lead image captions on news items are styled differently from inline i

[2015-11-17 17:53] paregorios opened #80 "website title font wrapping is rotten in IE11"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Friday Aug 28, 2015 at 10:06 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/94_

----

![font substitution issue in ie11](https://cloud.githubusercontent.co

[2015-11-17 17:53] paregorios commented on #80
<a href="https://github.com/k2soule"><img src="https://avatars.githubusercontent.com/u/7882896?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k2soule](https://github.com/k2soule)**
_Friday Aug 28, 2015 at 16:07 GMT_

----

Not just the wrapping, but the header fonts themselves are incorrect - and the ISAW logo graphic is not displaying well.

[2015-11-17 17:53] paregorios commented on #80
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Friday Aug 28, 2015 at 16:29 GMT_

----

We may have to get rid of Questrial entirely

[2015-11-17 17:54] paregorios opened #81 "add NYU links in header and footer: 3"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Monday Aug 17, 2015 at 16:35 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/91_

---

From @k2soule: "have the "New York University" text in the header and

[2015-11-17 17:55] paregorios opened #82 "fix table styling on user control panel"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Wednesday Aug 12, 2015 at 21:48 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/90_

----

The list of users is unmanageable as the super-wide table is const

[2015-11-17 17:56] paregorios opened #83 "breadcrumbs bar is too tall in collapsed/mobile view"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Wednesday Aug 12, 2015 at 20:41 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/89_

----

The bottom of the breadcrumbs bar should be even with the bottom o

[2015-11-17 17:56] paregorios commented on #83
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Sep 02, 2015 at 14:10 GMT_

----

This is in work in branch:issue89

[2015-11-17 17:57] paregorios opened #84 "Heading styles inconsistent on faculty page"
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skleinfeldt](https://github.com/skleinfeldt)**
_Friday Aug 07, 2015 at 18:45 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/88_

----

See http://isaw4-dev.atlantides.org/isaw/people/faculty/roger-bag

[2015-11-17 17:57] paregorios commented on #84
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Friday Aug 07, 2015 at 19:38 GMT_

----

A note on this one:

h2 headers are treated as section heading and given those gold bars with letter ordering, other headings are styled as on other p

[2015-11-17 17:57] paregorios commented on #84
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Friday Aug 07, 2015 at 20:43 GMT_

----

So in other words A, B, C, D, E, F are H2, then A, B, C, D, E, F that are under F are H3, then we go back up a level to G an H2. I mis

[2015-11-17 17:58] paregorios opened #85 "Tag code going to production"
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skleinfeldt](https://github.com/skleinfeldt)**
_Friday Aug 07, 2015 at 17:17 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/87_

----

Just before we do the upgrade, so we know what we deployed.

[2015-11-17 17:58] paregorios commented on #85
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Aug 12, 2015 at 12:21 GMT_

----

Is this done? Can we close?

[2015-11-17 17:58] paregorios commented on #85
<a href="https://github.com/cguardia"><img src="https://avatars.githubusercontent.com/u/324415?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cguardia](https://github.com/cguardia)**
_Thursday Aug 13, 2015 at 18:31 GMT_

----

There is already a tag production08112015 for the code as it was when we deployed. There have been a couple of fixes, though, and there might

[2015-11-17 18:00] paregorios opened #86 "replace SVG title with text in header"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Aug 06, 2015 at 14:39 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/81_

----

CSS tweak.

[2015-11-17 18:00] paregorios commented on #86
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Thursday Aug 06, 2015 at 18:43 GMT_

----

@paregorios needs to hand this over to you @alecpm

[2015-11-17 18:00] paregorios commented on #86
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Thursday Aug 06, 2015 at 21:24 GMT_

----

I'm not sure I understand what's desired here.  Is this in reference to the ISAW logo.  Currently there's text markup:

    <a href="/">ISAW</a>

It

[2015-11-17 18:00] paregorios commented on #86
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Aug 06, 2015 at 21:31 GMT_

----

Let's defer this ticket for now.

[2015-11-17 18:01] paregorios opened #87 "adding an image sometimes borks associated paragraph formatting"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Jun 18, 2015 at 14:47 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/61_

----

but the borkage is only visible in base view, not in the editor tex

[2015-11-17 18:02] paregorios opened #88 "maddening amounts of internal whitespace at bottom of rich text boxes in edit view"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Thursday Jun 04, 2015 at 20:38 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/33_

----

We've been living with this for a long time on production; I was ho

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/cewing"><img src="https://avatars.githubusercontent.com/u/417109?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cewing](https://github.com/cewing)**
_Thursday Jun 04, 2015 at 20:58 GMT_

----

it is absurdly awesome.

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Thursday Jun 04, 2015 at 23:13 GMT_

----

It's so absurdly maddeningly awesomely awful I don't know who to assign this to.

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Jul 09, 2015 at 20:28 GMT_

----

this may be a chrome bug

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/k2soule"><img src="https://avatars.githubusercontent.com/u/7882896?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k2soule](https://github.com/k2soule)**
_Friday Sep 18, 2015 at 19:12 GMT_

----

not just chrome; I have observed this in Safari and Firefox as well

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/k2soule"><img src="https://avatars.githubusercontent.com/u/7882896?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [k2soule](https://github.com/k2soule)**
_Wednesday Sep 23, 2015 at 18:38 GMT_

----

Also, as Roger pointed out today, there is the problem of the editing window being located incorrectly in the browser window; such that the rig

[2015-11-17 18:02] paregorios commented on #88
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Sep 23, 2015 at 18:43 GMT_

----

I think it warrants a separate ticket, but with a cross reference link.

[2015-11-17 18:06] paregorios opened #89 "css: address margin/padding for missing images in people pages"
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [paregorios](https://github.com/paregorios)**
_Wednesday Jul 08, 2015 at 11:06 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/63_

----

[2015-11-17 18:06] paregorios commented on #89
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Aug 06, 2015 at 14:35 GMT_

----

This is still an issue (see) below, and presumably only requires a minor CSS tweak, which I'll undertake.

![peeps](https://cloud.github

[2015-11-17 18:06] paregorios commented on #89
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Friday Aug 07, 2015 at 19:34 GMT_

----

I've committed a fix; not sure it's what you want though:

http://isaw4-dev.atlantides.org/people/staff

[2015-11-17 18:06] paregorios commented on #89
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Monday Aug 10, 2015 at 16:44 GMT_

----

Not ready to close this, but I don't think it needs to be addressed ahead of rollout. Punting to backlog for now.

[2015-11-17 18:08] paregorios opened #90 "Get @paregorios up and running with a local development environment"
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [skleinfeldt](https://github.com/skleinfeldt)**
_Wednesday Aug 05, 2015 at 19:03 GMT_
_Originally opened as https://github.com/isawnyu/isaw.theme/issues/78_

----

Review and fix this documentation to describe the steps (inclu

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/skleinfeldt"><img src="https://avatars.githubusercontent.com/u/1198463?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [skleinfeldt](https://github.com/skleinfeldt)**
_Wednesday Aug 05, 2015 at 19:06 GMT_

----

@paregorios it might be efficient for you and/or @k2soule to take a quick pass through to fix any obvious errors and note any speci

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Aug 05, 2015 at 19:08 GMT_

----

@skleinfeldt will do

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Wednesday Aug 05, 2015 at 21:52 GMT_

----

I have made a few comments in the PROD_SNAPSHOT.txt file and pushed these. Am now blocked as follows:

Followed recipe in PROD_SNAPSHOT

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/cguardia"><img src="https://avatars.githubusercontent.com/u/324415?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cguardia](https://github.com/cguardia)**
_Wednesday Aug 05, 2015 at 21:57 GMT_

----

Tom, if you were trying to copy over the production db, the clients can take several minutes to respond, because it takes some time for ZEO t

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/cguardia"><img src="https://avatars.githubusercontent.com/u/324415?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [cguardia](https://github.com/cguardia)**
_Wednesday Aug 05, 2015 at 22:28 GMT_

----

Also, does the user that runs ZEO have read and write permission on the Data.fs file?

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Thursday Aug 06, 2015 at 13:48 GMT_

----

I left things up and running all night, no change: sit and spin. No console error messages. Permissions checked.

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/alecpm"><img src="https://avatars.githubusercontent.com/u/202854?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alecpm](https://github.com/alecpm)**
_Thursday Aug 06, 2015 at 17:46 GMT_

----

These errors indicate that your zeo server is not running (or at least not accepting connections).  I would suggest stopping supervisor (bin/supervi

[2015-11-17 18:08] paregorios commented on #90
<a href="https://github.com/paregorios"><img src="https://avatars.githubusercontent.com/u/263285?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [paregorios](https://github.com/paregorios)**
_Monday Aug 10, 2015 at 16:45 GMT_

----

Thanks. Not critical at this stage for predeployment. Punting to backlog for later reveiw.

[2015-11-17 18:12] k2soule opened #91 "editing windows not aligned horizontally"
Transferring a tangential issue over from isaw.theme issue #33:

Roger and other editors have noticed a problem with the editing window being located incorrectly in the browser window; such that the right side of the content is off-screen, and one has to scroll to the bottom of the page to get a horizontal scroll bar with which to move the editing window into view. It's slowing down editing and ca

[2015-11-17 18:22] k2soule commented on #81
Assigning to myself, to see whether I can at least get the footer link done.

[2015-11-17 18:37] k2soule commented on #63
This does not happen to me; it only seems to affect non-site-admins.
Also, I should note that Marc is having similar trouble uploading files in other locations, such as CVs for faculty.

[2015-11-17 18:46] skleinfeldt commented on #50
I believe nothing has happened since my comments on Sept 14. Take a look and if you agree with me, we can reassign to Alec to fix.

[2015-11-17 18:55] paregorios commented on #85
This might be the topest of top 10. If it hasn't been done completely, we might not be able to walk back to a known good state without regressing some other changes.

[2015-11-18 21:59] k2soule opened #92 "Need to display current logged-in user"
The site currently does not display the name of the current user when one is logged in. This will be important, particularly for admins who log in as test users as well as for machines that are shared by multiple users. However, it is not currently an urgent or high priority.

Still, I'd like to start this off by asking the question; where could we put that information? Maybe in the footer?

[2015-11-20 23:44] k2soule commented on #40
Yes, this is working. Closing ticket...

[2015-11-20 23:44] #40 closed

[2015-11-24 17:19] paregorios commented on #53
This also happens with page items.

[2015-11-24 17:22] paregorios commented on #91
@k2soule can you get us a screenshot of the problem and post it here? I don't seem to be able to reproduce this problem, which makes me think I'm not understanding. A list of "clicks" necessary to reproduce would also be helpful. Thanks.

[2015-11-24 17:23] paregorios opened #93 "insert/edit dialog radio buttons misaligned"
On the insert/edit dialog (e.g., for adding an internal link while editing) one gets a list of things. One is supposed to select the radio button associated with the item one wants, but this is hard and error-prone because the radio buttons are horizontally misaligned with the text in the list.

![insertmenu](https://cloud.githubusercontent.com/assets/263285/11375006/8e257fa0-929e-11e5-8c0f-a075dd

[2015-11-24 17:35] paregorios opened #94 "match staging to production"
I think in order for us to get to the bottom of exactly what's needed regarding several of the tickets (all the November milestone ones currently assigned to me for review), we need a check/refresh on staging so we can put content through its paces with confidence that we're working in an environment that's as much like production as possible.

Is it possible to:

 * verify that we're running the

[2015-11-24 20:03] k2soule commented on #91
Sure thing. Attached is a pair of screen shots. The top is how the editing windows appears (with all content and editing tools pushed way to the right, off-screen); the bottom is how it should appear (with all of the content and editing tools visible in the frame).
![editing window](https://cloud.githubusercontent.com/assets/7882896/11379071/6ae3aa08-92bc-11e5-81a3-56d62e375c50.jpg)

[2015-11-24 20:12] paregorios commented on #91
Aha! This is a problem that is only noticeable when there's a left-side navigation portlet being display perhaps.

[2015-11-24 20:53] k2soule commented on #91
Yes, that sounds about right. I'm going to guess that the editing view is trying to take up the full width of the window whether there is a side-nav or not. This causes two problems:
First, it causes the annoying issue with the content and tools going off the page.
Second, it makes the page look different while you are editing it than it will look when you publish it - which makes editing tricky.

[2015-11-24 21:12] skleinfeldt commented on #91
Can't help chiming in here to suggest that it is important to wean your editors off planning where line breaks, images, etc. will fall in rich text. Since the site now has a responsive design this will be different at every browser width. When you have the opportunity it might be a good idea to demo to your old school editors the effect of browser resizing on their pages.

Regardless of that, the

[2015-11-24 21:15] k2soule commented on #91
A very good point!

[2015-11-25 04:46] alecpm commented on #85
There are a few different ways to pin versions in a buildout like this, where multiple repositories are involved.  The simplest is to make a "release" branch of the buildout where sources.cfg (https://github.com/isawnyu/isaw.web/blob/master/cfg/sources.cfg) points to specific tags or revisions of each of the add-ons.  Any time an addon is updated and the changes are ready for release, that sources

[2015-11-25 04:57] alecpm commented on #94
I can confirm that staging and production are running revision c8a2ecc3eb974ea76ce75d4c56145703cc2a7806 of the buildout.  There are a couple manual edits on each server though.  Staging is using the ``staging`` branch of isaw.theme, where production is using ``master``; however, at present ``staging`` and ``master`` are identical.  Staging still has the ``isaw.events`` package in ``src/``, but it'

[2015-11-25 06:19] alecpm commented on #94
Staging data should now be identical to production.

[2015-11-25 12:53] paregorios commented on #94
Great! Thanks.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Nov 25, 2015 at 12:19 AM, Alec Mitchell <notifications@github.com>
wrote:

[2015-12-01 15:37] paregorios commented on #94
I'm taking this ticket for review.

[2015-12-01 15:41] paregorios opened #95 "special search function for events only (including archive)"
Requested by @rogerbagnall

[2015-12-01 15:42] paregorios opened #96 "add "category view" to website events archive"
(exhibition lecture, VRS lecture, conference, etc.)
requested by @rogerbagnall

[2015-12-01 18:17] paregorios opened #97 "make "tiled listing" available throughout the site"
Although the tiled listing template will work with folders and collections full of all manner of content types, it only finds archetype embedded images, such as those found in news items. It should be upgraded to also look for lead images, where they exist.

[2015-12-01 18:19] paregorios opened #98 "pump news and event summaries into homepage slider overlays"

[2015-12-01 19:22] paregorios commented on #80
#86 might be the best solution for this issue

[2015-12-01 19:29] skleinfeldt commented on #85
Assigning this to @paregorios to decide which approach to take. We recommend Alec's last option as the most trouble-free and simplest, if that is feasible.

[2015-12-01 19:33] paregorios commented on #85
+1 on Alec's "most trouble-free and simplest" solution please!

Unassigning myself to reflect my desire to see implementation proceed. Also removing question tag.

[2015-12-01 19:34] skleinfeldt commented on #95
This may need some discovery - is this a hidden feature for staff only, or a general search improvement or ...? Food for thought:

Customized site search that lets you choose what type of thing to look for: http://www.upress.umn.edu/@@search?SearchableText=elliott

A faceted search could also offer this option, along with date range picker, sorting, etc: http://www.upress.umn.edu/test-division/bib

[2015-12-01 19:36] paregorios commented on #95
Yes. At present I'm thinking of this as a downstream concern, but let's see where we get to this month on more fully defined tasks. Looking back at scrumdo, this might well fit into a larger story (presently unfunded) about implementing SOLR etc.

[2015-12-01 19:36] skleinfeldt commented on #96
See comment on #95 - maybe another faceted search?

[2015-12-01 19:38] paregorios commented on #96
This I think we can do in-house with collections, but there may be theme/template issues that surface as we play with it. And there's the whole question of underlying data integrity on which to base the facets.

[2015-12-01 19:40] skleinfeldt commented on #95
Yes - although Solr is not necessary for faceted searches, and although they are easy to implement technically, they do need attention paid to layout and styling to make them user friendly and attractive

[2015-12-01 21:12] paregorios commented on #94
Confirmed. Closing.

[2015-12-01 21:12] #94 closed

[2015-12-01 21:27] paregorios opened #99 "plone test users on staging do not stay logged in"
Steps to reproduce:

 * navigate to staging/portal_skins/plone_login/login_form
 * plone user ```foo``` logs in using form and gets expected login confirmation (and appropriate additional stuff in footer)
 * navigation away from this page to any other page (either via link or by manipulating url in browser location bar) seems to lose the login information. No action menus appear and footer drops l

[2015-12-02 00:16] skleinfeldt commented on #99
Contact me for info on how to log in as `foo`.

[2015-12-02 11:06] paregorios commented on #59
blocked for #99

[2015-12-02 19:35] cguardia commented on #63
Is there a user account I can use to try this out?

[2015-12-03 03:56] alecpm commented on #99
@skleinfeldt could you skype me the credentials for foo?  I'm not seeing the issue with my own ZMI account.

[2015-12-03 03:59] alecpm commented on #99
Is this happening with your ZMI root account (paregorios or paregorian) or an account defined within Plone?

[2015-12-03 11:22] paregorios commented on #99
Only with an account defined within Plone (for which @skleinfeldt has the
credentials). It is not happening with my ZMI root account. The same
Plone-defined account ("foo") works fine on production.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Dec 2

[2015-12-03 19:50] alecpm commented on #99
The issue was that the cookie based session auth settings in acl_users were setup with a hardcoded domain for the cookie (.isaw.nyu.edu) which wasn't compatible with the actual domain for the staging site.  I cleared that property (here http://isaw4-dev.atlantides.org/acl_users/session/manage_propertiesForm), so that the cookie is set for the current hostname.  This issue will recur whenever the p

[2015-12-04 09:12] cguardia commented on #63
I was thrown off the scent by the shibboleth challenge.

The problem seems to be that the editor role does not have the "modify portal content" permission (this is set in the workflow). Editor role in plone has this permission by default. "Can edit" means that the editor role is locally assigned to the group, but since the role doesn't have the right permissions, this happens.

[2015-12-04 16:29] k2soule commented on #63
Sounds like the editor role needs to have its "modify portal content" permission restored to the default setting. How do we go about doing that, and what are the possible side-effects (if any)?

[2015-12-04 17:11] skleinfeldt commented on #63
@cguardia did you fix this or just diagnose? If this is your custom workflow it seems like it should probably be fixed in code and then an upgrade step run. I think that might take a while because it has to update stuff on all the relevant site content, so maybe one of the clients should be taken out of the load balancing rotation to work on that??? But I'm really out of my depth here, @cguardia s

[2015-12-04 17:16] k2soule commented on #63
An additional observation that I should tack on here, and remind myself to test after the fix is applied:
I'm noticing that content editors are unable to see the "grab handles" on items in Contents view; so they are unable to change the order in which items appear.

[2015-12-04 17:37] cguardia commented on #63
Just diagnosis. You are right it will take some time. I can fix that tonight, when the re-indexing won't bother anyone. I don't think there will be side effects, other than all users with that role will have permission to edit content.

One thing that I found during these tests is that if you have any users with "can add" permission, but not "can edit", they won't be able to add files or images.

[2015-12-04 17:43] paregorios commented on #63
Please let's hold off on implementation of this on production. I'm not
confident that we have fully understood workflow desires across the entire
site yet, and one-off changes may introduce more confusion. I'll try to
have more comprehensive feedback by Monday sometime.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient

[2015-12-04 17:45] cguardia commented on #63
Ok.

[2015-12-07 20:49] paregorios opened #100 "new folder and collection view template: list of titles"
A simple list of titles of contained objects, each linked to the corresponding content object, in folder content order.

[2015-12-07 20:50] paregorios opened #101 "improve style on "summary" folder template: 3pts"
title text is too large, too much whitespace, what to do when there is no content in the summary field on the subordinate item?

[2015-12-07 21:57] skleinfeldt opened #102 "Apply Dec 8 Plone security patch"

[2015-12-07 22:05] paregorios commented on #102
+1

[2015-12-07 23:06] paregorios commented on #99
Thanks, just saw this was assigned to me. I didn't get an email notification from github! Will test asap.

[2015-12-08 07:58] cguardia commented on #72
Removed all (two) cv pdf_view links.

[2015-12-08 09:10] cguardia commented on #71
This could be as easy as adding "File" to the list of addable objects for the profile type. The user could then add the file and put a link in their profile text.

If not this, what are you looking for here?

[2015-12-08 11:53] paregorios commented on #71
Yes. I think we'd like to add file, page, and image.

On Tuesday, December 8, 2015, Carlos de la Guardia <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2015-12-08 19:55] paregorios commented on #72
Sounds good. I look forward to testing on staging, perhaps after #71 has been implemented as well?

[2015-12-08 21:54] cguardia commented on #71
Took advantage of the security patch deployment to update staging with this. Ready to test.

[2015-12-08 21:55] cguardia commented on #72
Ready to test on staging.

[2015-12-08 21:57] paregorios commented on #71
Thanks. Taking this ticket for review.

[2015-12-08 21:57] paregorios commented on #72
Thanks, I'm taking this ticket for review too.

[2015-12-08 22:00] cguardia commented on #102
Applied to both production and staging.

[2015-12-08 22:22] paregorios commented on #102
I don't have any means to test, so handing over to @skleinfeldt for resolution.

[2015-12-08 22:28] paregorios commented on #71
Looks good. Please deploy to production.

[2015-12-08 22:28] skleinfeldt commented on #102
Taking @cguardia 's word for it.

[2015-12-08 22:28] #102 closed

[2015-12-08 22:28] paregorios commented on #72
Looks good. Please deploy to production.

[2015-12-08 23:58] cguardia commented on #71
Deployed.

[2015-12-08 23:58] cguardia commented on #72
Deployed.

[2015-12-09 22:07] #99 closed

[2015-12-09 22:08] #72 closed

[2015-12-09 22:09] #71 closed

[2015-12-09 22:15] paregorios commented on #63
A few questions as I'm building tests on staging:

1. Where can I go in the repos to look at the code for the "modify portal content" permission and its relationship to the "editor" role? I'd like to see if we have history on when it was changed so we can try to figure out *why* it was changed.
1.  I'd like some clarification on @cguardia' comment above "if you have any users with "can add" permis

[2015-12-09 22:17] paregorios commented on #59
@k2soule so far in my testing attempts (see shared google doc) I have not been able to duplicate this problem on staging (using our test users). I think we may need for you to arrange to sit with the individual(s) having this problem (with me on Skype) and see them walk through it (with test data added if we need it).

[2015-12-09 22:19] paregorios commented on #59
@k2soule disregard my comment above for now and instead confirm or deny my impression that this ticket is actually a partial duplicate for #51

[2015-12-09 22:28] paregorios commented on #51
I believe the purpose of the special workflows was to make it possible for us to have some users who can create content, but prevent them submitting it for review. We wanted to be able to have a czar (or czars) for the /news and /events folders who would be the only ones allowed to submit for review. Apparently this is not working as designed. I will devise some tests on staging.

[2015-12-09 22:36] k2soule commented on #59
I think you're right; this seems to be connected to #51.

[2015-12-09 22:37] paregorios commented on #51
I have been able to duplicate this problem with test users on staging.

[2015-12-09 22:57] paregorios commented on #51
I have a suspicion, which we'll need to have Jazkarta help us confirm, deny, or refine, that we just don't know how to designate a person or group to have the special "Reviewer" role (not to be confused with the standard "can review") that's defined in the custom  [isaw_reviewer_workflow](https://github.com/isawnyu/isaw.policy/blob/master/src/isaw/policy/profiles/default/workflows/isaw_standard_wo

[2015-12-09 23:06] paregorios commented on #51
Is this related to #46?

[2015-12-09 23:12] paregorios commented on #51
it is clearly related to #48

[2015-12-09 23:15] paregorios commented on #59
Thanks. I'm going to close this ticket as a duplicate for #51.

[2015-12-09 23:15] #59 closed

[2015-12-10 02:04] cguardia commented on #63
1. Default workflow definition is here. Look for entries for "modify portal content" for each state:

https://github.com/isawnyu/isaw.policy/blob/master/src/isaw/policy/profiles/default/workflows/isaw_standard_workflow/definition.xml

Some parts of the site use the intranet workflow locally:

https://github.com/isawnyu/isaw.policy/blob/master/src/isaw/policy/profiles/default/workflows/isaw_intrane

[2015-12-10 11:57] paregorios commented on #63
I've looked at the code @cguardia pointed to (thanks!) and here's what I think I see:

### for the "isaw standard" workflow:

* in "draft" the "Editor" (can edit) role has the "modify portal content" permission [line 25](https://github.com/isawnyu/isaw.policy/blob/master/src/isaw/policy/profiles/default/workflows/isaw_standard_workflow/definition.xml#L25)
* but not in ["pending"](https://github.co

[2015-12-10 19:00] skleinfeldt commented on #63
Although I'm sure these problems are fixable (whatever they are), given the time you are spending on this I am reminded of a talk Joel Burton gave at the D.C. Plone Conference, about how even though Plone lets you create whatever custom workflow you think you want, it is not always advisable to do so. (inefficiencies, bottlenecks, painting yourself into a corner...) Just have to ask - have you con

[2015-12-11 17:42] paregorios commented on #63
Narrowing this ticket and queuing it up for action. Here's a restatement of the specific problem we are trying to solve with this ticket:

The following kinds of users need to be able to upload images in a folder, but presently get a permissions error if they try:

* owner of the folder
* user with "Can Add" and "Can Edit" applied via the folder sharing tab

@cguardia has diagnosed the problem (se

[2015-12-11 17:42] paregorios commented on #63
Renaming ticket accordingly

[2015-12-11 18:12] #48 closed

[2015-12-11 18:18] paregorios opened #103 "owners and Editors must not be able to modify an item in "pending" or "published" state"
At present, in the context of the standard ISAW process for web content curation with the isaw_standard workflow, users who are content owners or who have "can add" and "can edit" assigned via sharing are able to make certain modifications to pending and published content that we would like restricted. Specifically, the following capabilities should be denied to them:

* Deleting an item in "pendi

[2015-12-11 18:23] paregorios commented on #50
concur. I'm removing review tag. Please assign for completion in accordance with priority tags.

[2015-12-11 18:46] paregorios commented on #42
I am closing this ticket as resolved; however, I may be opening a new ticket with regard to the question @alecpm asked above about restricting viewability of arbitrary internally published items to arbitrary groups of authenticated users. Since the last development iteration on this workflow, the requirement for selective viewability has been walked back.

[2015-12-11 18:46] #42 closed

[2015-12-11 21:56] paregorios commented on #103
This ticket should be applied not only to the "standard" workflow but also the "intranet" workflow where tests reveal the same behaviors.

[2015-12-11 22:07] paregorios opened #104 "remove selective visibility from items in the intranet workflow"
Back in August, under the rubric of issue #42, we asked @alecpm "to limit viewability for items in folders under the "isaw intranet workflow" that are in the "internally published state" to particular groups of users." [Alec wisely queried the sense and consistency of this decision](https://github.com/isawnyu/isaw.web/issues/42#issuecomment-135901246), but went ahead and implemented as requested.

[2015-12-11 22:09] paregorios commented on #63
Request this ticket be applied not only to folders governed by the "isaw standard" workflow, but also folders governed by the "isaw internal" workflow. Tests reveal the same behaviors in both contexts.

[2015-12-11 22:25] paregorios opened #105 "prevent editing "pending" items in isaw-intranet workflow"
In the isaw standard workflow, we're setup so that neither owners nor those with "can edit" role are able to "edit" an item in the "pending" state of the workflow. In the isaw intranet workflow, only owners are prohibited from editing items in "pending" state. We would like to see these rules harmonized: i.e., "can edit" should not give users the ability to edit directly items in "pending" state.

[2015-12-11 22:28] #49 closed

[2015-12-14 13:49] paregorios commented on #31
@skleinfeldt if I follow the ZMI method recommended above to disable "old style" collections (which don't show up the way it says they will), will they remain disabled across buildout runs, or is there something in our buildout code that "forces" them to be enabled?

[2015-12-14 21:15] skleinfeldt commented on #31
I'm afraid I don't know - @alecpm can you answer Tom's question?

[2015-12-14 21:18] alecpm commented on #31
A buildout run will definitely not re-enable old collections disabled via the ZMI.  It's possible that running an upgrade step via the control panel that includes types tool configuration would reset that, but I don't think that's the case for ISAW.

[2015-12-14 21:24] alecpm commented on #31
It turns out that isaw.policy did set the global allow flag on Topics to true, so an upgrade step could have re-enabled them in the future.  I've removed that setting in the latest commit though.

[2015-12-14 23:59] cewing commented on #63
@paregorios, @cguardia this issue has landed on my plate to implement, and I want to make sure that my understanding matches reality, given the lengthy discussion above.

Here's what I am reading as the expected actions for this ticket:

* Add the `Modify portal content` permission for the `Editor` role in the `pending` state in the `isaw intranet workflow`.

I am unclear about the reference by @p

[2015-12-15 00:22] cewing commented on #104
I've reverted the changed lines that removed viewing from all authenticated members in the intranet workflow.  An upgrade step will be needed to apply the changes.  Not yet ready for review.

[2015-12-15 00:28] cewing commented on #63
@paregorios, having reviewed other issues assigned to me I am officially confused.  The apparent request here to add `Modify portal contents` to the `Editor`  role on the `isaw intranet workflow` here on this issue appears to directly contradict the request made in #105 which asks to remove the same permission from the `Editor` role on the `isaw standard workflow` in order to make the behavior of

[2015-12-15 11:01] paregorios commented on #31
Thanks. So, I should go ahead and disable via the ZMI?

[2015-12-15 11:21] paregorios commented on #63
@cewing I think the problem here may be that we are trying to achieve two things that Plone won't let us split because they're bound to the same permission (i.e., "modify portal contents"). Or maybe we're not explaining ourselves correctly. Here's what we want (#103 and #63 combined; #105 addresses an edge case):

* For content items that are governed by workflow (pages, folders, etc etc), owners

[2015-12-15 15:19] alecpm commented on #31
Yup!

[2015-12-15 16:38] paregorios commented on #31
On both production and staging, /portal_types/Topic has been set implicitly_addable=False.

Thanks all for the help.

[2015-12-15 16:38] #31 closed

[2015-12-16 00:24] cewing commented on #63
We've discovered the culprit here.

Although files and images do not have a workflow that controls them, they do have access controls that check permissions to determine what can be done with them.  Since their own workflow cannot provide information about what permissions belong to which users, they fall back to inheriting their permissions from the containers in which they are located.

What thi

[2015-12-16 00:31] cewing commented on #105
Now that we know what is causing the problem with image/file upload, we can take this permission away in the intranet workflow and not worry about it removing the ability to upload images and files.  Done.

[2015-12-16 00:33] cewing commented on #103
The ability to delete items is controlled by the `Delete objects` permission, which is granted by default to the editor, owner and manager roles.  I will add this permission to the list of permissions controlled by the intranet and standard workflows and will ensure that it is not granted to the `editor` or `owner` role when content is in the `pending` or `published` state.

[2015-12-16 01:01] cewing commented on #103
I am still unable to satisfactorily explain the issue of being able to check in working copies of objects where the baseline is `pending` or `published`.  The permission to check things in is actually controlled not by the special permission established by the `plone.app.iterate` permission, but rather by the `Modify portal contents` permission.  I would therefore expect this problem to appear in

[2015-12-16 18:39] paregorios commented on #63
My associated tests are now passing on staging, but it looks to me like the branch of isaw.policy deployed there is master. So I'm puzzled why it should be working now, even though the associated changes have not been merged to isaw.policy:master yet.

[2015-12-16 18:46] alecpm commented on #85
I've created a new branch with the repos merged together (https://github.com/isawnyu/isaw.web/tree/merged-repos).  I suggest you give it a try (you'll need to delete the contents of src/ before doing a git checkout).  Once we switch development and deploy over to this branch, we can simply create tags to mark release points for the full code base and configuration.

[2015-12-16 20:59] cewing commented on #63
@paregorios It's because I manually made the change on staging yesterday to confirm that it would work.

[2015-12-16 21:28] paregorios commented on #63
OK, cool. Thanks.

--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Wed, Dec 16, 2015 at 3:21 PM, Cris Ewing <notifications@github.com>
wrote:

[2015-12-17 11:22] paregorios commented on #85
I can run the buildout using both "master" and "merged-repos" branches (the latter after following instructions above to delete the contents of src/ before checking out the branch). Both run without fatal errors and I can view the instance locally on 8081; however, I'm not seeing the ISAW theme. Here's what my local instance looks like (with replicated filestorage and blobstorage from production):

[2015-12-17 11:24] paregorios commented on #90
I can now run buildouts. Was, I think, a default permissions issue on /var/filestorage or /var/blobstorage

[2015-12-17 11:24] #90 closed

[2015-12-17 16:38] alecpm commented on #85
Hm, I'm not seeing this locally (or at least I see unthemed on 127.0.0.1 but themed on localhost, as expected based on the config in the theming control panel).  If you don't have any uncommitted changes, try doing a 'git reset --hard' followed by a buildout run and restart both your zeoserver and client.

[2015-12-17 17:00] paregorios commented on #85
Thanks. Was using the URL popped up in the terminal by the instance when it's started, and that's the bare 127.0.0.1 (I have a vague recollection I made this mistake before). Will check localhost momentarily.

[2015-12-17 18:08] paregorios commented on #85
Yes. That was the issue. It's the README that says to view the site at 127.0.0.1 and doesn't mention localhost. I'll make a modification.

So, what's the next step on this ticket?

[2015-12-17 18:53] alecpm commented on #85
The next steps are to switch dev over to this branch, test there a bit, and then make a tag on the branch and deploy that to production.  Optionally, we could merge this branch into master so we can keep work on master.  From this point forward, all development should be done on this new branch (whatever it may be called) and the packages therein.

[2015-12-17 19:06] paregorios commented on #85
It seems to me that eventually this branch should be merged into "master" but it would probably be good to test on staging first, in the manner you suggest.

@alecpm can you coordinate with @cewing and @cguardia on when best to make this change, given that both have work in progress on affected components (and @cewing even has an outstanding pull request)?

[2015-12-17 19:40] alecpm commented on #85
I'm already in contact with them regarding the new branch, and @cewing has a patch ready for it.

[2015-12-17 19:43] alecpm commented on #85
It looks like I'm going to have to merge your changes from isaw.theme staging branch into this new repo first though.

[2015-12-17 19:45] cewing commented on #85
FYI, my PR from the isaw.policy package has already been patched to a new branch here and a new PR opened against the `merged-repos` branch, so I'm all cleared.

[2015-12-17 19:48] paregorios commented on #85
What changes on isaw.theme:staging? I don't see any as compared to isaw.theme:master https://github.com/isawnyu/isaw.theme/compare/master...isawnyu:staging

[2015-12-17 19:56] alecpm commented on #85
You are correct.  I was fooled by looking at the differences between staging and master on the dev server  (where staging is being used, and master hasn't been updated apparently).

[2015-12-17 19:57] alecpm commented on #85
merged-repos is deployed to isaw4-dev

[2015-12-17 20:24] paregorios commented on #85
I've poked around some on staging and don't see any problems. Is there any systematic testing we should do?

[2015-12-17 20:58] alecpm commented on #85
Not really, there's no reason to think that anything should be different at this point besides the repo structure.  @cewing and @cguardia, it's probably a good time to make your commits to the new branch at this point.  I'll tag a release (assuming there's nothing currently on staging that's not OK to deploy to production currently).

[2015-12-17 21:09] paregorios commented on #85
I haven't had a chance to review @cewing's changes, which I think represent a work in progress that hasn't yet been deployed even to staging. In any case, I don't think we should deploy his workflow changes to production yet. I can't speak to where @cguardia is on that score. But otherwise I think all the code that is running on staging should be fine to deploy also to production.

[2015-12-17 21:12] alecpm commented on #85
Indeed, I made a tag (2.0) for what's currently committed and live on staging (does not include recent changes from @cewing or @cguardia), and can deploy that tag to production whenever you are ready.

[2015-12-17 21:20] paregorios commented on #85
go for it: please deploy to production

[2015-12-18 15:49] paregorios commented on #85
If this was deployed yesterday on production, it seems to be fine. No reports of problems so far.

[2015-12-18 16:51] alecpm commented on #85
Great!

[2015-12-18 16:59] alecpm commented on #46
These changes (removing the Personnel Manager Role, and disallowing Editors access to the ZMI) have been made TTW and in the policy profile.

[2015-12-18 17:18] paregorios commented on #46
@alecpm can you point me to the associated commit or branch for testing?

[2015-12-18 17:40] alecpm commented on #46
https://github.com/isawnyu/isaw.web/commit/cc46c52e566addee9746e8b1552321010efba8e1
 and much earlier:
https://github.com/isawnyu/isaw.web/commit/a3b964d6a116bb663f959129eaaba015910fb21a

There's no migration step, as I applied the role changes manually to staging and production.

[2015-12-18 23:22] cewing commented on #63
This should now be 100% fixed (the PR above merely ensures that these changes are official, and happen on production as well)

[2015-12-18 23:24] cewing commented on #103
@paregorios as I explained on the phone, there is no distinction in base Plone between deleting an object and deleting the items an object contains, and the ability to delete things is tied to the state of the parent of the things being deleted.  This means that without significantly interfering in how the right to delete stuff is determined, we cannot achieve a solution to those two bullet points

[2015-12-18 23:25] cewing commented on #104
This will be repaired once #106 is merged and deployed.

[2015-12-18 23:25] cewing commented on #105
This will be repaired when #106 is merged and deployed.

[2015-12-21 17:57] alecpm commented on #85
OK, I've merged "merged-repos" back to master, so we can now resume development (and branching and tagging) on master.  I'll be switching the dev server back over to master today (prod is on a tag rather than on a branch, so it will remain unchanged).

[2015-12-21 17:58] alecpm commented on #85
@cguardia, @cewing make any new changes/pull requests can go to master now (once you've pulled down the current master)

[2016-01-04 23:06] paregorios commented on #92
This got closed inadvertantly. Reopening with apologies.

[2016-01-07 13:27] k2soule commented on #98
This issue has been identified by key stakeholders as a high priority, since it is a very visible aspect of the web site, and the delay caused by manual updating of the sliders for Upcoming Events and News has been noticed. I'm bumping this up to a higher priority.

[2016-01-07 13:33] k2soule commented on #98
Ideal site behavior: the overlay text for the Upcoming Events slider automatically updates to show the next three upcoming events chronologically, and the overlay text for the News slider automatically updates to list the three most recently-posted news items.

[2016-01-12 18:32] #85 closed

[2016-01-12 18:33] #46 closed

[2016-01-13 21:53] cewing commented on #63
@paregorios this is deployed and ready to test.  Your selenium test suite covers this issue well, and you should expect all tests related to it to pass.

[2016-01-13 21:56] cewing commented on #103
@paregorios excepting the two bullets regarding deletion, this issue is fixed and deployed.  You can run your selenium tests and you should expect all tests to pass **except** those for preventing owners from deleting content in the pending or published state.

[2016-01-13 21:56] paregorios commented on #63
@cewing deployed to staging or to production? I'm hoping just staging at this point...

[2016-01-13 21:57] cewing commented on #104
This is merged and deployed and you may expect all selenium tests related to it to pass.

[2016-01-13 21:58] cewing commented on #63
Staging, I believe.  I don't think we deploy to production without your review and go-ahead.

[2016-01-13 21:59] cewing commented on #105
This is deployed to staging and can be tested.  You should expect all tests related to this in your selenium suite to pass.

[2016-01-13 22:07] skleinfeldt commented on #63
Yes, staging.

[2016-01-13 22:07] skleinfeldt commented on #63
Yes, staging.

[2016-01-13 22:08] skleinfeldt commented on #103
For all these tickets, deployed = staging

[2016-01-13 23:25] paregorios commented on #103
Selenium testcases for "standard" suite exhibit the following failures:

* in testcase jcarberry:
  * user is given a "checkin" option on own working copy of a "pending" item (unexpected failure)
  * user is given a "delete" option (expected failure)
* in testcase alee:
  * user is given a "checkin" option on own working copy of a "published" item (unexpected failure)
  * user is given a "delete"

[2016-01-14 21:10] skleinfeldt commented on #103
@cewing i think this is a question for you...

[2016-01-14 21:15] skleinfeldt commented on #53
For you @alecpm

[2016-01-14 21:16] skleinfeldt commented on #54
For you @cguardia

[2016-01-14 21:16] skleinfeldt commented on #56
For you @cewing

[2016-01-14 22:47] cewing commented on #103
@paregorios, can you check a few things for me.

First, let's verify that the workflow is correct. Go to Site Setup, and from there to the Zope Management Interface.  Find the `portal_workflow` tool and click on it.  Then click on the contents tab and select the isaw_standard_workflow.  From there, select the permissions tab and verify that the `iterate : Check in content` permission is in the lis

[2016-01-14 22:53] cewing commented on #103
One last thing, @paregorios, it occurs to me that the tests for checkin might use objects that are already in existence and have been for a long time.  If this is the case, then it is possible that even though the workflow is correct, the permissions have not been properly re-indexed.  You might try 'editing' and then saving the folder in which the standard workflow tests are run.  This should cau

[2016-01-14 22:58] paregorios commented on #103
@cewing it looks as if the workflow is not correctly deployed (or something) on staging. I got as far in your instructions above as the step to check that ```iterate : Check in content``` is in the list of managed permissions. It is not:

![standard-workflow-permissions](https://cloud.githubusercontent.com/assets/263285/12340274/7fa780c2-badf-11e5-97be-8b20b0eeb92b.jpg)

[2016-01-14 23:03] cewing commented on #103
@paregorios: that would certainly be a problem, and would explain the failure we are seeing.

Can you check in the add-on control panel to see if there is an upgrade step available for isaw.policy?  Maybe we didn't run the upgrade step after pushing the changes to staging?

[2016-01-14 23:29] paregorios commented on #103
After running the upgrade step on isaw.policy, I can confirm that tests for both standard and intranet workflow are passing as originally described above. Closing this ticket as resolved.

[2016-01-14 23:29] #103 closed

[2016-01-14 23:30] paregorios commented on #105
Tests passing. Close as resolved.

[2016-01-14 23:30] #105 closed

[2016-01-14 23:30] paregorios commented on #104
All tests passing. Closing as resolved.

[2016-01-14 23:30] #104 closed

[2016-01-14 23:31] paregorios commented on #63
All tests passing. Closing as resolved.

[2016-01-14 23:31] #63 closed

[2016-01-15 19:38] cewing commented on #56
@paregorios I can verify that the same behavior happens with a default installation of Plone.  I am investigating to discover why, but it appears to be an issue in the package that provides working copy support.  I'll keep you posted.

[2016-01-15 20:41] cewing commented on #56
@alecpm please mark reviewing after this is merged and deployed, and assign to @paregorios so he can verify the fix.

[2016-01-15 21:46] skleinfeldt opened #109 "Empower Tom and Kristen to do deployments"
The new and improved merged repo stack is now running on production, so deployments are much easier to do. This ticket is intended to give @paregorios  and @k2soule  the knowledge to be able to do future deployments. I'm assigning to @alecpm to provide the cookbook. Feel free to ask questions, and when you're ready, you can do the next deployment. Schedule it at a time when we can be standing by o

[2016-01-15 22:47] paregorios commented on #109
+1 all over this :)

[2016-01-16 02:01] alecpm commented on #56
Didn't mean to close the issue, but it is merged and deployed to dev.

[2016-01-16 02:09] alecpm commented on #109
Deploying should be pretty straightforward.  Once the master branch is in a state that you feel is ready to deploy to production, check the current tags in your local working copy:

    git tag

Pick a new release number (e.g. 3.3.4) then create and push the new tag:

    git tag 3.3.4
    git push origin 3.3.4

Login to the production server and checkout the new tag:

    git fetch --all
    git

[2016-01-16 04:50] cguardia commented on #54
Pushed fix for this to master.

[2016-01-16 13:52] skleinfeldt commented on #54
@cguardia please deploy this to staging so ISAW can review.

[2016-01-16 19:28] cguardia commented on #54
Deployed to staging.

[2016-01-19 21:00] skleinfeldt commented on #109
Over to @paregorios for review.

[2016-01-19 21:29] skleinfeldt commented on #54
Over to @paregorios for review.

[2016-01-19 21:31] skleinfeldt commented on #56
over to @paregorios for review

[2016-01-19 23:01] skleinfeldt commented on #53
Unfortunately we don't have enough time left to take this one, reassigning to @paregorios

[2016-01-21 21:14] paregorios commented on #54
This appears to be working on my local instance.

[2016-01-21 21:15] paregorios commented on #56
this appears to be working on my local instance

[2016-01-21 21:24] paregorios commented on #54
this appears to be working in my local instance

[2016-01-21 22:32] paregorios commented on #109
I've successfully stepped through this procedure on my local instance with no difficulties.

[2016-01-21 23:03] paregorios commented on #109
Just a couple of questions to make sure I understand everything aright (I'm mainly used to restarting my local development instance according to steps in the readme). After making jazkarta my primary group and then checking out the new tag as discussed above, I'll need to:

* ```bin/buildout``` (no need to run bootstrap, right? no arguments to buildout, right?)
* if there are any permissions error

[2016-01-22 02:36] alecpm commented on #109
That's about right. You need to be in the jazkarta group, but it doesn't have to be your primary group.  There's probably no need for a varnish restart unless you want to clear the cache for some reason. There's also generally no need to restart the zeoserver, unless there's a significant zope upgrade.

[2016-01-22 14:03] paregorios commented on #109
Thanks @alecpm

[2016-01-26 17:53] k2soule opened #110 "Bylines not appearing in blog items"
When a person's name is listed in the "creators" field for a blog post, that name appears in the news blog tile view, but not inside the blog post itself. (Whereas a byline is displayed in both places if a valid username is entered in the "creators" field.) If two or more creators are listed, only the first one appears.

The byline should be able to display more than one author, and ideally it sho

[2016-01-26 17:56] k2soule commented on #110
The current text for the Creators field is:
"Creators
Persons responsible for creating the content of this item. Please enter a list of user names, one per line. The principal creator should come first."

[2016-01-26 18:14] paregorios commented on #110
We might want to try adapting some of [this code from the Pleiades skin](https://github.com/isawnyu/PleiadesEntity/blob/master/skins/PleiadesEntity/citationAuthors.py) to override the default Plone 4 byline behavior (which just picks up the first creator as author) in [the viewlet document_byline.pt at v. 2.3.x](https://github.com/plone/plone.app.layout/commit/b1d1ea7071c6ed606d9fbb8cee66fe892557f

[2016-01-26 18:15] paregorios commented on #110
But see also:

* http://stackoverflow.com/questions/8827304/can-more-than-one-author-be-listed-in-the-byline

[2016-01-26 18:17] paregorios commented on #110
And see: http://docs.plone.org/4/en/old-reference-manuals/plone_3_theming/elements/visibleelements/plone.belowcontenttitle.documentbyline.html

[2016-01-27 15:31] paregorios commented on #51
Users with "can add", "can view", and "can edit" on /news still cannot submit for review. Reopening.

[2016-01-27 15:32] paregorios commented on #51
It looks like this issue was inadvertantly closed by virtue of a commit message in December. The referenced commit (372cb93) seems irrelevant to this issue.

[2016-01-27 15:42] paregorios commented on #51
Culprit? https://github.com/isawnyu/isaw.web/blob/master/src/isaw.policy/src/isaw/policy/profiles/default/workflows.xml#L36

[2016-01-27 16:37] paregorios commented on #51
Path to enlightenment: http://docs.plone.org/4/en/develop/plone/content/workflow.html

[2016-01-27 16:37] paregorios commented on #51
Plan is:

1. Override these assignments via ZMI -> portal_workflow
2. Figure out how to get them out of code forever.

[2016-01-27 22:11] paregorios commented on #109
Keeping this open for now as a reminder to document details, but this is substantively done and good.

[2016-01-27 22:12] paregorios commented on #43
Investigate caching policy for folders and for collections.

[2016-01-27 22:15] paregorios commented on #51
We have successfully set workflow for news items to ```((Default))``` via the ZMI and re-published everything that got blown back to "drafting" as a result. Our editors are now able to submit items as expected. So the follow-up remains: how to make this permanent in code and how to deal with events, where it's also an issue.

[2016-01-29 16:14] paregorios commented on #110
I have a modified template, applied via the ZMI, for this capability now in stakeholder review via staging. If no major objections, I'd hope to deploy (via ZMI) on production shortly, then follow-up by incorporating in code.

[2016-01-29 18:46] cewing commented on #51
@paregorios the `workflows.xml` file in `isaw.policy`(which you identified in [your comment above](https://github.com/isawnyu/isaw.web/issues/51#issuecomment-175694521) is the file responsible for assigning the default workflow definition and for binding alternate workflows to individual types on a global basis.  So long as the `isaw_reviewer_workflow` is bound to the `NewsItem` and `Event` types

[2016-01-29 18:53] paregorios commented on #51
@cewing thanks!!!!

[2016-01-31 21:29] skleinfeldt commented on #110
[Don't forget to remove it from the custom skin when the code's been deployed!]

[2016-02-03 14:35] paregorios opened #111 "vertical spacing after headings, paragraphs, and lists is inconsistent"

[2016-02-03 14:36] paregorios commented on #111
Now in work in branch ```issue111```

[2016-02-03 15:16] #111 closed

[2016-02-03 15:30] paregorios commented on #110
in work in branch issue110

[2016-02-03 15:56] paregorios commented on #51
now working on code for this in branch issue51

[2016-02-03 18:04] paregorios commented on #109
we've been able to do this repeatedly and have produced internal documentation, which should in future be consulted instead of this ticket thread. Closing as resolved.

[2016-02-03 18:04] #109 closed

[2016-02-03 19:20] paregorios opened #112 "bulleted lists overlap or abut left-floated images"
Needs whitespace.

![overlap](https://cloud.githubusercontent.com/assets/263285/12794055/dfdd96c2-ca78-11e5-8aa4-e957a2400adf.jpg)

[2016-02-03 19:21] paregorios commented on #112
ul wants:

* overflow: hidden
* list-style-position: outside;
* padding-left: 32px;
* margin-left: 0px;

[2016-02-03 19:21] paregorios commented on #112
Now in work on branch issue112

[2016-02-03 19:52] #112 closed

[2016-02-03 21:45] paregorios commented on #47
Apparently we are not the only ones seeing this problem: https://github.com/plone/plone.app.mosaic/issues/164

[2016-02-03 22:22] skleinfeldt commented on #47
FYI, we ran into a horrible problem with p.a.imagecropping losing its crop information at unpredictable times. @alecpm even put some time into it, but without being able to reproduce the problem it was hopeless. I know it happened when something to do with image crops changed but could never isolate it. If you can figure out what causes this it would be awesome.

Thanks for the pointer to that oth

[2016-02-04 13:55] paregorios opened #114 "build a better publications experience"
We now have so many publications, both in print and online, that we need a better experience than the two pages we've had so far: [Publications](http://isaw.nyu.edu/publications) and [Online Resources](http://isaw.nyu.edu/online-resources). This need is further heightened by the fact that we dropped Online Resources from the main navigation in order to simplify and on the assumption that we could

[2016-02-04 13:55] paregorios commented on #114
@sfsheath and @k2soule will want to be part of this discussion

[2016-02-04 16:11] paregorios commented on #114
now experimenting with collective.cover in branch issue114

[2016-02-05 14:47] paregorios commented on #70
top priority per @rogerbagnall ; blocker for website update report

[2016-02-05 14:51] paregorios commented on #70
now in work in branch issue70

[2016-02-05 14:56] paregorios opened #115 "build an events archive"

[2016-02-05 14:57] paregorios commented on #115
primary axis of organization: academic years (first day of new year is 1 September)

[2016-02-06 12:36] paregorios commented on #115
Events have been reorganized into annual-year folders within the "events archive" folder on production. Each of these subordinate folders has been given a collection as a default view page that gathers up all of the images therein. This will give us the ability, after some modifications to the "events view" template, to insert rich text before the event listing. The one exception is the current-ye

[2016-02-06 12:44] paregorios commented on #115
Note that the contents of the event archive only go back (at the moment) to the dawn of the plone-based ISAW website (i.e., December 2010). Earlier event information is to be had in stored copies of the ISAW website, which I have. We will have to write scripts to insert this information as event data into the plone website.

[2016-02-06 13:09] paregorios commented on #70
no code changes were required, just cropping so that the aspect ratio of the desired images so that the height is only 2/3 of what it was previously, uploading the cropped versions and substituting them in the layout through the "slider settings" edit page. This is deployed on production.

[2016-02-06 13:09] #70 closed

[2016-02-06 13:13] paregorios commented on #56
This is indeed fixed. Closing.

[2016-02-06 13:13] #56 closed

[2016-02-06 13:16] paregorios commented on #62
This will require changes to the default actions for each view, and constitutes overrides of base plone functions.

[2016-02-06 13:37] paregorios commented on #39
Content folder views had been set to "strong" caching; I downgraded this to "weak" in the hopes of at least reducing this problem from the server perspective. I think we will need to sit with users and watch them do extensive work with the site in the problematic spots to see what happens. In order to prevent browser-side caching by logged-in users, we may need to investigate the selective modific

[2016-02-06 13:48] paregorios commented on #39
We may also want to look at changing caching settings for images. There's an "anonymous only" setting, but its use requires specification of headers to pass to the caching proxy. I'd need to know more about how all this works before fooling with it.

[2016-02-07 17:12] paregorios commented on #115
trackback to http://ticket.isaw.nyu.edu/help/issue1789

[2016-02-07 17:13] paregorios commented on #115
nos. #96 and #95 are downstream enhancement requests for this overarching issue

[2016-02-07 17:14] paregorios commented on #96
blocked for #115

[2016-02-07 17:19] paregorios commented on #95
blocked by #115

[2016-02-07 17:20] paregorios commented on #114
bumping to high priority as it's an issue of concern for the director

[2016-02-07 17:23] paregorios commented on #110
bumping to medium priority as there's a workaround in place, but there's a downstream gotcha lurking until it's been incorporated in code.

[2016-02-07 17:24] paregorios commented on #98
downgrading to medium priority because it is not a top issue for the director

[2016-02-07 17:24] paregorios commented on #96
director's issue

[2016-02-07 17:24] paregorios commented on #95
director's issue

[2016-02-07 17:25] paregorios commented on #93
not a director's issue

[2016-02-07 17:26] paregorios commented on #74
This was fixed at 38fefff93043269f9bff4359004c702e25096ba5

[2016-02-07 17:26] #74 closed

[2016-02-07 17:27] paregorios commented on #62
director's issue

[2016-02-07 17:28] paregorios commented on #60
not a director's issue

[2016-02-07 17:29] paregorios commented on #54
working

[2016-02-07 17:29] #54 closed

[2016-02-07 17:29] paregorios commented on #53
not a director's issue

[2016-02-07 17:31] paregorios commented on #51
not a director's issue, but leaving high priority as there's a major potential gotcha here if we don't get this locked in code/buildout

[2016-02-07 17:32] paregorios commented on #43
this is a duplicate for #39

[2016-02-07 17:32] #43 closed

[2016-02-07 17:34] paregorios commented on #39
problem is probably not limited to the news blog; see #43 (which has been closed as a duplicate but has some useful information in comments). I think it remains important that we sit beside e.g. Marc and Maggie while they work so we can see what's happening now.

[2016-02-07 18:24] paregorios commented on #67
This remains an issue, and is particularly evident in events. It's too bad the old template custom code for this didn't get carried forward. Perhaps it's not too difficult to find and fold in.

[2016-02-08 18:55] paregorios commented on #114
a mockup:

![img_0906](https://cloud.githubusercontent.com/assets/263285/12895669/2ed47910-ce63-11e5-81b6-d64bf5d32e39.JPG)

[2016-02-08 22:59] paregorios opened #116 "create cool landing pages for lecture series"
the events section should sport individual pages for each of ISAW's sponsored lecture series (i.e., the Leon Levy lectures and the Rostovtzeff lecture series), detailing both the history and future plans of each. This is a director's issue.

[2016-02-08 23:00] paregorios opened #117 "bylines appear to all logged-in users even on content they can only read"
unverified user report; is causing confusion

[2016-02-09 01:02] rogerbagnall commented on #114
Promising. I think I'd put Exhibitions in the top line in place of
Journals.

--
Roger S. Bagnall
Leon Levy Director
Institute for the Study of the Ancient World
New York University

[2016-02-09 20:05] paregorios opened #118 "move library departmental information"
currently subordinate to /about; probably should be made subordinate to /library

[2016-02-09 20:05] paregorios opened #119 "move exhibitions departmental information"
currently subordinate to /about, probably should be subordinate to /exhibitions

[2016-02-10 19:51] paregorios commented on #97
marked high priority because it would be an easier way of getting a good entry look to the events archive ( #115 ) than figuring out how to win the style battle with collective.cover and the isaw theme.

[2016-02-17 17:11] paregorios commented on #93
bumping to high priority because it causes slow-down and hassle for content creators

[2016-02-17 17:12] paregorios commented on #91
bumping to high priority because it causes slow-down and hassle for content creators

[2016-02-18 03:19] paregorios opened #120 "build a better library experience"
Desiderata:

- tile-menu home page
- Bobcat search widget portlet
- ...

[2016-02-18 03:37] paregorios opened #121 "improve title and section pages in employee guide"
Right now we are mostly using either a table view or a standard folder listing for these purposes, but neither is very satisfactory. Either we need a custom template that functions somewhat like a title page with table of contents, or we need an introductory cover page along with left-hand navigation.

[2016-02-18 03:42] paregorios opened #122 "add thematic browse access and links for parts of the employee guide"
e.g., for faculty. On the model of what's already been done for "student handbook".

[2016-03-19 10:32] paregorios commented on #75
Have verified that tracking code / javascript snippet is set in ```/@@site-controlpanel```. This script never makes it into rendered page HTML. Is it being filtered out in the Diazo theme?

[2016-03-19 18:17] skleinfeldt commented on #75
@paregorios sounds likely... Easy to fix if that's the case.

[2016-03-29 13:35] paregorios opened #123 "isaw logo has white border in some chrome versions on Mac"
![whitewall](https://cloud.githubusercontent.com/assets/263285/14109736/22bf3ec4-f589-11e5-85d2-6fce26c94d16.png)

[2016-04-01 14:32] paregorios commented on #123
In-browser testing seems to indicate that the way to deal with this is to replace "contain" in the css style specification for the background image with "100%".
![no-whitewalls](https://cloud.githubusercontent.com/assets/263285/14209982/8f14f874-f7ec-11e5-81af-86c641f23e58.png)

[2016-04-01 14:32] paregorios commented on #123
above tested in chrome on Mac; needs testing in other browsers then implementation in code

[2016-06-06 17:45] cewing commented on #57
We should use Products.RedirectionTool for this.

[2016-06-06 17:51] skleinfeldt commented on #92
The user name label that should be part of the "user actions"  should show in the footer in the same place as the login link.

[2016-06-06 17:52] k2soule commented on #39
Just assigned this to myself to document an example of this issue, the next time it comes up.

[2016-06-06 18:38] cewing commented on #123
@paregorios, I am unable to reproduce this issue.

Here's what I see in Safari, Firefox and Chrome (from left to right) on my Mac on the live site.  Is this specific to some other browser?  I am also unable to see the problem using a local dev instance.

![isaw_logo](https://cloud.githubusercontent.com/assets/417109/15833308/067b5b52-2bdb-11e6-81fa-2b4f2ceb162d.png)

[2016-06-06 22:34] alecpm commented on #75
GA code fix is on staging, I can tag and release to production when confirmed:

http://isaw4-dev.atlantides.org

[2016-06-06 22:44] cewing commented on #110
I've got this one licked, @paregorios, but I'd like some eyes on the pull request before merging it.

We must also remember that to properly close this, once the code is deployed you will need to delete the customized version of this byline viewlet template from the ZMI.  Otherwise, that version will take precedence over this one.

[2016-06-06 22:55] alecpm commented on #50
Updated.

[2016-06-06 23:00] alecpm commented on #64
Currently, the template sets batch=True in the arguments to getFolderContents, which batches the results (default batch size 100). We can remove batching to ensure all results are shown, or add the batch navigation macros to the page so that you can easily navigate between batches of 100 (like on folder_contents and other pages). Which would be preferred?

[2016-06-07 00:12] cewing commented on #88
After quite a lot of mucking about, it turns out that there are a number of things at play here.

First, TinyMCE calculates the size of the editor window based on configuration at the time when the page loads.  It *might* be possible to add CSS rules to control this to some degree, but that seems inadvisable.  Instead, I think that using configuration settings to get what you want is the right way

[2016-06-07 00:15] paregorios commented on #123
This only occurs for me in Chrome 50.0.2661.102 (64 bit) under El Capitan 10.11.5, even after clearing all cache etc. This is a new computer from the one I saw it on when I originally opened the ticket. It does not occur for me Safari or Firefox. Please defer more work on this issue until I can verify that it occurs on someone else's machine. I will downgrade priority label and take assignment mea

[2016-06-07 00:17] cewing commented on #91
The problem here is caused by a setting in the TinyMCE configuration panel.

The width of the TinyMCE toolbar is currently set to be 1024 pixels.  This forces the rendering of a 1024 pixel wide div to hold the editor toolbar.  The fact of a static width being set on this element causes the editor to overflow the available width on the edit page when portlets are shown in either column (to sometime

[2016-06-07 00:33] paregorios commented on #91
This appears to have been implemented on production already, and it appears to be having the desired results. Any objections from @k2soule or @cewing to closing this issue as resolved?

[2016-06-07 00:37] paregorios commented on #88
I've made these changes and all appears good on production. Closing as resolved.

[2016-06-07 00:37] #88 closed

[2016-06-07 00:50] paregorios commented on #75
I am seeing javascript on staging with the correct tracking ID; however, what Google Analytics tells me the full "tracking code" should look like is different from what I see on staging. Has google updated do you suppose?

Here's what google says we should use:

[code]

[2016-06-07 00:51] paregorios commented on #50
Closing resolved.

[2016-06-07 00:51] #50 closed

[2016-06-07 06:59] alecpm commented on #75
The code is entered in the site control panel e.g.:

http://isaw4-dev.atlantides.org/@@site-controlpanel

and can be whatever you choose. What's currently appearing in the themed site seems to match what's in the staging control panel presently.

[2016-06-07 10:17] paregorios commented on #75
@alecpm thanks. Please deploy to production.

[2016-06-07 11:49] k2soule commented on #64
My first instinct is to enable the batch navigation macros, so that we
don't have to worry about an exhibition checklist with 400 object
thumbnails trying to load all at once.

Tom, any objections?

-Kristen

On Mon, Jun 6, 2016 at 7:00 PM, Alec Mitchell <notifications@github.com>
wrote:

[2016-06-07 11:52] k2soule commented on #64
Yes that's my inclination as well. Let's make it so.

On Tuesday, June 7, 2016, Kristen Soule <kristen.soule@nyu.edu> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-06-07 18:01] alecpm commented on #75
GA code is now live on production.

[2016-06-07 18:32] alecpm commented on #64
This is deployed to staging. See here for an example:

http://isaw4-dev.atlantides.org/exhibitions/aesthetics/checklist/

[2016-06-07 20:10] cewing commented on #91
No objections.  I actually clicked that button myself, so if it has worked, let's mark it closed.

[2016-06-07 20:22] k2soule commented on #91
I have no objections to closing the ticket.

On Tue, Jun 7, 2016 at 4:10 PM, Cris Ewing <notifications@github.com> wrote:

[2016-06-07 20:25] #91 closed

[2016-06-07 20:27] k2soule commented on #64
Nice - that has the desired effect. Thanks!

On Tue, Jun 7, 2016 at 2:32 PM, Alec Mitchell <notifications@github.com>
wrote:

[2016-06-07 20:30] paregorios opened #125 "login and other actions missing from footer on production"
<img width="642" alt="screen shot 2016-06-07 at 3 29 50 pm" src="https://cloud.githubusercontent.com/assets/263285/15873527/bf0148fa-2cc4-11e6-97db-285e8e076e42.png">

[2016-06-07 21:20] cewing commented on #110
@alecpm I thought I'd pinged you on this, but looking back, I clearly failed to do so.  Wondering if you'd do a bit of code review, and then merge/deploy to staging if ready?

[2016-06-07 21:48] paregorios commented on #64
thanks, please deploy to production at your leisure

[2016-06-07 23:48] cewing commented on #110
@paregorios this is now merged, but it is not yet deployed.  Will assign to you when I'm sure it's ready on staging for review.

[2016-06-07 23:49] cewing commented on #93
@paregorios this is now merged, but not yet deployed to staging.  Will assign to you when it is ready for review.

[2016-06-07 23:50] cewing commented on #78
@paregorios this is merged but not yet deployed.  Will assign to you when it is ready for review.

[2016-06-07 23:55] alecpm commented on #64
Done: http://isaw.nyu.edu/exhibitions/aesthetics/checklist/

[2016-06-08 00:16] cewing commented on #110
Deployed.  Marking as reviewable and assigning to @paregorios

[2016-06-08 00:17] cewing commented on #93
deployed and ready for review.  In your hands, @paregorios!

[2016-06-08 00:17] cewing commented on #78
deployed, in your hands, @paregorios

[2016-06-08 00:30] cewing commented on #53
@paregorios this is ready for review on staging.  The missing types which supported lead images but do not have image cropping enabled were the page, event, folder and collection type.  All should now have image cropping enabled.

Please be aware that the types selected for having lead images are not automatically granted the cropping ability.  If you make changes in the future to what types have

[2016-06-08 09:00] cguardia commented on #125
This commit caused the links to disappear: https://github.com/isawnyu/isaw.web/commit/657df82ca669be7da4d6280eca9fffcf4fc399a0

What happened was that we switched to a "raw" mode for the replace rule, which caused the footer to be copied before the rule that added the links from the personal tools was executed.

I tried several ways to avoid the conflict in the rules, but was not successful, but s

[2016-06-08 12:13] paregorios commented on #125
If we're confident that this won't have any knock-on effects elsewhere, yes please deploy to production. We have users blocked from login and complaining. Yes, we can give them work-arounds, but it will be a hard problem to contain.

[2016-06-08 12:18] #64 closed

[2016-06-08 12:19] paregorios commented on #53
Great! Reassigning this to @k2soule for review.

[2016-06-08 12:37] paregorios commented on #78
Working great on staging. Please deploy at leisure to production.

[2016-06-08 12:39] paregorios commented on #93
Looks good. Please deploy to production at leisure.

[2016-06-08 12:54] paregorios commented on #110
@cewing this is very close, but it looks like we're trapping whitespace somewhere between the end of each creator string and the trailing comma:

<img width="417" alt="screen shot 2016-06-08 at 7 51 11 am" src="https://cloud.githubusercontent.com/assets/263285/15894858/d40a67ac-2d4d-11e6-9111-d05bf806a94d.png">

[code]
I think we need something that ends without whitespace between the closing of t

[2016-06-08 16:17] alecpm commented on #125
Deployed to production, along with all of @cewing's more recent fixes.

[2016-06-08 16:22] paregorios commented on #125
Great!

[2016-06-08 16:22] #125 closed

[2016-06-08 16:29] alecpm commented on #47
That mosaic issue provides a good hint as to what might be happening in the cropping machinery. I'll see what I can find. I've deployed the latest release of p.a.imagecropping to staging (we were using a pinned github commit), as it incorporates some fixes that may help here, but doesn't appear to have a definitive fix.

[2016-06-08 16:35] skleinfeldt commented on #47
@alecpm is this the same problem I kept experiencing on the Jazkarta site? Boy it would be great to find a fix and make p.a.imagecropping more stable...

[2016-06-08 16:35] cewing commented on #110
I'll see if I can't squash that. I thought I had. Thanks

[2016-06-08 17:21] cewing commented on #110
Yep, found it.  As soon as we can get this deployed, I'll re-assign back for review.

[2016-06-08 18:01] cewing commented on #51
@paregorios or @k2soule could you take a few moments today to summarize from above what needs codification in our codebase?  I'm having trouble following the thread.

[2016-06-08 18:27] cewing commented on #68
Implemented, awaiting merge and deploy to staging.

[2016-06-08 18:29] cewing commented on #97
So to clarify here @paregorios, the issue here is that the tiled view does not show "lead image" images if present, not that the tiled listing view should be made available on other content types?

[2016-06-08 19:19] cewing commented on #97
implementation of above description finished and PR opened.  Will alert when deployed to staging for review.

[2016-06-08 20:58] paregorios commented on #97
@cewing you've got it right in terms of what I'm looking for; I'll wait to hear from you for review

[2016-06-08 21:04] paregorios commented on #51
@cewing what I think we need you to do is to implement the code changes to workflows.xml that [you recommended back in January](https://github.com/isawnyu/isaw.web/issues/51#issuecomment-176905789). Does that make sense?

[2016-06-08 21:10] cewing commented on #51
Ahhhhhh.  I see what you mean.  The part where I say we have to remove the specific bindings for those types from `workflow.xml` in order to prevent your manual changes from being overwritten.  I'll follow that path.  Thanks for the feedback, @paregorios

[2016-06-08 21:36] cewing commented on #51
Changes made, awaiting code review and deployment to staging.  Will alert when ready for review, though there's not likely to be anything here to review.

[2016-06-08 21:47] alecpm commented on #51
It seems to me that maybe this is a case where we should be using CMFPlacefulWorkflow to define a different workflow mapping for /news and /events rather than making a global workflow change. I may not be fully understanding the issue though.

[2016-06-08 21:51] paregorios commented on #51
We are tying to get rid of the vestiges of an okdbworrkflowbchange.

On Wednesday, June 8, 2016, Alec Mitchell <notifications@github.com> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-06-08 21:52] cewing commented on #51
@alecpm I think at one point that may have been true.  My impression at this point is that @paregorios and @k2soule no longer want any `isaw_reviewer_workflow` at all, in any area of the site.  I may be misreading that, though.

FYI, @paregorios, @k2soule, the changes I've made here are going to be global, which means that throughout the entire site (unless there is a placeful workflow definition

[2016-06-08 22:02] alecpm commented on #47
It's definitely the same issue, which is a very tricky one to track down as it seems to occur semi-randomly and without obvious cause.

[2016-06-09 00:09] paregorios commented on #51
@cewing is correct and I understand the implications he outlines

On Wednesday, June 8, 2016, Cris Ewing <notifications@github.com> wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-06-09 04:33] cguardia commented on #60
@alecpm already did this one. It's already released.

[2016-06-09 06:02] cguardia commented on #92
Deployed change to staging.

[2016-06-09 06:18] cguardia commented on #57
Added redirection tool and upgrade step to policy. Installed on staging.

[2016-06-09 17:02] k2soule commented on #53
Looks good to me on staging.

[2016-06-09 17:10] k2soule commented on #53
Changing to deploy...

[2016-06-09 17:10] paregorios commented on #53
please deploy to production at your leisure

[2016-06-09 17:17] paregorios commented on #100
To clarify: we would like to have the option of using this title-only view for either folders or collections.

[2016-06-09 17:18] k2soule commented on #57
I see the new Aliases option now on staging. I'll go try it out.

[2016-06-09 18:04] k2soule commented on #117
Adding details: a user pointed out that the visible bylines on certain internal documents only confuse the reader (they reflect the person who created the initial draft document, and not the person who "owns" the content, and anyway the person who owns the content is referenced in contact information within the page - so the byline doesn't need to appear at all. Yet, we do want all users to be abl

[2016-06-09 18:11] skleinfeldt commented on #117
Could use a Diazo rule to hide selectively based on path.

Or if it only makes sense on the news blog, incorporate the needed byline info into the custom view (IIRC there is a custom view.)

[2016-06-09 18:54] k2soule commented on #123
I have duplicated what Tom is reporting; the white border artifact appeared in my Chrome browser (version 50.0.2661.102, 64-bit), on my MacOS 10.9.5 machine. It did not appear in Firefox or Safari.

[2016-06-09 18:54] paregorios commented on #75
GA has been successfully unhorked!

[2016-06-09 18:54] #75 closed

[2016-06-09 18:56] paregorios commented on #60
Can @alecpm or @cguardia point me to the commit(s) where this was incorporated into code and when it was deployed to production? Was the ZMI override removed at that time?

[2016-06-09 19:02] k2soule commented on #57
Unfortunately, this Alias feature isn't solving the issue. See my comment from October 28th; what we need is the functionality of a Link item that can sit in a particular folder - and appear in the nav bar for that folder - which links directly to an item elsewhere on the site. The example is the "Location and Hours" page in Exhibitions. We need to be able to have an item of that name appear in th

[2016-06-09 19:02] paregorios commented on #123
So, perhaps this is an issue only in certain versions of chrome? I've retitled the ticket accordingly and am pinging @skleinfeldt here to see to whom this should be assigned for further investiagtion.

To clarify: if it turns out to be a chrome *bug* for which there is at present no known workaround, then I don't want to spend a bunch of time poking at this; however, if some citizens of the web ha

[2016-06-09 19:06] paregorios commented on #80
won't fix now that Edge has been released and doesn't seem to have this problem

[2016-06-09 19:06] #80 closed

[2016-06-09 19:12] k2soule commented on #81
We need to have the text "New York University" in the header link to the main NYU web site: www.nyu.edu
Also, we need to have the image with the "NYU | ISAW" logo in the footer link to the main NYU web site.

[2016-06-09 19:13] paregorios commented on #92
Looks good! Please deploy to production at your leisure.

[2016-06-09 19:23] k2soule commented on #98
For a given slide overlay, we need the ability to choose between (a) content pulled automatically in a feed from Events or News, vs (b) rich text that we enter manually ourselves.

[2016-06-09 19:27] skleinfeldt commented on #57
Hmmm, I may have completely misunderstood the problem, sorry. @k2soule is the problem just that it is tedious to create a Link content item that points to an internal page because you have to type out (or copy-paste) the internal URL? I'm afraid that's just how the Link content items work, nothing is broken - they are generally used for external links so this wasn't a common use case.

That would

[2016-06-09 19:32] alecpm commented on #57
If using Link content is a problem because you don't want to have to copy/paste the target url (Plone will handle redirects due to renaming/moving content automatically as @skleinfeldt says), then there may be an add-on that allows using a reference field for the same purpose, it's quite old though and might need updates:

https://pypi.python.org/pypi/vs.alias

There's also a much more complicated

[2016-06-09 19:38] alecpm commented on #60
The checklist view was the only remaining ZMI customized template from the isaw.exhibitions skins layer. I incorporated the ZMI changes (commenting out the header copy) when implementing the pagination for that view in #64. The commit is here: https://github.com/isawnyu/isaw.web/commit/932a1c359b6f914c461de2dd4058175045d693f0

[2016-06-09 22:58] cguardia commented on #123
I don't have a Mac, so I'm unable to look at this. @skleinfeldt maybe you need to reassign?

[2016-06-09 23:12] paregorios commented on #123
Can you check to see if it happens in chrome on your os?

On Thursday, June 9, 2016, Carlos de la Guardia <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-06-09 23:17] skleinfeldt commented on #123
@cguardia see tom's request above that you test chrom on your OS - is an ubuntu version available?

[2016-06-09 23:46] cguardia commented on #123
@paregorios @skleinfeldt looks fine on Chrome (and Firefox too) for Linux.

[2016-06-09 23:55] paregorios commented on #123
Thanks

On Thursday, June 9, 2016, Carlos de la Guardia <notifications@github.com>
wrote:

--
--
Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

[2016-06-10 00:52] paregorios commented on #60
Thanks!

[2016-06-10 00:52] #60 closed

[2016-06-10 04:55] cguardia commented on #81
This is not trivial, because it would require changing the layout. "New York University" is not actual html, but plain text content added using CSS, and the footer image is a background CSS image. I can do that, but just wanted to point out it's not as simple as adding a link (translation: I'm scared of CSS tweaks).

[2016-06-10 14:35] paregorios commented on #81
Ah, right. This kind of implementation -- as well as the bigger fact that we got a *responsive* theme from the designers instead of a truly "mobile-first" theme as requested -- really makes maintenance and future modification harder than we hoped it would be. This is a case in point.

@cguardia and @skleinfeldt please allow @k2soule and me to discuss this in the context of priorities before spendi

[2016-06-10 14:47] cguardia commented on #57
@k2soule or @paregorios what do you want me to do here?

[2016-06-10 15:06] paregorios commented on #57
@cguardia I will take this ticket temporarily so that I can discuss next steps with @k2soule

[2016-06-10 15:09] k2soule commented on #57
Sally and Alec have hit upon my top concern - that a link item pointing to
an internal page by explicit URL would be broken if the target were later
moved.  Since you're both quite convinced that plone can handle this
circumstance, I'm ready to let this issue go without trying to implement
any additional add-ons.

Separately, I think that the redirect capability you've added here with
Products.Red

[2016-06-10 16:41] cewing commented on #97
This has been deployed to staging.

[2016-06-10 16:43] cewing commented on #68
deployed to staging.

[2016-06-10 16:45] cewing commented on #51
This has been deployed, but is not easy to review, as it only ensures that the workflow settings for NewsItem and Event will not be overwritten when the workflow import step is re-run.  We will have to wait for a change in workflow where we need to rerun that step on upgrade to be able to be sure that this worked (but it does work).

[2016-06-10 17:12] cewing commented on #123
FYI, my chrome version is 51.0.2704.84 (64-bit), so it appears my chrome is more update than yours?  This would seem to suggest that perhaps this issue is isolated to a particular version(s) of chrome

[2016-06-10 17:15] paregorios commented on #123
latest chrome update seems to have fixed this.

[2016-06-10 17:15] #123 closed

[2016-06-10 18:14] cewing commented on #100
This is implemented, awaiting review so it can be merged and deployed to staging.

[2016-06-10 18:59] paregorios commented on #97
Looks good. Please deploy to production at your convenience.

[2016-06-10 19:05] paregorios commented on #68
After running the upgrade step on staging, the style name appears as desired. Please deploy to production and run the upgrade as convenient.

[2016-06-10 19:07] paregorios opened #133 ""Introductory paragraph" has no CSS style in "wysiwyg" editor view"
It looks like we want it to in base view, but when editing it looks exactly like a normal paragraph. How hard would it be to propagate the CSS rules so it looks more-or-less the same in both contexts?

[2016-06-10 19:08] #57 closed

[2016-06-10 19:08] paregorios commented on #51
Sounds good. Please go ahead and deploy to production.

[2016-06-10 19:10] paregorios commented on #81
Now that we understand the scope of this, I'm going to create a story in scrumdo as discussed earlier today with @skleinfeldt and we can estimate how big a job this would be the next time we do planning poker.

[2016-06-10 19:10] paregorios commented on #81
Meantime, kicking this to the backlog.

[2016-06-10 19:22] paregorios commented on #110
That's got it! Please deploy to production.

[2016-06-10 22:07] cguardia commented on #27
This is on staging now.

[2016-06-11 00:32] alecpm commented on #47
It looks like what was happening is that when an item with image crops is edited, the next request for an uncached image scale triggers a cleanup process that purges any scales/crops that were generated more than 24 hours before the edit. Because the normal scaling mechanism didn't perform the cropping (only the cropping tool saved the crops), once that happens the scales appear un-cropped even th

[2016-06-11 08:08] paregorios commented on #47
@k2soule would you please take the lead on reviewing this item?

[2016-06-13 17:56] paregorios commented on #27
Looks good. Please deploy to production at your convenience.

[2016-06-21 18:01] skleinfeldt commented on #97
@cguardia can you deploy this one please?

[2016-06-21 18:55] k2soule commented on #119
I have moved this information into the /exhibitions area.

[2016-06-21 18:55] #119 closed

[2016-06-21 18:56] k2soule commented on #118
this content has been moved to the /library folder

[2016-06-21 18:56] #118 closed

[2016-06-23 16:47] k2soule commented on #110
The functionality appears to be correct on production, but did the customized version of the byline viewlet template get deleted from the ZMI?

[2016-06-23 16:50] k2soule commented on #93
This looks good on production. Closing ticket.

[2016-06-23 16:50] #93 closed

[2016-06-23 16:55] k2soule commented on #78
Checked on production; this looks like it still needs to be deployed.

[2016-06-23 16:57] skleinfeldt commented on #110
@k2soule I imagine it did, or should have been (the idea being to keep everything in code and minimize the use of the ZMI), but we'll have to wait until @cewing is back from vacation next week to ask.

[2016-06-23 17:01] k2soule commented on #53
Looks good on production. Closing ticket.

[2016-06-23 17:01] #53 closed

[2016-06-23 18:32] alecpm commented on #110
This has been deployed and the TTW customized byline has been removed.

[2016-06-23 18:33] alecpm commented on #27
This should be deployed to production now.

[2016-06-23 18:34] alecpm commented on #51
This should be deployed to production now.

[2016-06-23 18:34] alecpm commented on #68
This should be deployed to staging now.

[2016-06-23 18:35] alecpm commented on #78
This should be live on production now.

[2016-06-23 18:36] alecpm commented on #92
This should be live on production now.

[2016-06-23 18:36] alecpm commented on #97
This should be live on production now.

[2016-06-24 15:56] k2soule commented on #68
Confirmed on production; the Intro Paragraph style is showing up now. Closing ticket.

[2016-06-24 15:56] #68 closed

[2016-06-24 16:01] k2soule commented on #78
Confirmed on production; invisible gridlines are invisible. Closing ticket.

[2016-06-24 16:01] #78 closed

[2016-06-24 16:02] k2soule commented on #92
Confirmed on production; logged in user is displayed in the footer. Closing ticket.

[2016-06-24 16:02] #92 closed

[2016-06-24 16:03] k2soule commented on #110
Thanks! Closing ticket.

[2016-06-24 16:03] #110 closed

[2016-06-24 16:36] k2soule commented on #51
Thanks! I'm reassigning to Tom for final comment (if any) before closing the ticket, since we may not have an opportunity to review this right away.

[2016-06-24 16:41] k2soule commented on #97
Confirmed on production. Closing ticket.

[2016-06-24 16:41] #97 closed

[2016-06-24 16:42] k2soule commented on #27
Assigning to Tom for comment (if any) before closing.

[2016-06-24 17:11] skleinfeldt commented on #100
@alecpm is going to review

[2016-06-24 17:15] k2soule opened #134 "In Events listing view, lead images should be clickable links"
When viewing a list of events displayed in Event Listing view, the lead image for an event (if there is one) should be a clickable link through to the event item.

[2016-06-24 17:19] alecpm commented on #134
This is in place on staging:

http://isaw4-dev.atlantides.org/events/archive/ay-2015-2016

[2016-06-24 17:45] k2soule commented on #134
Looks good! Please deploy to production.

[2016-06-24 17:47] alecpm commented on #32
This fix is live on staging.

[2016-06-24 17:56] alecpm commented on #100
This change is live on staging now. Sorry for the delay.

[2016-06-24 17:58] alecpm commented on #134
This is now merged to master and will be deployed with the next tagged release.

[2016-06-24 18:54] alecpm commented on #37
The issues revolved around custom table cell padding in isaw theme. The calendar add-on we're using has very specific cell width requirements and the theme table padding was creating inconsistencies between different parts of the calendar tables. I've overridden the padding customizations for the table views to allow the multi-table layout to come together as expected. The calendar tables are a bi

[2016-06-24 21:01] paregorios commented on #32
This is working. @alecpm please deploy to staging at your leisure.

[2016-06-24 23:15] alecpm commented on #32
This is now merged to master and will be deployed with the next tag update.

[2016-07-05 19:17] k2soule commented on #95
New search feature has been added in staging. It allows searching future events or all (future and past) events. Not sure whether this will search through archived events, or just recent past.

[2016-07-05 19:18] k2soule commented on #95
Tested search; it does not currently search subfolders.

[2016-07-05 19:21] paregorios commented on #95
Steps to reproduce on staging:

- visit ```/events```
- select "Search all events" radio button
- enter the word "province" in the search box (no quotes)
- press "search"
- get nothing
- wish fondly that it had found ```/events/archive/ay-2010-2011/death-in-the-province-mortuary-practices-and-roman-imperialism-in-syria-and-lebanon```

[2016-07-05 19:25] paregorios commented on #121
Handed off capability to administration.

[2016-07-05 19:25] #121 closed

[2016-07-05 19:25] k2soule commented on #120
in progress. meetings have resumed with library staff.

[2016-07-05 19:27] k2soule commented on #114
In progress.

[2016-07-05 19:31] k2soule commented on #100
looks good on staging!

[2016-07-05 19:41] #51 closed

[2016-07-05 19:43] #27 closed

[2016-07-05 20:05] paregorios opened #135 "clickable titles and images in new exhibitions views"
In the new "checklist" and "highlights" folder views, the headings and images should be clickable links. This was discussed in standup, but apparently didn't make it into a ticket or story comment. This turned up in review of [Scrumdo Story 116](https://www.scrumdo.com/projects/story_permalink/1095959). Blocks deployment.

[2016-07-05 21:37] paregorios opened #136 "new exhibitions views do not work on collections"
[The original scrumdo story](https://www.scrumdo.com/projects/story_permalink/1095959) specifies that the new "checklist" and "highlights" views should work on collections, but a test on staging does not work. See: ```/exhibitions/foobition/highlights/highlights-collector```.

[2016-07-07 00:08] paregorios opened #137 "all plone pages throwing 503"
this just started

[2016-07-07 00:08] #137 closed

[2016-07-11 23:01] paregorios opened #138 "Pleiades Entity reference validator throwing IndexError"
@serviliusahala (a user with Contributor, Editor, Member, Reader, Reviewer roles) reported the following problem when trying to edit a particular drafting-state place: the [Curia Iulia](http://pleiades.stoa.org/places/837078212/). He was able to create a working copy of it, but the working copy throws the same error. This problem does not occur for a user with the Manager role.

The user sees the

[2016-07-11 23:08] paregorios commented on #138
This is on the wrong tracker. I will be moving it shortly to Pleiades.

[2016-07-11 23:10] paregorios commented on #138
closing as mistrackerized. I have moved it to https://github.com/isawnyu/pleiades-gazetteer/issues/184 where it belongs.

[2016-07-11 23:10] #138 closed

[2016-07-19 06:51] alecpm commented on #136
This should be working on staging now, there was an issue with the macro setup for new-style collections.

[2016-07-19 07:32] alecpm commented on #134
This is deployed

[2016-07-19 07:33] alecpm commented on #100
This is merged and deployed

[2016-07-19 07:33] alecpm commented on #37
This is merged and deployed

[2016-07-19 07:33] alecpm commented on #32
This is merged and deployed

[2016-07-19 17:47] cguardia commented on #95
The view was only using folder_contents. Switched to using the catalog. Should work now on staging.

[2016-07-21 15:16] #136 closed

[2016-07-21 16:35] paregorios opened #139 "exhibition object view omits "label text""
e.g. http://isaw4-dev.atlantides.org/exhibitions/foobition/checklist/second-item

[2016-07-21 16:36] paregorios opened #140 "exhibition object view shows summary/description field"
Standard behavior for other content on the ISAW website is to suppress this field in base view, using it only for search and listings and the like. Exhibition objects should behave the same way.

e.g. http://isaw4-dev.atlantides.org/exhibitions/foobition/checklist/second-item

[2016-07-21 16:56] paregorios opened #141 "new exhibitions checklist and highlights views missing on production"
On staging, one sees:

![screen shot 2016-07-21 at 12 55 02 pm](https://cloud.githubusercontent.com/assets/263285/17031483/6f3f1acc-4f42-11e6-96db-b7999b0f0539.png)

But these display views are missing on production:

![screen shot 2016-07-21 at 12 56 00 pm](https://cloud.githubusercontent.com/assets/263285/17031500/84b405ca-4f42-11e6-8705-283031a65130.png)

[2016-07-21 17:04] paregorios opened #142 "lead image cropping options missing for new exhibition materials"
Not on staging, nor on production, the "cropping" tab doesn't appear on exhibition objects. Isn't it needed in order to get uniform image display on the checklist and highlights views?

[2016-07-21 17:20] paregorios commented on #135
this was resolved, comments in scrumdo story

[2016-07-21 17:20] #135 closed

[2016-07-21 17:21] #32 closed

[2016-07-21 17:22] #37 closed

[2016-07-21 17:24] paregorios commented on #95
looks good, please deploy to production

[2016-07-21 17:27] #100 closed

[2016-07-21 17:30] paregorios commented on #134
This can't be tested on production until #95 has been deployed, since there are no upcoming events.

[2016-07-22 06:00] cguardia commented on #95
Deployed.

[2016-07-22 09:41] #95 closed

[2016-07-22 09:41] paregorios commented on #134
looks good on production

[2016-07-22 09:41] #134 closed

[2016-08-01 19:52] alecpm commented on #141
These are now deployed

[2016-08-02 10:17] paregorios commented on #141
Thanks!

[2016-08-02 10:17] #141 closed

[2016-08-17 09:52] paregorios opened #143 "exhibition batch update: KeyError"
*reviewing [scrumdo story 121](https://www.scrumdo.com/projects/story_permalink/1098334)*

The problem seems to be that "Plone" is hard-coded in the script as the site root, but that is not how the actual site is configured.

[code]

Here's the test file content:

[code]

[2016-08-17 13:36] paregorios opened #144 "zotero import should behave the same on isaw.web as it does on pleiades"
*reviewing [Scrumdo story 124](https://www.scrumdo.com/projects/story_permalink/1098338)*

Differences that need to be addressed:
-----------------------------------------

 * do not populate the "citation detail" field at all under any circumstances from Zotero
 * when "short title" is absent in the Zotero record, copy the value from Zotero:title into the isaw.web:bibliographicItem:short_title fi

[2016-08-17 15:27] alecpm commented on #144
I had fixed this along with the Pleiades fixes, but had not deployed to isaw. Should be live now.

[2016-08-17 16:51] cguardia commented on #143
Apologies for the lousy testing. Added a site argument for specifying the site, so "--site isaw" will work in this case. Tested it on staging.

[2016-08-17 18:24] paregorios commented on #144
looks good

[2016-08-17 18:24] #144 closed

[2016-08-17 18:41] paregorios commented on #143
fixed!

[2016-08-17 18:41] #143 closed

[2016-08-18 14:35] paregorios opened #145 "unwanted style changes on /news"
Recent changes to CSS seem to have altered some aspects of the layout on the tiled listing of ```/news``` (byline is overrun by other text). We are now also seeing a goofy circle for each article that we shouldn't be seeing. This needs fixing as soon as possible.

[2016-08-18 15:10] paregorios commented on #145
Here's a wayback view of what it should look like:

https://web.archive.org/web/20160529032821/http://isaw.nyu.edu/news

[2016-08-18 15:45] #145 closed

[2016-08-19 15:44] paregorios commented on #133
This was resolved with deployment of [Scrumdo Story 60](https://www.scrumdo.com/projects/story_permalink/830035).

[2016-08-19 15:44] #133 closed

[2016-08-19 15:47] paregorios commented on #87
Some of this was addressed with the implementation of [Scrumdo Story 60](https://www.scrumdo.com/projects/story_permalink/830035), but there is an outstanding problem involving the insertion of captioned images. We are seeking to redress that problem with [Scrumdo Story 138](https://www.scrumdo.com/projects/story_permalink/1099518).

[2016-08-19 15:48] paregorios commented on #98
This was resolved with deployment of [Scrumdo Story 120](https://www.scrumdo.com/projects/story_permalink/1097525).

[2016-08-19 15:48] #98 closed

[2016-08-19 15:49] paregorios commented on #83
temporarily assigned to myself pending writing of a story for development

[2016-08-19 15:51] paregorios commented on #81
Assigned to self to try to figure out whether I created a story for this already or not.

[2016-08-20 23:34] alecpm commented on #142
This is on staging.

[2016-08-20 23:35] alecpm commented on #140
This is on staging.

[2016-08-22 15:17] skleinfeldt opened #146 "August security patch"
Security patch coming out 8/30: https://plone.org/security/announcements/20160830-preannounce

Plus minor security fixes if not already done: https://plone.org/news/2016/minor-plone-security-fixes

[2016-08-23 19:05] paregorios opened #147 "new "locations" not recognized by "Map View" on enclosing folder"
*reviewing [scrumdo story 135](https://www.scrumdo.com/projects/story_permalink/1099488)*

To reproduce:
-----------------

- Login to staging.
- Navigate to http://isaw4-dev.atlantides.org/exhibitions/foobition/checklist
- Note that there is only one symbol on the map (for exhibition object "Conical sundial ..."
- View contents of the folder and note that there is also a "location" object at http

[2016-08-23 19:53] paregorios opened #148 "make credit line and copyright statement more discreet"
*reviewing [scrumdo story 133](https://www.scrumdo.com/projects/story_permalink/1099469)*

Please make the following changes to the presentation/formatting of these fields in the object base view:

- make text style "discreet"
- do not display field labels for these two fields

Otherwise, please leave them where they are in the layout.

[2016-08-26 21:57] paregorios commented on #148
reassigning to @cguardia since it's his story

[2016-08-26 22:00] paregorios commented on #147
reassigning to @alecpm since he implemented the story

[2016-08-29 04:23] #139 closed

[2016-08-29 04:45] alecpm commented on #148
I'm gonna steal this one since it's blocking deployment of Story 132 (which is on the same branch as 133)

[2016-08-29 04:51] alecpm commented on #148
This is fix is implemented and deployed to both staging and production (because I had already deployed Story 132 to production without realizing this was a blocker for 133).

[2016-08-29 17:13] alecpm commented on #147
Looks like I missed an adapter registration for the new type. Should be fixed on staging now.

[2016-08-29 17:21] paregorios commented on #147
Looks goo don staging. Please deplyo to production.

[2016-08-29 17:41] alecpm commented on #147
Deployed.

[2016-08-30 19:19] cguardia commented on #146
Security patch done. Minor fixes pending.

[2016-08-31 17:42] skleinfeldt commented on #146
@paregorios or @k2soule please review and close. I will open a new ticket for the minor fixes.

[2016-08-31 17:44] skleinfeldt opened #149 "Upgrade to 4.3.10"
In addition to the 8/30 hotfix, #146, it is recommended to upgrade to Plone 4.3.10 to take advantage of the latest minor security fixes: https://plone.org/news/2016/minor-plone-security-fixes.

[2016-08-31 20:47] paregorios commented on #146
I'm assuming that the "minor fixes" mentioned by @cguardia above are now complete. Yes?

We're not entirely sure what would constitute a comprehensive review of this, but we have poked around on the production site and not noticed any obvious content problems. We have also verified that login and logout and creation of draft content (at least by administrative users) is all working as expected. So

[2016-08-31 20:47] #146 closed

[2016-08-31 20:53] paregorios commented on #149
@skleinfeldt I would like to prioritize getting this upgrade process tested with an up-to-date copy of the filestorage and basestorage on staging. Once we know what hiccups we might face, then we can talk about scheduling for production. Does that make sense?

[2016-08-31 21:09] skleinfeldt commented on #146
@paregorios no, the "minor fixes" were deferred to #149, that's the one that will need more careful testing. What you described above seems fine for the hotfix.

[2016-09-06 15:44] #147 closed

[2016-09-06 15:55] paregorios opened #150 "add location with Pleiades URI fails on production"
Steps to reproduce:

 * Login to production
 * Navigate to a draft, temporary folder somewhere
 * Add a location object
 * Enter any Pleiades URI in the "Fetch coordinates from Pleiades URL" box
 * Select the "Fetch" button
 * Get a modal error pop-up like this one:

![screen shot 2016-09-06 at 10 54 44 am](https://cloud.githubusercontent.com/assets/263285/18280877/6591a334-7420-11e6-97b5-d8e66469

[2016-09-06 16:04] paregorios commented on #150
I have tested on production and Pleiades import fails in this manner on all location-enabled content types.

[2016-09-06 16:24] #148 closed

[2016-09-06 16:31] paregorios commented on #142
Cropping affordances are appearing and seem operable, but I can discern no effect in the checklist view. Example:

http://isaw4-dev.atlantides.org/exhibitions/foobition/objects

http://isaw4-dev.atlantides.org/exhibitions/foobition/objects/gem-engraved-with-selene-moon-holding-torch-and-driving-two-horse-chariot

[2016-09-06 16:35] paregorios commented on #140
This looks good on staging, and on production as well. I assume that means it has already been deployed. Is that correct @alecpm ?

[2016-09-06 16:36] paregorios commented on #47
closing as resolved. We will open new tickets if we run into additional problems.

[2016-09-06 16:36] #47 closed

[2016-09-06 16:41] paregorios opened #151 "help needed on event slide query on home page slider"
We have a query embedded in the overlay text for one of the slides on the home-page slider. It pulls in three future events, as desired, but these events are not the *next* three events ... they seem to be random. We could use some help tweaking the query to get the expected result.

[2016-09-06 16:57] alecpm commented on #150
Hm, I just tried this here:

http://isaw.nyu.edu/copy_of_online-resources/temp-folder/++add++isaw.policy.location?_authenticator=19ff54346f8561f732e0960234f565b54c35a880

It worked though the response from pleiades was quite slow in coming.

[2016-09-06 16:59] alecpm commented on #150
I used this pleiades url: http://pleiades.stoa.org/places/393473

What browser are you using? I'm wondering if there might be an issue with the Accept header that jQuery is sending out on some browsers.

[2016-09-06 17:05] paregorios commented on #150
Chrome 52.0.2743.116 (64-bit) under OSX 10.11.6 (15G1004).

I'll test on FF and Safari too.

[2016-09-06 17:12] #140 closed

[2016-09-07 16:50] alecpm commented on #142
Those listings use the "tile" size (64x64) rather than the "thumbnail" (128x128) size. I've now enabled cropping for all the scales on staging, it was limited to a few default sizes previously.

[2016-09-07 16:51] paregorios commented on #150
Tested with 3 browsers, using http://pleiades.stoa.org/places/393473 every time. All running under Mac OSX 10.11.6 (15G1004). Results as follows:

- Chrome  53.0.2785.89 (64-bit): error pop-up as described above
- Firefox 48.0: error pop-up as described above
- Safari 9.1.3 (11601.7.8): error pop-up as described above

[2016-09-07 18:12] alecpm commented on #150
Hm, I'm going to assign to @cguardia temporarily in hopes that he can reproduce the issue. So far, under the exact same browsers and OS, I have not been able to reproduce the issue. I did see an issue in Firefox the first time I tried where the pleiades server returned a 304 Not Modified when the browser didn't seem to have a valid cached value, but that didn't cause a popup alert as you describe.

[2016-09-07 18:18] alecpm commented on #142
I've made this configuration change on production as well since it is helpful and harmless. I've also included the configuration change in the policy profile.

[2016-09-07 18:21] alecpm commented on #151
This should be fixed. The query just needed a "sort_on": "start" to fix the index that it was being sorted on.

[2016-09-07 19:34] paregorios commented on #151
that's it, thanks!

[2016-09-07 19:34] #151 closed

[2016-09-07 19:37] paregorios commented on #142
thanks

[2016-09-07 19:37] #142 closed

[2016-09-07 20:32] paregorios commented on #150
@alecpm and @cguardia clearing browser cache seems to have no effect for me. I still get the pop-up error. Are you testing while connected over https?

[2016-09-07 20:58] alecpm commented on #150
No, and I bet that's the problem (the only way to login to the site via SSL is with Shibboleth, which I don't have a login for). It looks like Pleiades doesn't support SSL, which means a client side connection from an SSL page won't work in most browsers. If Pleiades supported SSL, then we could detect SSL and alter the url scheme, otherwise we'll have to make the request on the ISAW server side a

[2016-09-08 08:18] cguardia commented on #149
Copied data from production and updated staging to 4.3.10.

[2016-09-08 13:14] paregorios commented on #149
OK, so @cguardia is this ready for me to review on staging?

[2016-09-08 14:59] alecpm commented on #83
This fix is deployed to staging.

[2016-09-08 15:01] alecpm commented on #83
One note, when the breadcrumbs trail is long it may break onto two lines and once again extend past the site logo, but I'm not sure what we can do about that that doesn't reduce functionality of the breadcrumbs.