[2018-12-05 05:32] alecpm commented on #353
This is up on staging for review.

[2018-12-05 16:59] k2soule commented on #353
This is mostly working on staging - we're just seeing one thing that still needs to change: The text color needs to change to blue on focus/mouse-over.

[2018-12-05 17:03] paregorios commented on #353
The text color also needs to change to orange on :active: (which one can test by click-holding on the link).

[2018-12-05 17:43] paregorios commented on #354
This looks good to go. Please merge to master and deploy to production.

[2018-12-05 18:00] alecpm commented on #353
Needed a few `!important`s to get the colors set on some views. Should be working now.

[2018-12-05 20:08] jessesnyder commented on #328
@paregorios OK, I've figured out the next problem: the assertions returned in the SAML2 response from NYU are now of type `EncryptedAssertion` instead of `Assertion`, and the Plone SAML2 code doesn't even check for `EncryptedAssertions`, so we don't know what to make of the "successful" response, and try to authenticate all over again (hence the looping Yavor observed and alluded to in his comment

[2018-12-05 20:54] paregorios opened #355 "adjust news listing style to better cohere with other listings and new link styles: 2"
**This ticket is blocked until #351 is complete.**

Currently, the news listing looks like this:

![screen shot 2018-12-05 at 2 31 20 pm](https://user-images.githubusercontent.com/263285/49542857-4457ee00-f89c-11e8-8c87-65560796b376.png)

We would like style adjustments to make the following changes:

![screen shot 2018-12-05 at 2 44 01 pm](https://user-images.githubusercontent.com/263285/49543056

[2018-12-05 20:54] paregorios commented on #351
Blocker for #355

[2018-12-05 21:17] paregorios commented on #281
The basic functionality requested here was provided when @cguardia switched our easyslider settings to use "navigation buttons" in #262. That gave us these nifty controls, which work as described above:

![screen shot 2018-12-05 at 3 11 30 pm](https://user-images.githubusercontent.com/263285/49544286-107ec780-f8a0-11e8-842c-3951c6f206d3.png)

Unfortunately, the left/right arrows and numbered slide

[2018-12-05 21:18] paregorios commented on #254
This is overcome by the combination of #262 and #281. Won't fix.

[2018-12-05 21:18] #254 closed

[2018-12-05 23:08] paregorios commented on #231
We want to see this:

## HTML changes

Right now at the top of each page one finds the following markup:

[code]

Make the following changes

 1. Eliminate "navigation" paragraph
 1. Change ```<p class="hiddenStructure">``` to ```<aside id="skip">```
 1. Eliminate "skip to navigation" link
 1. Change text "skip to content" to "skip to main content"
 1. add ```aria-label = "skip to main"``` to the

[2018-12-05 23:19] paregorios commented on #295
I suspect the apache passthrough rule has an untrapped edge case that manifests this way ...

[2018-12-06 04:36] alecpm commented on #251
This is live on staging (whenever it's back online)

[2018-12-06 04:37] alecpm commented on #252
This is live on staging (whenever it's back online)

[2018-12-06 04:37] alecpm commented on #249
This is live on staging (whenever it's back online)

[2018-12-06 04:54] alecpm commented on #251
I do think this needs a better focus indicator. Perhaps adding `padding: 5px; border: 3px solid transparent;` and on hover/focus `border-color: blue;` with a reduction in right margin from 14px to 8px to account for the additional border and padding.

[2018-12-06 18:13] #297 closed

[2018-12-06 18:40] paregorios commented on #245
WCAG says:

"focusable components receive focus in an order that preserves meaning and operability."

So, I think our current behavior of tabbing through main nav (colorful) before we tab through secondary nav (top gray bar) is good.

[2018-12-06 18:58] paregorios opened #356 "implement ansible for production: 8"
blocker for #318

[2018-12-06 23:49] paregorios opened #357 "new link styles behave oddly on headings in Firefox"
Compare the hover/focus appearance of headings on chrome (OSX):

![hover_chrome](https://user-images.githubusercontent.com/263285/49618615-e94af780-f97e-11e8-968c-049c87242f64.png)

and safari (OSX):

![hover_safari](https://user-images.githubusercontent.com/263285/49618629-f10a9c00-f97e-11e8-98d8-32cd1fe2c805.png)

to Firefox (OSX):

![hover_firefox](https://user-images.githubusercontent.com/2632

[2018-12-07 00:04] alecpm commented on #357
This should be fixed on staging with the next deploy.

[2018-12-07 01:14] cguardia commented on #351
This is on staging now.

[2018-12-07 01:21] cguardia commented on #352
This is on staging now. Note that the alias has to be created in production when deploying this.

[2018-12-07 06:01] alecpm commented on #245
I think this is working well at this point, though we need better focus indications on the logo, search button, breadcrumbs, and navigation portlet among other things.

[2018-12-07 07:20] cguardia commented on #230
This is on staging now.

[2018-12-07 16:20] paregorios commented on #231
The "skip to main content" link is where we want it and is structured the way we want it. It still needs a couple of style tweaks so that it has the same appearance as in-body links for: default/visited (red brick solid), focus/hover (blue dashed -- this works), active (halloween).

[2018-12-07 16:21] paregorios commented on #245
OK. Merge and deploy to production. I'll create new ticket(s) for the remaining focus indication contexts.

[2018-12-07 16:32] paregorios commented on #249
This looks good. Please deploy to production.

[2018-12-07 16:41] paregorios commented on #355
Almost there. Link events for the headlines and article lead images need a little more tweaking to make them work exactly as specified elsewhere via #353 and #354.

I think the following specific changes are needed:

 - Image:
   - default/visited: 3px solid red brick outline
   - hover/focus: 3 px dashed blue underline
- Headine:
   - hover/focus: dashed underline (right now it's solid)
   - acti

[2018-12-07 16:42] paregorios commented on #352
This looks good. Please merge, deploy to production, and create the alias on production.

[2018-12-07 16:44] paregorios commented on #351
This looks good. Please merge to master and deploy to production.

[2018-12-07 16:52] cguardia commented on #355
I see the dashed underline. Maybe you need a hard refresh?

[2018-12-07 17:07] paregorios commented on #355
I have tried hard restart, purge history, and restart browser on both Firefox and Chrome, but still see solid blue underline. Safari shows me dashed underline.

[2018-12-07 17:09] paregorios opened #358 "improve accessibility of breadcrumbs focus indication"
As suggested by @alecpm:

Do this for all linked breadcrumbs site-wide, regardless of their background color.

We should suppress text decoration (underlin) on the the links.

It may be necessary to change the text color and background colors on hover/focus in order to get sufficient contrast. If so, blue for the text color and seashell for the background color would probably work.

[2018-12-07 17:09] paregorios commented on #358
blocker for #251

[2018-12-07 17:15] paregorios opened #359 "staging footer has developed vertical scrollbar"
Some recent change (apparently not yet deployed to production) has caused the footer on staging to acquire a vertical scroll bar. We should halt all production deployments until we can figure out what is causing this on staging and make sure it won't propagate to production.

[2018-12-07 17:59] alecpm commented on #231
Should be styled consistently now.

[2018-12-07 18:01] alecpm commented on #251
I commented out the special color sections because they seemed to have some contrast issues with the new text color. I can bring them back. I'd suggest we consider switching to white text for those (at least for the brick and "graduate studies" colors).

[2018-12-07 18:32] paregorios commented on #231
Hmmm. I'm still not seeing this on staging with any of my three browsers, even after clearing cache and reloading. Could old CSS be cached server-side?

[2018-12-07 18:43] paregorios commented on #251
Yes, I'm sorry I wasn't clearer earlier. I didn't see any need to change the text color for the special-color sections; their contrast numbers were fine. This ticket should have been constrained only to breadcrumbs that were making use of the gray background.

[2018-12-07 19:07] cguardia commented on #359
@paregorios I don't see a scrollbar in either Chrome or FIrefox on Linux.

[2018-12-07 19:11] alecpm commented on #359
The difference between staging and prod here seemed to be just a matter of the content of the "Gallery Hours" section, which on production was large enough to fill out the footer with non-absolutely positioned content and avoid the scrollbars. After setting the hours on staging to match production the scrollbar went away in FF. We should be safe to make production deploys.

However, I think we sho

[2018-12-07 19:17] alecpm commented on #359
I've made that change on master and merged to staging. The issue only affected non-logged-in users (logged-in users get a 300px min-height on the footer), which may be why @cguardia wasn't seeing in on FF Linux.

[2018-12-07 19:34] alecpm commented on #251
This is fixed on staging.

[2018-12-07 19:57] alecpm commented on #358
This is up on staging.

[2018-12-07 19:59] alecpm commented on #231
It could have been. Please try again, I'm definitely seeing the styling on staging.

[2018-12-07 20:23] paregorios commented on #231
After setting portal_css to debug mode in the ZMI, I can now see the new styling on staging. I have set portal_css back to not debug. Looks good. Please merge to master and deploy to production.

[2018-12-07 20:24] paregorios commented on #251
Looks good. Please merge to master and deploy to production.

[2018-12-07 22:54] jessesnyder commented on #328
Finally got to the bottom of the (hopefully) last problem. The varnish proxy was stripping out the cookies set and checked by the SAML2 auth plugin. I made changes to two of the active Varnish config functions, which @alecpm and I will need to figure out the right way to deal with:
[code]
and
[code]

[2018-12-08 03:52] cguardia commented on #355
@paregorios I can't replicate the issue. I restarted varnish and haproxy in the hope that this is a caching problem on the server. @alecpm or @jessesnyder, do you see the dashed line in the images and links for news items when you hover over them?

[2018-12-08 04:30] alecpm commented on #355
In FF on a Mac I see a dashed blue border around all but the right side of the image and also under the heading text. To fix the issue with the border being cut off on the right, I think we should add `box-sizing: border-box;` to `#content a img`

[2018-12-10 15:07] paregorios commented on #355
This looks good to me. Please merge to master and deploy to production.

[2018-12-10 15:45] paregorios opened #360 "news rss link on home page results in 404"
Reported by a user.

I have confirmed the behavior and I am investigating.

[2018-12-10 15:57] paregorios commented on #360
This is fixed. Someone or something had turned off syndication in settings.

[2018-12-10 15:57] #360 closed

[2019-01-14 15:46] paregorios opened #361 "fix footer to correct bad page heading hierarchy: 1"
We've done a lot of work to clean up skipped heading levels and related problems in our templates, but the footer still needs some attention. Specifically, there are three bits of text that are currently wrapped in ```<h3>``` tags (the "support" link and the "gallery hours" and "library hours" headings). These three components need to be wrapped in ```<h2>``` instead. That's easy for us to do via

[2019-01-14 15:57] paregorios commented on #245
@alecpm @skleinfeldt can you verify that this has been merged to master and deployed to production? Thanks

[2019-01-14 15:59] paregorios commented on #231
This has clearly been deployed to production. I assume it has also been merged to master. Closing (@alecpm please confirm it has been merged to master so we don't discover a downstream regression). Thanks.

[2019-01-14 15:59] #231 closed

[2019-01-14 16:00] #354 closed

[2019-01-14 16:00] #353 closed

[2019-01-14 16:01] paregorios commented on #245
Sorry I got confused. Disregard previous comment.

[2019-01-14 16:01] #245 closed

[2019-01-14 16:02] #358 closed

[2019-01-14 16:02] #249 closed

[2019-01-14 16:03] #252 closed

[2019-01-14 16:04] #251 closed

[2019-01-14 16:09] paregorios commented on #357
This does appear to be fixed on staging. Please merge to master and deploy to production.

[2019-01-14 16:22] paregorios opened #362 "ISAW home page has two <h1> elements: 1"
There should only be one. Right now we find:

[code]

and

[code]

This redundancy appears to be an unexpected by product of what I asked for (and got) with #326.

Let's correct this redundancy on the home page only by changing

[code]

to

[code]

and making sure that look and feel does not change.

[2019-01-14 16:43] paregorios opened #363 "fix home page slider headings for hierarchy: 1"
We've done a lot of work to clean up skipped heading levels and related problems in our templates, and with #361 we will wrap up the site-wide work in this area by fixing our footer.

The home page has an additional problem. Specifically, we are in the habit of using ```<h3>``` for headings on the slider overlay text. This breaks hierarchy, and we should switch to always using ```<h2>```. That swi

[2019-01-14 16:57] paregorios opened #364 "regularize new-style focus indications 3"
By way of prior tickets (especially #245), we have implemented a new, highly visible focus indication involve blue linework. As @alecpm [pointed out](https://github.com/isawnyu/isaw.web/issues/245#issuecomment-445132069), we should extend this approach to include:

 - logo
 - search button
 - navigation portlet
 - footer

[2019-01-14 17:06] alecpm commented on #231
This has indeed been merged to master and deployed to production.

[2019-01-14 18:21] jessesnyder opened #365 "SAML2: rebase to main SAML2 repositories: 3"

[2019-01-14 18:36] alecpm commented on #323
I suggest trying `box-sizing: border-box;`

[2019-01-14 18:42] cguardia commented on #323
@alecpm's suggestion does not work. Will probably need to go with the original suggestion.

[2019-01-14 18:43] paregorios commented on #317
won't do; going straight to #318

[2019-01-14 18:43] #317 closed

[2019-01-14 19:21] alecpm commented on #323
Too bad. I did notice that we do have a some `box-sizing` related issues that have cropped up because of the bold new borders around images. See e.g. the right border being cut off on the floated image here:

http://isaw.nyu.edu/events/datam-conference

And the layout of the thumbnails here:

http://isaw.nyu.edu/exhibitions/catalogues/restoring-the-minoans-elizabeth-price-and-sir-arthur-evans

Add

[2019-01-15 01:04] jessesnyder commented on #328
@paregorios I can't figure out what's wrong with my Plone permissions, but SSO logout should work now (with the test account).

[2019-01-15 17:08] paregorios commented on #230
Looks good on production.

[2019-01-15 17:08] #230 closed

[2019-01-15 17:12] paregorios commented on #352
Item 3, above ("put a redirect in place...") is not working on production.

[2019-01-15 17:13] paregorios commented on #351
Looks good on production.

[2019-01-15 17:13] #351 closed

[2019-01-15 17:14] paregorios commented on #355
Looks good on production.

[2019-01-15 17:14] #355 closed

[2019-01-15 18:22] cguardia commented on #352
The redirect is in place now.

[2019-01-16 06:08] cguardia commented on #281
This is on staging now.

[2019-01-16 09:09] alecpm commented on #364
I've implemented all of these on staging. For the footer links and links in the slider overlay, I had to choose a new color that had better contrast with the dark background than the blue, so I picked a light orange #FFB00F with a 7:1 contrast ratio. Let me know if you'd like to change that though.

[2019-01-16 11:34] paregorios opened #366 "events calendar portlet uses <h3> for "add ... to calendar" 1"
This breaks page hierarchy. Should be ```<h2>``` but look and feel should not change.

Found on ```/events``` and on each individual event page.

[2019-01-16 16:08] paregorios commented on #281
I think there are still two of the four things mentioned in [my comment above](https://github.com/isawnyu/isaw.web/issues/281#issuecomment-444651833) that do not seem to have been fully addressed:

# Change the ```<span><a>``` construct used for the left/right arrows and numbered slide buttons to actually use ```<button>```

I still see this in the HTML:

[code]

# Style the play/pause button so t

[2019-01-16 16:09] paregorios commented on #365
@jessesnyder do you need anyone else to review code (or similar) before we move this on from "reviewing"?

[2019-01-16 17:07] alecpm commented on #364
Oh right, I'll have to update the width to include padding + border.

[2019-01-16 17:17] paregorios commented on #281
That's got it! Thanks, please merge to master and deploy to production.

[2019-01-16 17:19] paregorios commented on #316
Leaving this for @jessesnyder to close or comment as he sees fit.

[2019-01-16 17:37] alecpm commented on #323
I think I've taken care of this as part of issues that cropped up on #364.

[2019-01-16 17:38] alecpm commented on #364
Should be fixed now.

[2019-01-16 17:50] jessesnyder commented on #365
@paregorios No, I think it can go all the way to "Done", since deployment of this change is bundled with the rest of the SAML2 work.

[2019-01-16 17:56] #365 closed

[2019-01-16 17:57] paregorios commented on #364
Yes! Please merge to master and deploy to production!

[2019-01-16 17:58] paregorios commented on #323
Hi @sjhuskey! We think we've fixed this. Can you have a look at our staging server (link below) to see if the layout is fixed for you with Firefox on Ubuntu 16.04 LTS? Thanks!

[2019-01-16 17:59] paregorios commented on #323
@sjkuskey the link is https://isaw.jazkarta.com/

[2019-01-16 19:34] k2soule commented on #275
Another example (and importantly, a page that still exists): https://isaw.nyu.edu/events/archive/2017/Morrison

[2019-01-17 05:31] jessesnyder commented on #288
@paregorios This is on staging: https://isaw.jazkarta.com/people/faculty/isaw-faculty/regular-faculty-tagged-as-such/

It currently depends on the collection criteria to limit the displayed items to Profile objects. If you'd like me to add another layer of type-checking in the code to avoid nasty surprises, that's not hard to do.

[2019-01-17 05:37] jessesnyder commented on #288
Paranoid type check added. :)

[2019-01-17 17:03] paregorios commented on #323
please merge to master and deploy to production

[2019-01-17 17:11] paregorios commented on #288
This works perfectly. Please merge to master and deploy to production.

[2019-01-17 18:31] alecpm commented on #174
Whoever does this, make sure to remove the `<dependency>` entry from `metadata.xml` in `isaw.policy`, and remove the one for `ftw.calendar` while you're in there.

[2019-01-17 19:33] jessesnyder commented on #275
@paregorios @k2soule @alecpm
I tried out the TinyMCE upgrade on my own computer, and the results aren't what we'd hoped. I got no change in behavior (in other words, some attributes still stripped) until I disabled Plone's safe_html transform entirely. Once I did that, my attributes were preserved, but I also lost any and all sanitization from Plone on save (even designated "nasty tags" like `<app

[2019-01-17 19:52] jessesnyder commented on #275
Follow-up: I tried doing _only_ the monkey-patch (step 2 from David's blog post), and this seems to be getting us closer: https://isaw.jazkarta.com/members/jessesnyder/video-test

[2019-01-17 19:53] sjhuskey commented on #323
Sorry to be late to the party. I just looked at it (now using Ubuntu 18.04.1). The issue has been fixed, as far as I can tell.

[2019-01-17 19:56] alecpm commented on #275
I may have been mixing up the need for that monkey patch going away with the Plone 5/plone.app.widgets TinyMCE.

[2019-01-17 20:52] jessesnyder commented on #310
@k2soule https://isaw.jazkarta.com/@@new-user

[2019-01-17 20:53] jessesnyder commented on #174
I deleted alecpm's comment about removing the ftw.calendar GS dependency, since I had to do this to test a different story (https://github.com/isawnyu/isaw.web/issues/310)

[2019-01-17 21:07] jessesnyder commented on #174
I doesn't look like PressRoom content has been migrated yet:
http://isaw.nyu.edu/@@search?advanced_search=False&sort_on=&SearchableText=&portal_type%3Alist=PressClip&portal_type%3Alist=PressContact&portal_type%3Alist=PressRoom&created.query%3Arecord%3Alist%3Adate=1970-01-02&created.range%3Arecord=min

[2019-01-17 22:40] cguardia commented on #361
This is on staging.

[2019-01-17 22:41] cguardia commented on #363
This is on staging.

[2019-01-17 22:42] cguardia commented on #362
This is on staging.

[2019-01-17 22:44] cguardia commented on #366
This is on staging.

[2019-01-17 22:58] #316 closed

[2019-01-17 22:58] paregorios commented on #281
Looks good on production.

[2019-01-17 22:58] #281 closed

[2019-01-17 23:03] paregorios commented on #288
Looks good on production.

[2019-01-17 23:03] #288 closed

[2019-01-17 23:03] paregorios commented on #364
Looks good on production.

[2019-01-17 23:03] #364 closed

[2019-01-17 23:04] #323 closed

[2019-01-17 23:07] paregorios commented on #361
Looks good. Please merge to master and deploy to production.

[2019-01-17 23:11] paregorios commented on #363
Looks good. Please merge to master and deploy to production.

[2019-01-17 23:12] paregorios commented on #362
Looks good. Please merge to master and deploy to production.

[2019-01-18 04:43] cguardia commented on #81
This is on staging.

[2019-01-18 15:39] paregorios commented on #356
@alecpm what's our best approach to reviewing this ticket and its friend #318?

[2019-01-18 15:40] paregorios commented on #366
This looks good. Please merge to master and deploy to production.

[2019-01-18 15:42] paregorios commented on #81
These are the right links. Can we add CSS styles for focus/hover like we have on other links in the header and footer?

[2019-01-18 17:18] k2soule commented on #310
@jessesnyder : the new "Full Name" field looks to be right where I need it - great! I can't test creation of a new user there on staging, though. Error 503 "Backend fetch failed"

[2019-01-18 17:45] alecpm commented on #356
The relevant changes are in one commit here:

https://github.com/isawnyu/isaw-ansible/commit/f4a3ff8ddc9a9eb76981d5ee9ee1ec007e40700a

It's probably a good idea for @jessesnyder or @cguardia to review those changes and ensure the playbook runs for them on staging (staging and production use the same playbook with minor configuration differences).

[2019-01-18 17:45] k2soule commented on #275
@jessesnyder - that test appears to have worked; I went into your video-test page and made a minor edit, which was saved successfully without losing attributes from the iframe. I'm happy with that.

[2019-01-18 17:49] alecpm commented on #318
The SAML related changes to the Ansible buildout are now set to apply to production as they do on staging. We'll need the production SAML2 key files to be encrypted using ansible vault and placed in `keys/isaw-production.pem` and `keys/isaw-production.der`, once we have them.

[2019-01-18 17:51] paregorios commented on #356
We'll assign this during standup today.

[2019-01-18 17:51] cguardia commented on #81
Done.

[2019-01-18 18:09] paregorios commented on #275
Looks good. Please merge to master and deploy to production.

[2019-01-18 18:11] k2soule commented on #174
I'll go through and convert those remaining pressroom instances.

[2019-01-18 18:31] jessesnyder opened #367 "Staging site: 503 “Backend fetch failed” on certain post requests"
To recreate:
1. log in as admin
2. from Site Setup -> Users and Groups, attempt to add a new user

[2019-01-18 21:02] alecpm commented on #367
I cleaned up the obsolete and insane code in the `isaw.register` custom user add view, but that doesn't appear to have fixed the issue. I've also adjusted timeouts and other settings in the varnish and haproxy configs, but that simply delayed the eventual timeout. I think we'll need to make use of the deadlock debugger to figure this one out.

[2019-01-18 21:02] alecpm commented on #367
My guess is that it has some relation to the SAML2 changes.

[2019-01-18 21:06] alecpm commented on #367
The only relevant looking errors are::

    2019-01-18T15:48:14 WARNING plone.app.controlpanel Skipped user without principal object: sauvage.caroline@mom.fr
    ------
    2019-01-18T15:48:14 WARNING plone.app.controlpanel Skipped user without principal object: cww6

[2019-01-18 21:11] k2soule commented on #367
I can tell you that neither of those users is currently needed in the system - long gone, in fact - so I wouldn't be opposed to deleting whatever remnants of their accounts may be gumming up the plone.

[2019-01-18 21:17] alecpm commented on #367
Unfortunately, it's not at all clear where those broken user records are coming from, they don't appear to correspond to entries in `portal_memberdata` or `acl_users`. Those errors seem to appear when viewing the user listing, so they aren't likely relevant to the issue at hand anyway.

[2019-01-18 22:00] alecpm commented on #367
This is fixed now. There was a debug prompt sneakily inserted into a file on staging only and then apparently forgotten. I'm surprised it didn't trigger more deadlocks than just this one.

[2019-01-18 22:36] #367 closed

[2019-01-18 22:40] paregorios commented on #81
Is there any way we can avoid the words "New York University" in the header link jumping around when the hover/focus behavior is activated? I think @alecpm may have had to deal with sort of thing in a couple of other contexts so he might be able to point the way to a quick fix.

[2019-01-19 00:16] alecpm commented on #81
The solution I used is to always have a border in place, but make it transparent by default. Then just change border-color in the activated state. Generally that will mean adjusting the any padding or sizing to account for the additional border size as well.

[2019-01-19 07:07] cguardia commented on #218
I put in a couple of patches on staging that copy exif data to scaled images. It works, but might need some work still. I used up all of my time, so no more time for fixes, but it's a good proof of concept. Please test with a good number of images and comment about results here.

[2019-01-23 20:19] paregorios commented on #81
This looks to be fixed now on staging. If so, please merge to master and deploy to production.

[2019-01-23 20:20] paregorios commented on #356
Assigning to @jessesnyder to review code as suggested by @alecpm above

[2019-01-23 20:21] paregorios commented on #318
@jessesnyder @skleinfeldt I'll try to catch y'all on IRC to discuss how, whether, and when we could deploy this on production in conjunction with running #356

[2019-01-23 21:33] cguardia commented on #81
Merged. @alecpm, not sure if you plan to deploy other things.

[2019-01-24 00:47] alecpm commented on #81
Not planning to deploy anything anytime soon. I'll be switching production over to an Ansible setup at some point, but we shouldn't tie any releases to that I think.

[2019-01-30 00:44] jessesnyder commented on #356
@alecpm Can you provide the command[s] you use to run the playbook for staging?

[2019-01-30 01:56] alecpm commented on #356
```ansible-playbook -i inventory.cfg -l staging playbook.yml --vault-password vault-pass```

[2019-02-08 15:00] paregorios opened #368 "nav portlet disappears on profile after editing - 5"
This is an intermittent problem. We have not been able to identify a consistent mechanism for repeat. Fiddling with renaming, re-editing, blocking/unblocking parent portlet, and screaming into the void sometimes unpredictably seems to lead to things working again.

Known past/current victims:

 - rbagnall
 - dratzan

[2019-02-08 15:04] paregorios commented on #368
cc @k2soule

[2019-02-08 15:06] paregorios commented on #368
Here's the email thread dealing with this when it happened to dratzan's profile back in February:

Thanks, I'll take a look.

[2019-02-08 15:12] paregorios commented on #368
Here's a chat transcript dealing with this when it happened to rbagnall's profile back in April:

[2019-02-08 15:17] k2soule commented on #368
Thanks! I’m going to go chase after this peculiar yak some more, possibly with a different set of shears...

Sent from my iPhone

[2019-02-08 15:18] paregorios commented on #368
Currently dratzan is exhibiting this behavior again.

I renamed to dratzan2 and the nav portlet appeared. I renamed back to dratzan and it went away again.

I purged cache via the control panel. No change.

[2019-02-08 15:29] skleinfeldt commented on #368
@alecpm @cguardia @jessesnyder Does this problem ring a bell? Or could you give @k2soule any tips about what information to look for while she is troubleshooting? (Hints to look for in the content, in the page source, in the portlet settings, etc.) Anything better than screaming into the void...

[2019-02-08 16:27] paregorios commented on #368
On IRC @alecpm suggested that "this may just be [this root node issue](https://github.com/isawnyu/isaw.web/issues/277) cropping up again in another form."

[2019-02-08 16:39] paregorios commented on #368
On IRC @alecpm follows up with:

[2019-02-08 16:54] paregorios opened #369 "configure the site for split view caching"
per @alecpm :

[2019-02-08 17:13] alecpm commented on #368
The entire portlet column is missing from the page. It doesn't appear in the unthemed view either: http://66.35.39.43/people/staff/dratzan which rules out diazo rule issues.

[2019-02-08 18:23] alecpm commented on #368
A couple additional notes on this weirdness. It seems to be tied in some way to the people section. If I add a navigation portlet to `dratzan` that is rooted at e.g. `/events` it will show up, but if I add one rooted at `/people` or even one from the root of the site that only shows the second level it does not appear. So somehow the portlet disappearance is tied to specific person ids and navigat

[2019-02-20 17:27] k2soule commented on #174
Finally getting back to this; the remaining Pressroom content has been migrated, and the old objects deleted.

[2019-02-20 19:14] k2soule opened #370 "some embedded images are broken"
First noticed Tuesday this week (2/19/2019), but could have manifested earlier; SOME images that had been embedded with text in the body of an object, are no longer appearing (including old pages and recent pages). We're still not sure what the common thing is between the images that are broken, and why the images that still work are ok...

Examples:
https://isaw.nyu.edu/news/new-book-bagnalls-eve

[2019-02-20 19:30] skleinfeldt commented on #370
@cguardia can you fix this ASAP please? You can use up to 6 hours on it, although I certainly hope it isn't that hard!

[2019-02-20 23:01] cguardia commented on #370
@k2soule is this how this page should look:

http://isaw.nyu.edu:8080/isaw/news/from-the-field-the-first-excavation-season-at-gird-i-rostam-kurdistan

Not exactly sure what happened, but I just hit edit image and got that one, so it had to be stored correctly.

[2019-02-20 23:16] cguardia commented on #370
@k2soule This one fails because it's pointing at a Tiff image. Should be png or jpeg:

https://isaw.nyu.edu/news/object-history-and-significance-the-cameo-of-jupiter-chartres

[2019-02-20 23:24] cguardia commented on #370
@k2soule This one is pointing at an old blogs.nyu.edu image. THis link now redirects to isaw.nyu.edu/news, and the image link is lost. Need to edit the page and add a working image:

https://isaw.nyu.edu/news/new-book-bagnalls-everyday-writing-in-the-graeco-roman-east

[2019-02-20 23:29] cguardia commented on #370
For this one, I also edited/saved the selected image, and it worked.

https://isaw.nyu.edu/research/kinikhoyuk/project

[2019-02-20 23:32] cguardia commented on #370
@k2soule so, it seems this happened for different reasons for each image. I changed the first and last, but not sure what images to use for the other two.

[2019-03-06 17:23] k2soule commented on #370
Thanks for chasing down these different symptoms. It's surprising how different the issues appear to be. Some of them may have been unrelated to the sudden swarm of broken images; so I'm looking for more that follow one particular pattern. Here is what I'm still seeing:

A page that was working fine a few weeks ago suddenly shows a broken image icon in place of one or more images, and when I hover

[2019-03-06 17:40] k2soule commented on #370
aha! I think I've figured out part of it: the term "textflow" might refer to a particular preset image display size, which appears to no longer exist.

[2019-03-06 17:50] k2soule commented on #370
Yep, if I go in and edit the html, replacing just the word "textflow" with another image size, like "preview" or "mini", the image loads properly.

So, when did we kill the "textflow" image format option?

[2019-03-06 18:07] skleinfeldt commented on #370
If I recall correctly, it's pretty easy to add an image size on the control panel, I don't remember where it is but hunt a bit and you should find it @k2soule. If "textflow" is actually there then we need to figure out what's wrong with it. If it is missing hopefully recreating it will fix things.

[2019-03-06 19:11] k2soule commented on #370
Good point; I'm going to try re-creating that image size on staging, and see what happens.

[2019-03-06 19:53] k2soule commented on #370
Curiously, adding a new image scaling option for "textflow" in the @@imaging-controlpanel on staging did not appear to fix the problem. However, renaming one of the existing image scaling options did help. It *only* worked with one particular size, though: renaming "thumb" to "textflow" allowed the image to display on the page that I'm using to test. https://isaw.jazkarta.com/support-isaw/friends

[2019-03-06 19:58] skleinfeldt commented on #370
Curiouser and curiouser. @cguardia I think we need more help here...

[2019-03-06 22:21] cguardia commented on #370
@k2soule it's possible to recreate all scales from the ZMI, so we need to:

1) Add the textflow scale with the correct dimensions.
2) Go to the ZMI and recreate the scales.

If you do 1) above, I can take care of 2). This step can take a very long time, so it's better if it's done directly from the Zope port, rather than using the normal site URL, because the proxy will time out.

[2019-03-27 19:53] skleinfeldt opened #371 "Move amheida.org files to Plone site"
- [x] Make a zip file of the Amheida /inc directory
- [x] Install zip uploader add-on on staging
- [ ] Upload all files to the /research/amheida folder on staging, laid out as it is now (/inc/pdf, /inc/img, /inc/img/plans, /inc/img/sat, /inc/js...)
- [ ] Uninstall zip uploader when done, unless we see a reason for keeping it around
- [ ] Report time on Freshbooks "ISAW Amheida Website" project

[2019-03-27 20:42] skleinfeldt opened #372 "H2/H3 style issue"
These 2 header levels currently look the same, H2 probably needs to be bigger.

[2019-03-27 20:43] skleinfeldt opened #373 "Incorrect login message"
The message displayed after login is erroneous:

Actually it is the bottom right menu.

[2019-03-27 20:44] skleinfeldt opened #374 "Header style issue: overlapped text"
The header text "Institute for the Study of the Ancient World" overlaps the colored menu bar at various scales. (Expand/contract your browser window.)

[2019-03-27 20:46] skleinfeldt opened #375 "Missing helpful Content view popups"
Popups on the Plone Content view are suppressed, making it impossible to preview the content type. (Which is a Folder? which is a Page?)

[2019-03-28 14:49] paregorios opened #376 "clicking "previous" or "next" in events mini-calendar produces sheer madness"
Steps to recreate:

 - Visit http://isaw.nyu.edu/events/
 - Navigate to the mini calendar in the right portlet slot
 - Click "next" or "previous"
 - Observe that, apparently, the entire /exhibitions page gets served up through the portlet

<img width="633" alt="Screen Shot 2019-03-28 at 9 49 16 AM" src="https://user-images.githubusercontent.com/263285/55167340-c5ced700-513e-11e9-91fa-6110d436a1b6.

[2019-03-29 05:02] cguardia commented on #376
This is working now. I spent too much time trying to figure out the difference with staging, then decided to try to re-save the JS, and that did it.

[2019-03-29 10:15] paregorios commented on #376
Thanks!

[2019-03-29 10:15] #376 closed

[2019-04-08 20:27] alecpm commented on #371
I'll be installing [ftw.zipextract](https://pypi.org/project/ftw.zipextract/) today which should allow you to upload and extract the zipped files into the site.

[2019-04-08 21:14] skleinfeldt commented on #371
👍

[2019-04-14 20:57] alecpm commented on #371
This ZIP add-on is now installed on staging, I was able to test it locally and it worked well. First add a new file object with the zip. Then visit the url for that file with `/zipextract` appended. That will give you a UI for extracting some or all of the files into Plone.

To login you'll need to use:

https://isaw.jazkarta.com/portal_skins/plone_login/login_form

Unless you have an NYU login.

[2019-04-15 08:26] skleinfeldt commented on #371
Awesome, thanks @alecpm. I'll work on this next week when I'm back from Italy. (FYI @paregorios )

[2019-05-20 17:45] #361 closed

[2019-05-20 17:46] #362 closed

[2019-05-20 18:01] #366 closed

[2019-05-20 18:05] #363 closed

[2019-05-20 18:09] k2soule commented on #310
Looks good on production - closing ticket.

[2019-05-20 18:09] #310 closed

[2019-05-20 18:14] k2soule commented on #275
Tested successfully on production - closing ticket.

[2019-05-20 18:46] paregorios opened #377 "http timeouts/503"
@k2soule  and I saw two of these incidents (last Friday and today). I tried to look at CPU utilization and briefly at apache logs but didn't spot anything obvious. I didn't have time to look at instance logs.

Tummy reports:

[2019-05-20 18:53] paregorios commented on #377
I have asked tummy to do an apache and process log analysis to look for excessive http request or process cpu/memory/disk utilization concurrent with the recent timeout periods.

I think we need to do a log analysis on the plone installation and other assocaited components to see if something is happening at that level.

[2019-05-20 18:53] paregorios commented on #377
cc @skleinfeldt @alecpm @cguardia @jessesnyder

[2019-05-20 20:12] paregorios opened #378 ""skip to main content" link text is too small on mobile"
Please make it the same size as regular paragraph text.

[2019-05-20 20:13] paregorios opened #379 "home page slider controls are a mess on mobile"
- they are too small
 - they block other text content

[2019-05-20 20:17] paregorios opened #380 "get rid of font Questrial - 2"
We use it in some headings and other places, but it is missing a lot of extended ASCII characters (let alone non-Roman characters) and things look weird when it cascades down to Noto Sans for just those characters (according to our CSS rules). Better if it were all Noto Sans IMO.

[2019-05-20 21:28] paregorios commented on #379
![IMG_4941](https://user-images.githubusercontent.com/263285/58053125-3d582b80-7b1c-11e9-9b0e-6906910b0de4.jpg)
![IMG_4942](https://user-images.githubusercontent.com/263285/58053126-3d582b80-7b1c-11e9-8718-7a33461c06ea.jpg)
![IMG_4943](https://user-images.githubusercontent.com/263285/58053127-3d582b80-7b1c-11e9-893a-29c9e1959fd3.jpg)
![IMG_4944](https://user-images.githubusercontent.com/263285/580

[2019-05-22 14:43] paregorios commented on #380
Here's an example of a page where it is happening:

http://isaw.nyu.edu/events/archive/2017/AlextoIsk

![Screen Shot 2019-05-22 at 9 42 10 AM](https://user-images.githubusercontent.com/263285/58184088-0b5adc80-7c76-11e9-8f6d-9c54ac853b77.jpg)

[2019-06-01 02:20] skleinfeldt commented on #371
@alecpm I'm finished with ftw.zipextract, you can uninstall and remove if you want.

I still need to bulk upload the images (zipextract turns them into files) so please install wildcard.foldercontents or one of the other bulk image upload tools.

[2019-06-12 18:28] paregorios opened #381 "big log files on production"
From tummy:

[2019-06-12 19:27] paregorios commented on #377
Tummy has recommended we move to a new VM, which they are getting ready. Meantime also see #381 which may be related.

[2019-06-12 19:30] paregorios commented on #377
@alecpm Do we need to put memon/superlance in place for this website like we recently did for pleiades?

[2019-06-12 19:47] alecpm commented on #377
It's probably not a bad idea, generally. Are there indications that RAM usage is responsible for these outages? What's the intention of the new VM?

[2019-06-12 19:55] paregorios commented on #377
Yes, tummy has noted:

[2019-06-12 20:09] alecpm commented on #377
In that case, simply turning on memmon may be preferable to a new VM (though 4GM RAM is indeed pretty minimal, especially for a site with a decent amount of content and a potentially large number of logged in users). Upgrading from Ubuntu 16.04 to 18.04 could require more work than you want to take on at the moment.

[2019-06-13 21:46] alecpm commented on #381
I've manually enabled log rotation on production for the plone related log files in `/srv/isaw.web/var/log`

[2019-06-13 21:48] alecpm commented on #377
I've enabled `memmon` in the production buildout with a limit of 750MB for each ZEO client. I suspect that might still be a little high given the RAM limits on he machine and the huge amount of RAM being consumed by `shibd`. I may also switch varnish to use a disk cache instead of malloc'ing 256MB RAM.

[2019-06-14 13:22] skleinfeldt commented on #371
Added "review" label, all files are moved and Amheida work on staging is under review.

@paregorios please comment if you would like us to remove ftw.zipextract and wildcard.foldercontents add-ons from staging. (They are not on production so should disappear the next time we clone production to staging - but that might not be for a while.)

Close this when you are satisfied.

[2019-07-25 18:22] paregorios commented on #81
So, it looks like this might have gotten deployed at some point, but there are problems.

 - "New York University" in the header is now a link, and that looks fine
 - "NYU/ISAW" logos are missing from the footer, which is not what I expected

What I expected to see:

![Screen Shot 2019-07-25 at 1 20 23 PM](https://user-images.githubusercontent.com/263285/61898520-1da7ff80-aedf-11e9-9947-1600b3e393

[2019-08-09 14:11] paregorios commented on #381
This seems to be working well. Closing as resolved.

[2019-08-09 14:11] #381 closed

[2019-08-09 14:12] paregorios commented on #377
This seems to be helping. Until we transition to new server and upgrade SSO, there's not much else we can do here, so closing as resolved.

[2019-08-09 14:12] #377 closed

[2019-08-12 15:56] paregorios opened #382 "Implement full deploy/redeploy using ansible"
As an ISAW website administrator with root access on a server, I can:

 - execute an ansible playbook to provision a new/bare production server as ISAW production
 - execute an ansible playbook to provision a new/bare dev server as ISAW dev
 - execute ansible command(s) to deploy software updates to production or staging

[2019-08-12 15:57] paregorios commented on #382
Steps:

 - [ ] #356 implement ansible for production

[2019-08-12 16:09] paregorios opened #383 "Migrate to new VM for production"
As an ISAW website user, I will experience the unmitigated joy of using the website as deployed on a new, snappier, more sassy production VM provided by tummy.

[2019-08-12 16:12] paregorios commented on #383
Steps to implement:

 - [ ] get VM from tummy
 - [ ] upgrade all components of isaw.web (via ansible) to work with Ubuntu 18

[2019-08-12 17:07] paregorios commented on #356
Alec to run once against new VM.

[2019-08-12 17:07] paregorios commented on #356
Blocked for availability of new VM.

[2019-08-12 17:11] alecpm commented on #369
Add apache config for `X-Anonymous` header

[2019-08-13 16:01] paregorios opened #384 "get the new VM provisioned by tummy"

[2019-08-13 16:02] paregorios commented on #384
As of late last night, the server exists and we have the IP address, SSH port, and so on. This info has been shared with the development team. We have asked tummy to do migration on key user accounts, groups, and security settings. I hope this will be done today.

[2019-08-13 16:05] paregorios opened #385 "coordinate with NYU data management on SSO changes"
find last email exchange between Yavor and me/Matthew and followup with Yavor and DM from there: we will need SAML2 credentials from NYU for new production; need to get vocabulary right if we can

 - [x] send an initial "heads up" email to Yavor
 - [x] find and review old emails
 - [x] look at Sally's spreadsheet notes from prior iterations
 - [x] draft email and share with development team

[2019-08-13 18:02] paregorios opened #386 "SAML2 login on staging redirect loop after authentication"
Steps to reproduce:

 - Visit staging server home page
 - Select the "LOG IN (SAML2)" link
 - On the "NYU Login" page (shibbolethqa...), enter the test netid and password, then select the "login" button
 - Watch the endless redirect loop between the production home page and the shibbolethqa page spool out

[2019-08-13 18:15] alecpm commented on #386
@jessesnyder Any ideas about his one?

[2019-08-13 19:02] paregorios commented on #384
We have the VM. IP address and ssh port number have been shared with the dev team. I have successfully logged in and checked my privileges. Over to @cguardia and @alecpm to review.

[2019-08-13 19:58] paregorios commented on #386
On October 29, 2018, Yavor Yanakiev wrote:

Subsequently, I wrote (at the encouragement of @jessesnyder):

Yavor replied:

Encrypting assertion is the default behavior in SAML protocol and it should be the default behavior for its implementations. I can disable assertion encryption for testing purposes but it's strongly recommended not to do it in production.

[2019-08-13 20:06] paregorios commented on #386
Here is where we got past this looping problem last time: https://github.com/isawnyu/isaw.web/issues/328#issuecomment-445390609

[2019-08-13 20:08] paregorios commented on #386
In other words, this looks like it might be a code regression on staging.

[2019-08-13 20:19] alecpm commented on #386
Yeah, looks like those changes to the Varnish VCL didn't make it into the ansible configs. The good news is that they also include the fixes needed for Split View Caching (#369). @cguardia Do you want to look at the VCL changes indicated on #328 and incorporate those into the ansible varnish config, or should I.

[2019-08-13 22:00] cguardia commented on #386
I made the changes on staging and  they work nicely. Now will incorporate them into ansible.

[2019-08-13 22:20] skleinfeldt commented on #386
Yeah but... Yavor's email above stated that he could "disable assertion encryption for testing purposes but it's strongly recommended not to do it in production."

And Jesse said "the Plone SAML2 code doesn't even check for EncryptedAssertions."

I suspect we don't want to have to implement EncryptedAssertions, right @alecpm and @cguardia? So @paregorios I think you are going to have to beg and pl

[2019-08-13 22:33] paregorios commented on #386
@cguardia Please go ahead and incorporate current changes into ansible. @skleinfeldt let's discuss this other issue at standup tomorrow.

[2019-08-13 22:43] cguardia commented on #386
Changes have been incorporated into ansible repository.

[2019-08-13 22:44] cguardia commented on #369
Turns out the header was already inserted by varnish, but the code was missing the saml2 cookie names, and thus didn't work. This was fixed with #386.

[2019-08-14 00:37] jessesnyder commented on #386
Sounds like you found the cause of the looping: the varnish config needs an update to avoid stripping cookies, as I was struggling to remember on Slack.

[2019-08-14 08:26] alecpm commented on #356
I've run into an issue with setting up the shibboleth SP on Ubuntu 18.04. I'm not sure we actually need this anymore though with the Plone based SP setup though. Apparently, the shibboleth packages in Ubuntu `universe` [have some strange dependency issues](https://shibboleth.1660669.n2.nabble.com/Install-Shibboleth-SP-with-libcurl4-td7639706.html)

I've worked around this by installing from the up

[2019-08-14 13:11] skleinfeldt commented on #386
Hopefully you mean the question of assertion encryption? If something else, please clarify.

[2019-08-14 13:23] paregorios commented on #386
@skleinfeldt yes, assertion encryption

[2019-08-14 17:05] #386 closed

[2019-08-14 19:04] k2soule opened #387 "Error on undo from ZMI"
Trying to undo a delete action using the ZMI, it spun for a couple of minutes and then produced the following traceback error:

Traceback (innermost last):

    Module ZPublisher.Publish, line 146, in publish
    Module Zope2.App.startup, line 303, in commit
    Module transaction._manager, line 89, in commit
    Module transaction._transaction, line 329, in commit
    Module transaction._transact

[2019-08-14 19:05] k2soule commented on #387
The specific action I was trying to undo:

/isaw/events/folder_delete Deleted thuburbo-maius (/isaw/events/thuburbo-maius), leon-levy-lecture-2018 (/isaw/events/leon-levy-lecture-2018) by isaw sm7902@nyu.edu | 2019-02-12 15:20:05

[2019-08-15 16:03] paregorios commented on #356
Noted in last night's error messaging from the new server:

[2019-08-16 04:23] alecpm commented on #369
I think we can close this one.

[2019-08-16 05:33] cguardia commented on #369
Yeah, just wanted to add idp_id cookie and simplify the expression a bit, which I did.

[2019-08-16 06:32] cguardia commented on #81
Apologies, lost track of when this was deployed, and a new image and footer text needed to be edited in isaw-settings. Done.

[2019-08-16 13:41] paregorios commented on #81
Looks good, thanks.

[2019-08-16 13:41] #81 closed

[2019-08-16 13:42] #369 closed

[2019-08-16 13:43] #384 closed

[2019-08-16 18:05] paregorios commented on #318
NYU IDM reports "The New ISAW instance has been added to QA IdP. You can test it."

My test failed with "SAML request failed". Steps to replicate:

 - visit the new server instance
 - select the "LOGIN" link in the footer
 - watch the redirect occur, and then a redirect back to the home page with no obvious login having occurred
 - navigate to another page where one sees "SAML request failed"

[2019-08-16 18:22] alecpm commented on #318
The logs show:

[code]

[2019-08-16 18:30] alecpm commented on #318
Maybe @jessesnyder has a clue what might be happening here?

[2019-08-19 15:09] paregorios commented on #318
NYU IDM asked me "try again" this morning, so I did. Now we have a new error:

Steps to replicate:

 - Visit new production
 - Select the "LOG IN" link in the footer
 - See redirect occur and then see the QA shibboleth login page
 - Enter the test credentials and select the "log in" link
 - Page refreshes and displays (firefox) the following notice:

In the location bar one sees the following URL:

[2019-08-19 17:06] #385 closed

[2019-08-19 17:18] paregorios opened #388 "add missing upgrade steps"

[2019-08-19 17:30] alecpm commented on #318
I hadn't set the sharing permissions on the `/loggedin` page properly. It's fixed now, and @jessesnyder will be adding that to the install steps I believe.

[2019-08-19 17:39] paregorios opened #389 "config/permissions issues on /exhibitions on isaw-new"
I should be able to visit subdirectories under ```/exhibitions``` and see content through-the web that's on the filesystem in the corresponding location (.e.g, ```/exhibitions/nubia```), but instead I get 403s. It works on production (e.g., http://isaw.nyu.edu/exhibitions/nubia/).

This is probably because our apache config expects ```/srv/www-data/``` with contents like:

[code]

note also the tr

[2019-08-20 17:15] #388 closed

[2019-08-20 19:23] alecpm commented on #383
SSO did not work when masquerading as isaw.nyu.edu (`The application you have accessed is not registered for use with this service.`) or as isaw-new.jazkarta.com (`KeyError: 'https://shibbolethqa.es.its.nyu.edu/idp/shibboleth'`). This is not surprising, but means we need something updated on NYU/Yavor's end.

[2019-08-20 19:36] paregorios commented on #389
@alecpm did this when copying from old production

[2019-08-20 19:36] #389 closed

[2019-08-21 14:16] paregorios opened #390 "logrotate errors on isaw-new"
Got this from logwatcher this morning:

[code]

[2019-08-21 17:21] paregorios commented on #368
See possibly related issue #277

[2019-08-21 19:26] alecpm commented on #390
The email you forwarded about this was from `root@isaw4.atlantides.org` which is the old production server (`/srv/isaw.web/` is also a path that we no longer use in the new ansible-based deploy). Logrotate wasn't configured for the zope logs on the new server, which is for the best because these days that's probably best handled in the zope config, which I have now updated.

The event log should n

[2019-08-21 19:27] #390 closed

[2019-08-22 03:17] cguardia commented on #174
This is on staging now. The only noticeable effect is that PressRoom should not be available for install now.

[2019-08-22 13:04] paregorios commented on #174
Looks good. Please deploy to production.

[2019-08-22 16:52] paregorios opened #391 "SSO logins failing on production"
As of sometime in the last couple of hours, logins for me on production are failing. The browser ends up on this page: https://shibboleth.nyu.edu/idp/profile/SAML2/POST/SSO with the message

[code]

I am testing further.

[2019-08-22 16:52] paregorios commented on #391
This happens even when I clear cache.

[2019-08-22 16:53] paregorios commented on #391
This happens in all browsers available to me.

[2019-08-22 16:59] k2soule commented on #391
I'm also seeing this error when attempting to log into the production web.

[2019-08-22 17:14] paregorios commented on #372
Let's bump h2 to 26px and leave h3 at 22px

[2019-08-22 17:32] paregorios commented on #391
We are working this problem in collaboration with NYU Identity Management.

[2019-08-22 17:58] k2soule commented on #391
Temporary fix in place (will last one day), according to thread with NYU IDM. I am currently able to log in, and seeing landing page "You are now logged in via SAML2 SSO."

Permanent fix is being negotiated with IDM...

[2019-08-22 18:37] paregorios opened #392 "on login success, users lose their previous context - 3"
Is it possible (using cookies or referrer magic or something) to make it possible for a user who has just successfully logged into get back to the original context page? I can see two desireable scenarios on successful login. Either of them would be ok.

1. After successful login, user ends up on the ```loggedin``` page, but that page has a dynamically generated link to whatever page they were on

[2019-08-22 23:18] paregorios opened #393 "news rss link in footer redirects to non-existent page"
This is a regression that I've seen before, but I have no memory of how it was fixed previously.

[2019-08-22 23:20] jessesnyder commented on #393
@paregorios Is the link supposed to be there and point somewhere else, or should it not be there at all?

[2019-08-22 23:24] jessesnyder commented on #393
(I suspect it rose from the grave when we ran the install profile to enable SAML2. Standing by armed with shovel to re-bury now...)

[2019-08-23 10:58] paregorios commented on #393
We're supposed to have news blog syndication and the link in the footer is supposed to point to it, but it's busted on staging too (but differently!) and I don't remember what the correct URL is (though I have some places I can look). And I can't find it just poking around.

[2019-08-23 14:29] paregorios commented on #393
I've poked around in portal_actions through the ZMI to see if I can figure out how to get this link back in the footer that way, but I've had no success. So I could use some help here.

[2019-08-23 16:13] jessesnyder commented on #393
@paregorios I had hidden it. I just updated the URL and re-enabled.

[2019-08-23 16:24] paregorios commented on #393
And the people rejoiced!

[2019-08-23 16:26] paregorios commented on #391
This seems to be resolved.

[2019-08-23 16:26] #391 closed

[2019-08-23 17:05] jessesnyder commented on #393
Installation profile updated on a branch. Will merge to master when deemed OK.

[2019-08-23 17:11] paregorios commented on #393
reopening to track merge and deployment.

[2019-08-23 22:34] jessesnyder commented on #379
@paregorios Is there an easy way to trigger the auto-generated `<ul>` that's causing the biggest problems on the staging server? (Potential fix is deployed there.)

[2019-08-23 23:41] alecpm commented on #379
I would also suggest maybe setting `#content #slider .slide .slideroverlay { background-color: transparent;}` on mobile to fix the issue with the text overlay color not blending with the background.

[2019-08-24 04:54] cguardia commented on #378
This is on staging.

[2019-08-24 04:54] cguardia commented on #372
This is on staging.

[2019-08-24 04:54] cguardia commented on #374
This is on staging.

[2019-08-24 11:31] paregorios opened #394 "repozo permissions error on production - 2"
Noted in this morning's log watch emails:

[code]

[2019-08-25 12:20] paregorios commented on #394
I saw the above error in the logs again this morning. Also a new one:

[code]

[2019-08-26 22:20] paregorios opened #395 "block feedburner at the server (return 403)"
Add server configuration in order to return a 403 on any request in which the substring "feedburner" (case insensitive) appears in the user-agent string.

[2019-08-28 16:21] k2soule opened #396 "Error attempting to checkout Profile page"
User is attempting to check out a working copy of his profile (gm95@nyu.edu).
Get gets a message directing him to select a folder to put the working copy into... with no options to select. When he tries to proceed, he gets an error message that it "can't find that location", and it won't proceed.

(As a site administrator, I don't see the location selection message or the error - I'm able to check

[2019-08-28 17:18] paregorios opened #397 ""sharing" tab changes have no effect on ISAW production"
Steps to reproduce:

 - Login as an admin user to production and navigate to /people/staff
 - View the "sharing" tab
 - Un-click all the checkboxes for the user Josiah Carrberry
 - Click the "save" button

The page reloads. All content is missing from the table on the "sharing" tab.

Shift-reload the page. Everything is back, including the check-marks next to Josiah Carrberry.

Blocker for trouble

[2019-08-29 01:03] alecpm commented on #397
This isn't a caching issue, but it's something we saw elsewhere on the site. It's making an AJAX `POST` request to `/@@updateSharingInfo` with the changes, but it should be a `POST` to `/people/staff/@@updateSharingInfo`. It's related to missing data about the current url in a Javascript context. I think it should be an easy fix.

If you need to make changes via this form before I manage to get a

[2019-08-29 01:09] alecpm commented on #397
Good old `kss-bbb.js`

[2019-08-29 01:10] alecpm commented on #397
We saw this same issue on DOaks after a Plone upgrade I think. The fix is a small change to the theme rules file which should be up on staging in a few minutes.

[2019-08-29 01:40] alecpm commented on #397
It appears to be working well on staging. This is a very low impact change, so I will deploy to production for review and to enable work on #396.

[2019-08-29 02:12] alecpm commented on #397
It should be working on production now.

[2019-09-05 19:30] paregorios opened #398 "user cannot see actions menu even though authenticated"
Details and steps to reproduce:

[2019-09-05 19:31] paregorios commented on #397
This is working. Thanks.

[2019-09-05 19:31] #397 closed

[2019-09-06 16:41] k2soule commented on #398
1. Authenticate as imf225@nyu.edu
2. Navigate to any part of the site
3. The green toolbar is nowhere to be seen

User imf225@nyu.edu used to be able to create and edit content in multiple sections of the web site, and looking at her group memberships, it appears that she should still be able to; however, she is no longer able to see the green toolbar anywhere in the site.

I tried removing her fr

[2019-09-09 15:43] paregorios commented on #372
This looks good. Please merge to master and deploy to production.

[2019-09-09 15:45] paregorios commented on #374
This looks good. Please merge to master and deploy to production.

[2019-09-09 15:47] paregorios commented on #378
I think this is sufficient. Please merge to master and deploy to production.

[2019-09-09 15:48] paregorios commented on #379
This is a significant improvement. Please merge to master and deploy to production.

[2019-09-09 15:52] paregorios commented on #174
I don't see this anywhere in the add-ons control panel on production, so I assume the change got deployed. Please verify.

[2019-09-09 15:53] paregorios commented on #393
As noted earlier, this is working on production. Please verify that the installation profile update has been merged to master and deployed successfully to production.

[2019-09-09 16:01] #395 closed

[2019-09-09 16:05] paregorios commented on #218
Steps to test:

 - Craft an image with common metadata that we would like preserved.
 - Export as JPEG and make sure metadata fields are in header as desired.
 - Upload to staging and create a page that exercises several of our defined scales.
 - View, save, and examine the metadata in the derivative versions made available through the plone.

[2019-09-09 17:08] #393 closed

[2019-09-09 17:09] #174 closed

[2019-09-09 17:10] #356 closed

[2019-09-09 17:10] #318 closed

[2019-09-09 17:10] #383 closed

[2019-09-09 17:10] #382 closed

[2019-09-09 17:10] #299 closed

[2019-09-09 18:05] jessesnyder commented on #380
@paregorios On staging now.

[2019-09-09 18:32] paregorios commented on #380
Looks good. Please merge to master and deploy to production.

[2019-09-09 18:57] paregorios commented on #218
Embedding the original image works, but other registered sizes produce a broken image. Here's my test page:

https://isaw.jazkarta.com/members/paregorian/image-metadata-tests/tests-with-miley-jpeg

[2019-09-09 19:38] skleinfeldt commented on #218
OK that is one cute pup.

[2019-09-09 21:00] paregorios commented on #396
I have replicated this behavior using a test user account on **staging.** Here are the steps:

- As an admin user, navigate to ```/people/staff/tom-elliott```
- Using the ```ownership_form```, change the owner to jcarberry@nowhere.com
- Log out
- Log in as jcarberry@nowhere.com
- Navigate to ```/people/staff/tom-elliott```
- From the tertiary green menu bar, select "actions" -> "check out"
- See t

[2019-09-09 21:00] paregorios commented on #396
I have the sense that this may be related to changes we made to our workflow and permissions model, but I cannot find a ticket that is clearly the one at issue.

[2019-09-09 21:31] k2soule commented on #398
More data points collected:
1. I had Iris log into her account on a totally different computer. She still can't see the green toolbar when navigating around the ISAW web site.
2. In the footer, she can see the internal link to the community guide, and a link to her user preferences. However, her user identity in the footer shows up as her email address rather than her full name. I thought that was

[2019-09-09 21:42] k2soule commented on #398
3. When she mentioned the timing of when she observed this change in her ability to see the toolbar, it matched up pretty closely with the timing of our recent SAML2 implementation.

[2019-09-09 22:27] alecpm commented on #398
Ah, I'd bet there are two user ids for her somehow and she's ending up logged in as one that's effectively permission-less. I'll see what I can find out.

[2019-09-09 22:32] alecpm commented on #398
One thing that looks a little funny. Her userid has a capital `i`: `Imf225%40nyu.edu`

[2019-09-09 22:35] alecpm commented on #398
She's the only user whose userid `Imf225@nyu.edu` is not identical to her login name `imf225@nyu.edu`. Though logins are case-sensitive, some lookups may not be. It's difficult (impossible?) to change a userid, but I can try changing the login name to match. Can you have her try to login again?

[2019-09-10 00:04] alecpm commented on #394
I removed `eggs/Products.PressRoom-3.18-py2.7.egg` and re-ran buildout, which did not reinstall the egg. I also noticed that there were two sets of backup/pack cron jobs: one for the `plone_buildout` user and one for the `plone_daemon` user which we no longer use. I removed the duplicate cron tasks which likely triggered the permission/access issues, in addition to removing the unused egg which wa

[2019-09-10 01:43] cguardia commented on #218
Cute pop now should show up in all sizes.

[2019-09-10 02:04] alecpm commented on #398
Comparing the SSO user authentication plugin:

https://github.com/collective/dm.zope.saml2/blob/master/dm/zope/saml2/spsso/plugin.py#L68

To the comments in the stock user plugin:

https://github.com/zopefoundation/Products.PluggableAuthService/blob/master/Products/PluggableAuthService/plugins/ZODBUserManager.py#L111

I think it's very likely that the issue is that we're assuming the NYU principal

[2019-09-10 02:05] alecpm commented on #398
Also, if we do make such a change, should we monkey-patch it in or make it upstream in the SSO plugin?

[2019-09-10 10:57] paregorios commented on #394
Cron daemon notification emails from production are now clean. @alecpm it sounds like we can bypass the merge/deploy steps because you already did that, yes?

[2019-09-10 15:54] skleinfeldt commented on #398
Or should we force userid and login name to be identical (and lower case)? Since this is true for everyone else...

[2019-09-10 16:58] k2soule commented on #398
Well-spotted with the capital i. Sounds like this is going to involve a 2-part fix - one for this user account, and one to prevent future mismatches.

I can confirm that Iris is still unable to see the toolbar when she logs into a fresh browser, so does it make sense to remove her account completely, and create a new account for her with a correctly-spelled userid?

[2019-09-10 17:00] alecpm commented on #398
Unfortunately, there's no easy way to "force" that that I'm aware of. The intention of having separate attributes, is that someone may wish to change the login name over time (e.g. if they change their email address or actual name), which I think is a fairly important feature (though perhaps not for ISAW/NYU).

As I mention above, changing the userid for this one user to lowercase is potentially a

[2019-09-10 17:04] alecpm commented on #398
@k2soule That's definitely the quickest fix, though it would mean disassociating her accoun from any content/actions she's already taken on the site. In theory, changing the SSO plugin to treat the `eduPersonName` as a login name rather than userid should fix the issue for Irene and allow her to login even though the internal userid remains strangely capitalized. I don't think doing that would be

[2019-09-10 17:19] alecpm commented on #396
It's interesting that the checkout form doesn't show any folders under "Checkout Folder". Seems like I'll need to look into the logic used for determining that location and possibly provide it with a fallback for cases where the default isn't accessible to the user making the checkout.

[2019-09-10 17:43] alecpm commented on #394
Yes, though it's still possible that we'll see the issue with the pack cron job that runs weekly, I think it's safe to close this and re-open if it recurs.

[2019-09-10 17:55] #394 closed

[2019-09-10 18:20] paregorios commented on #218
Sadly I don't see the desired metadata in the derivative images posted on that page. Compare the downloaded "original", which does preserve the metadata (screenshot from Adobe Bridge, just showing some of the metadata fields):

<img width="425" alt="Screen Shot 2019-09-10 at 1 13 12 PM" src="https://user-images.githubusercontent.com/263285/64639115-c7c6e280-d3cc-11e9-9564-883c77fa76ca.png">

And c

[2019-09-10 19:45] alecpm commented on #398
I've deployed the patch to the staging server, but I don't have working SSO credentials for a user there. I had credentials for tst560, but they seem to have changed. If someone could test that SSO logins to the staging sandbox still work, I think it would make sense to find a way to test this there or to deploy to production and have Irene test the fix. I've reverted Irene's account back to the w

[2019-09-10 19:52] alecpm commented on #398
And now the Shibboleth QA instance seems to be down:

https://shibbolethqa.es.its.nyu.edu/idp/profile/SAML2/POST/SSO

¯\_(ツ)_/¯

[2019-09-10 20:28] alecpm commented on #396
So it looks like the default behavior of including the user's home folder in the list of default checkout locations was explicitly disabled in 2016 on the `no_home_locator` branch commit c230bf0f7271698094b614750113fd4b00cb6f4a. I'll re-enable to see if it works for this usecase, and if not we may need to implement a custom folder locator (which appears to be quite simple) or patch the `portal_mem

[2019-09-10 20:52] alecpm commented on #396
I think this fixes the issue, except the permissions on who can add `profile` content are limited to `Contributor` and `Manager` (curiously not `Site Administrator`), which seems a bit restrictive. If we allowed `Owner` and `Site Administrator` to add `profile` and `CV` objects that would probably be sufficient to address this issue. I've done that manually on staging for testing purposes.

[2019-09-10 20:53] alecpm commented on #396
That appears to have worked (in combination with removing the patch to disable home folder checkouts):

https://isaw.jazkarta.com/members/jcarberry-40nowhere.com/tom-elliott

[2019-09-10 20:58] alecpm commented on #396
For users/locations where the user has permission to check out into the parent folder of the original object, the checkout form will now have radio buttons to choose the checkout location (either the user home folder or the current parent folder).

[2019-09-11 16:55] paregorios commented on #396
This is working as desired. Please merge to master and deploy to production.

[2019-09-11 18:10] alecpm commented on #398
This is deployed and hopefully ready to test.

[2019-09-11 18:10] alecpm commented on #396
This is deployed to production.

[2019-09-11 19:55] alecpm commented on #392
I believe this should be working now on staging. I've added support in our fork of `dm.zope.saml2` for a `came_from` request variable used to override the final post-login destination. I've added some js so that when the login link is clicked a `came_from` cookie is set with the url of the originating page. The `dm.zope.saml2` code should expire/unset the cookie if it finds it, so that it doesn't

[2019-09-11 19:56] alecpm commented on #392
I was not able to test completely because I do not currently have access to a valid SSO login for staging.

[2019-09-11 21:55] #380 closed

[2019-09-11 21:57] paregorios commented on #379
Looks good. Thanks.

[2019-09-11 21:57] #379 closed

[2019-09-11 22:00] paregorios commented on #374
Super!

[2019-09-11 22:00] #374 closed

[2019-09-11 22:17] paregorios commented on #372
I'm not seeing the change on production. I've created [a test page](https://isaw.nyu.edu/members/te20-40nyu.edu/foofoo) and looked at it from a browser on which all history and cache has been dumped. I've restarted varnish and also I've toggled ZMI:portal_css:development mode on and back off.

[2019-09-11 22:18] paregorios commented on #378
Looks fine.

[2019-09-11 22:18] #378 closed

[2019-09-12 00:21] cguardia commented on #368
@paregorios  I have not been able to find what's causing this, but it turns out if I create a new profile and copy the data from the original, it works fine. I have an unpublished david-m-ratzan profile now ready to take over. The URL will change (from mratzan), but I can add an alias. I need a green light to make the substitution.

My proposal is we just make the switch and avoid using more time

[2019-09-12 03:20] cguardia commented on #372
Turns out the change for removing the Questrial font overwrote the size change. Fixed and tagged on master. Will be there on next deployment.

[2019-09-12 05:20] cguardia commented on #218
@paregorios ok, now it should work.

[2019-09-12 15:03] paregorios opened #399 "Modify title and short title fields in publication content item - 3"
In the __add/edit form__ for the publication content item, please make the following changes:

1. Relabel the legacy "Title" field "Short Title".
2. Change the long description for this "Short Title" field to read: "The short title of the publication".
3. Ensure that this "Short Title" field is used for plone id (url slug) creation (it currently is).
4. Relabel the legacy "Short Title" field as "F

[2019-09-12 15:16] paregorios opened #400 "do not include bare URIs in the publications listing - 1"
Currently the publication listing includes a plain-text URI that seems to be the "access URI". There should be no bare URIs in the listing.

![listing](https://user-images.githubusercontent.com/263285/64796876-67f84500-d54e-11e9-9caa-846a203b0cb9.jpg)

[2019-09-12 15:38] paregorios opened #401 "Move Zotero URI text box in publication add/edit form - 1"
On the __add/edit form__ for the publication content item, move the Zotero URI text box and its associated "fetch" button up the page so that they appear right after the "short title" and "full title" fields.

[2019-09-12 15:42] paregorios opened #402 "modify "formatted citation" field on publications content item - 3"
Currently the "formatted citation" field is a plain text field into which we put HTML from Zotero. I would like:

1. (on the add/edit form) to make this field an editable rich text box rather than showing it as raw HTML.
2. make the edit box bigger so that we can actually see the full content (or at least scroll easily with appropriate controls)
3. When populating the field from zotero, strip the

[2019-09-12 16:00] paregorios opened #403 "add link@rel=alternate to base view on publications type - 3"
When a publication object has content in its Zotero URI field of the form ```https://www.zotero.org/users/465/items/9ET8PPYI```, construct ```<link>``` elements in the ```<head>``` element of the base view as follows:

[code]

[2019-09-13 08:13] alecpm commented on #400
@paregorios Could you provide a URL where you're seeing this issue. I want to make sure I'm looking for this stray URL in the correct place.

[2019-09-13 08:45] alecpm commented on #403
This is on staging for review.

[2019-09-13 11:12] paregorios commented on #392
This is now working on production. Thanks.

[2019-09-13 11:12] #392 closed

[2019-09-13 11:39] paregorios commented on #403
I'm looking at https://isaw.jazkarta.com/members/paregorian/fun-with-publications-3/the-moon-phase-anomaly-in-the-antikythera-mechanism but don't see the expected tags. Perhaps the URI matching doesn't extend to URIs like ```https://www.zotero.org/groups/242005/items/IG5FSTMD```. In other words, we need to trigger on any URI that meets all the following criteria:

- netloc = "www.zotero.org"
- pat

[2019-09-13 11:41] paregorios commented on #400
It looks to me now like these are coming in with the "formatted citation" from the Zotero CSL call, so the listing view may not need changing at all.

What we may need to do is set up a custom CSL transform that we can feed to the Zotero API (they have a mechanism for that -- we'd just have to post our custom CSL at a stable URI and feed it to their API in a query parameter). I'll get the details

[2019-09-13 11:46] paregorios commented on #402
@jessesnyder please make the same changes to the ```formatted_citation``` field on ```isaw.bibitems.bibitem```.

What you've pushed to staging for the publications content item looks great. Though I note we're going to need to make a modification to the publications listing to handle the change in the field type:

<img width="596" alt="Screen Shot 2019-09-13 at 7 45 31 AM" src="https://user-images

[2019-09-13 15:01] paregorios commented on #218
@cguardia you might care to have a look at one or more of the python wrappers for [exiv2](https://www.exiv2.org/). I've played with [py3exiv2](https://pypi.org/project/py3exiv2/) in scripts and found it to be very full-featured. That one is a Python 3 only package, so that won't work for us, but it looks like there are other packages floating around in Pypi that claim Python 2 support.

[2019-09-13 15:10] paregorios commented on #368
@cguardia I've looked over the new profile and have just one concern for you to address before making the change:

There's a link in the prose using the text "[Curriculum vitae]" (it's at the end of the paragraph right before the "Recent Publications" subheading). It links to a PDF file that is contained inside the original profile (https://isaw.nyu.edu/people/staff/dratzan/20190110-ratzan-cv). Pl

[2019-09-13 15:11] paregorios commented on #400
This is not a problem with the publications listing. Closing "not a bug so nothing to fix".

[2019-09-13 15:11] #400 closed

[2019-09-13 15:14] alecpm commented on #403
Initially I had cast a wider net that included `groups` zotero links, but the one group link I tested with gave an error when turned into the JSON format:

https://api.zotero.org/groups/pleiades/items/7F7NHNWS?v=3&format=json

This one works though:

https://api.zotero.org/groups/242005/items/IG5FSTMD?v=3&format=json

So I guess it's semi-safe to do this anyway.

[2019-09-13 15:16] paregorios commented on #403
Yeah, the difference in those two links is the use of the numeric code for the group ID as opposed to the alpha short-name for same. The HTML web interface supports both (and does a redirect from the numeric to a variant of the alpha version of the URI). But the API only seems to support the numeric version.

[2019-09-13 15:19] paregorios opened #404 "update the publications listing to address changes in the publications content item"
The publications listing makes use of the "formatted citation" field on the "publication" content item. #402 changes the "formatted citation" field to be rich text, and this breaks the code for the publications listing:

<img width="596" alt="Screen Shot 2019-09-13 at 7 45 31 AM" src="https://user-images.githubusercontent.com/263285/64873909-aace2180-d60f-11e9-952a-fa9d596acde6.png">

We need to m

[2019-09-13 15:19] alecpm commented on #400
I was bit concerned that was the issue. In that case I think it may make sense to wrap this into #402, or make it dependent on those changes.

[2019-09-13 15:20] paregorios commented on #402
The changes resulting from this ticket should not be deployed to production until #404 is also ready to deploy alongside it.

[2019-09-13 15:20] paregorios commented on #400
@alecpm see now #404

[2019-09-13 15:24] paregorios commented on #400
@alecpm for the short run, since we know this is coming from the formatted citation field, we can just edit out any URI that comes along with the citation when fetched from Zotero.

[2019-09-13 15:48] alecpm commented on #403
This is up on staging.

[2019-09-13 16:04] paregorios opened #405 "fix accessibility problems with external ID badges on profiles"
aka "We don't need no stinkin' badges."

In a time before now, we decided to add [an "External URIs" multi-line field](https://github.com/isawnyu/isaw.web/blob/7f568074ffaf80439c9e17fe0e7bf90a4162fa24/src/isaw.facultycv/isaw/facultycv/content/profile.py#L107) to our Profile content type. This was an is a good thing.

We also decided that we should be fancy and [render certain of these links](https

[2019-09-13 16:12] paregorios commented on #403
This looks good, thanks. Please merge to master and deploy to production.

[2019-09-13 18:03] paregorios commented on #368
My review of the results looks good. I used the ```/ownership_form``` to change from your userid to the user's. I've emailed him and asked him to look it over and make sure everything is ok and working right for him. I'm moving this ticket to "deployed" but will keep it open until I have confirmation from the user.

[2019-09-13 18:24] paregorios commented on #404
This looks good. Please merge to master and deploy to production at the same time as #402.

[2019-09-13 18:24] paregorios commented on #402
This looks good. Please merge to master and deploy to production at the same time as #404.

[2019-09-13 19:05] paregorios commented on #368
User confirms: "Looks good to me!"

[2019-09-13 19:05] #368 closed

[2019-09-13 20:41] jessesnyder commented on #399
@paregorios Wrote a migration for Publications and ran it on staging along with other changes, so ready to test.

[2019-09-13 20:59] paregorios commented on #399
These bits are spiffy:
- Labeling on the add/edit form of the two title-esque fields is the way I wanted.
- On the base view, the "full title" is shown and the "short title" is not, which is great.
- The field descriptions are working as desired.

Something is still not quite right with the fetch from Zotero...

- add a new 'publication' content item
- on the add/edit form, scroll down and paste "

[2019-09-13 21:17] jessesnyder commented on #399
@paregorios Works for me. Try a hard refresh when you first load the add form(?)

[2019-09-13 21:28] jessesnyder commented on #399
Fixed!

[2019-09-14 00:30] paregorios commented on #399
Both fixes are fixed! Please merge to master and deploy to production!

[2019-09-14 00:31] paregorios commented on #401
Please merge to master and deploy to production

[2019-09-14 22:52] cguardia commented on #218
@paregorios I tried using exiv2 wrappers for Python 2, but they are not in a very useful state.

[2019-09-14 22:58] cguardia commented on #218
@paregorios this is on staging again, using exiftool bindings. Please test with various images. The handling of non-writeable properties is not ideal (throws an error), so I'm adding them to a list that we can ignore when converting. If you see an error when uploading an image with warning at the bottom, make a note of the name of the property mentioned and I will add to our list. I'm thinking the

[2019-09-30 19:40] paregorios opened #406 ""folder lead image view" is busted: 3pts"
Lead images are not properly displayed in the 'folder lead image view':

![Screen Shot 2019-09-30 at 2 35 53 PM](https://user-images.githubusercontent.com/263285/65910221-e39c2380-e38f-11e9-9b3f-cb79735996d1.png)

We would prefer a layout in which the images actually work, and are left-aligned. Like this manually created page:

![Screen Shot 2019-09-30 at 2 36 54 PM](https://user-images.githubuser

[2019-10-05 09:38] #396 closed

[2019-10-05 09:47] paregorios commented on #403
I'm not seeing this on production.

[2019-10-05 10:09] #371 closed

[2019-10-05 10:13] paregorios opened #407 "create alt text for all amheida images"
Arbitrary manual checking reveals that some images in the Amheida section have good alt text, but others just have the names of the image files. The latter condition is a WCAG violation and must be corrected before the Amheida materials can be published.

Steps:

 - [ ] determine which images need alt text captioning (make a list)
 - [ ] get alt text from the amheida team
 - [ ] insert alt text th

[2019-10-05 10:15] paregorios opened #408 "migrate amheida content from standalone website to the research section of isaw web"

[2019-10-05 10:25] paregorios opened #409 "ensure all amheida PDFs are accessible before publication"
_governing epic: #408 migrate amheida content from standalone website to the research section of isaw web_

General experience suggests that some or all of the PDFs included in the Amheida section are likely not prepared properly for accessibility. The latter condition is a WCAG violation and must be corrected before the Amheida materials can be published.

Steps:

 - [ ] determine which pdfs need

[2019-10-05 10:31] paregorios opened #410 "ensure all amheida videos are accessible before publication"
_governing epic: #408 migrate amheida content from standalone website to the research section of isaw web_

There are videos in the Amheida website content. General experience suggests that it's likely that none of these videos have been prepared properly for accessibility (i.e., with transcripts or closed captioning). The latter condition is a WCAG violation and must be corrected before the Amhei

[2019-10-05 10:34] paregorios commented on #407
Assigned this to myself to do the first step: make a list of all amheida-related images and whether they need alt text or not. Once this is done, we can publish all portions that don't include PDFs or videos.

[2019-10-05 10:36] paregorios commented on #409
Assigned this to myself to do the first step: make a list of all amheida-related images and whether they need alt text or not.

[2019-10-05 10:36] paregorios commented on #410
Assigned this to myself to do the first step: make a list of all amheida-related images and whether they need alt text or not.

[2019-10-05 10:40] paregorios opened #411 "migrate kinik content from standalone website to the research section of isaw web"
Steps:

 - [x] content migration: Move kinikhoyuk.org content to Plone site
 - [ ] Kinik team to verify completeness of migrated content
 - [ ] isaw it team to verify accessibility of migrated content and develop mitigation plan
 - [ ] "go live"

[2019-10-05 10:41] paregorios commented on #411
Assigned to @k2soule to reflect the fact that she is liaising with the responsible faculty member regarding completeness (do we need a separate, subordinate ticket for that step?).

[2019-10-05 10:50] paregorios commented on #407
It looks like there are about 70 images in the amheida portion of the site: https://isaw.nyu.edu/members/te20-40nyu.edu/amheida-images/

[2019-10-05 10:57] paregorios commented on #407
##Page-by-page inventory

- Acknowledgements
- Bibliography
- CUNY Excavations
- Database
- Dig House Library
- Directory
- El-Deir Partnership
- Excavations at Amheida
- How to Help
- Local Community
- Maps and Drawings
- Members of the Amheida Team, 2004-2015
- Publications
- Reports
- Satellite Image Enhancements
- Useful Links
- Videos

[2019-10-06 18:42] skleinfeldt commented on #407
FYI @paregorios - there were many unused images on the site but I don't think I uploaded any of them. Aside from the plans, maps, and satellite areas I cherry picked the images that were actually used on the homepage, CUNY Excavations, El-Deir Partnership, and Local Community pages and uploaded them manually. IIRC there is a file in the  on the original site in the inc/img/sat area that contains d

[2019-10-06 18:48] skleinfeldt commented on #407
And I meant to say - I did not do anything about alt text when moving stuff as I had no information on the images (aside from that text file info and the captions which were already on the relevant pages.)

[2019-10-08 11:08] paregorios opened #412 "isaw website does not return to operation after a host reboot"
This has happened twice in a row after tummy reboots the server to apply patches. Host is up and running, but any site URL returns 503. In both cases I've connected to the host via ssh, and observed via supervisorctl that the following processes are running and have times consistent with having started running after system reboot:
[code]

Issuing "restart all" seemed to fix it the first time this

[2019-10-08 17:21] alecpm commented on #412
I'll check that varnish, supervisor, haproxy, and nginx are enabled at boot.

[2019-10-08 17:46] alecpm commented on #412
And when I say nginx, I mean apache2 of course ;-)

[2019-10-08 17:46] alecpm commented on #412
There does seem to be something funny with the varnish systemctl config. Looking into it now.

[2019-10-08 22:17] alecpm commented on #412
I believe this is fixed now both on the server and in the ansible config. Let me know if you'd like me or Tummy to do a test reboot late tonight or similar.

[2019-10-16 03:24] alecpm commented on #403
I'm certain the code is deployed, could you provide an example url of a piece of content where you'd expect the links to appear and they are not?

[2019-10-24 21:52] paregorios opened #413 "client startup throws errors related to "Press Room""
This despite #174. Here's the logging:

[code]

[2019-10-25 17:56] jessesnyder commented on #413
@paregorios These are just warnings so there's no actual impact from this. I think this can be easily fixed, though it's been a long time and I forget the details... maybe by deleting the corresponding portal_skins folders in the ZMI(?)

[2019-10-29 13:43] paregorios commented on #412
Sorry I wasn't able to close the loop on a test. The good news is that Tummy did a reboot last night to apply patches and everything looks good this morning! Closing as resolved.

[2019-10-29 13:43] #412 closed

[2019-10-30 18:45] paregorios opened #414 "batch_update.py ignores "alt""
The script at ```scripts/batch_update.py``` ignores/suppresses content intended for the "alt" field (i.e., alt text for images).

[2019-11-07 20:23] #399 closed

[2019-12-10 19:03] paregorios opened #415 "more pressroom cruft still in the deploy"
Seen in ```/portal_css```:

![Screen Shot 2019-12-10 at 1 02 36 PM](https://user-images.githubusercontent.com/263285/70559998-5cb4b580-1b4d-11ea-9b7d-069f809f5923.png)

What else was missed during supposed resolution of #174?

[2020-01-13 19:30] #404 closed

[2020-01-13 19:37] paregorios commented on #403
I would expect to see it here, but I don't:

https://isaw.nyu.edu/members/te20-40nyu.edu/benito-2009

[2020-01-13 19:38] #402 closed

[2020-01-13 19:39] #401 closed

[2020-01-13 19:40] paregorios commented on #387
I think we decided that there were just too many changes since this one and undo was not possible. :(

@k2soule is this ok to close, wishing we could fix but can't?

[2020-01-13 19:42] paregorios commented on #375
This is a consequence of the decision we made to strip all title attributes for accessibility reasons. I will open a new ticket for modifying the content view to show content type in the table.

[2020-01-13 19:42] #375 closed

[2020-01-13 19:44] paregorios commented on #373
This message is not displayed at all after a netid/sso login; rather, we redirect to the previous/intended page. So I don't think this needs addressing at this time.

[2020-01-13 19:44] #373 closed

[2020-01-13 19:47] paregorios commented on #370
@k2soule are you aware of any additional work that might have been done on this ticket following the last comment above?

[2020-01-13 19:48] paregorios commented on #350
@k2soule I'm inclined to close this ticket unless you've seen the problem crop up more recently. OK?

[2020-01-13 19:50] paregorios commented on #314
There are accessibility issues with going this route. I think it may be better to suppress linking of embedded images regardless of whether they're captioned or not. Will open a new ticket to that effect.

[2020-01-13 19:50] #314 closed

[2020-01-13 19:53] paregorios commented on #291
Won't implement.

[2020-01-13 19:53] #291 closed

[2020-01-13 19:53] paregorios commented on #289
Won't implement.

[2020-01-13 19:53] #289 closed

[2020-01-13 19:54] paregorios commented on #287
Closing. Embed was removed.

[2020-01-13 19:54] #287 closed

[2020-01-13 19:56] paregorios commented on #264
We went to underline.

[2020-01-13 19:56] #264 closed

[2020-01-13 20:05] paregorios commented on #205
I think I would like to see:

 - Create the user directory on the basis of the corresponding profile URL slug, rather than the userid
 - Make users owners of their own folders
 - Migrate old content
 - Make sure old links redirect (permanent) to the new ones

[2020-01-13 20:07] paregorios commented on #204
We've changed the way these controls look and work for accessibility reasons, so this is no longer a concern.

[2020-01-13 20:07] #204 closed

[2020-01-13 20:08] paregorios commented on #179
Since this is so old, I'm closing it. We'll open a new ticket if we spot problems in future.

[2020-01-13 20:08] #179 closed

[2020-01-13 20:10] paregorios commented on #114
Despite the fact that we couldn't get #221 completed in the most recent tranche of work, we were able to put together a new publications experience on the website (the main page is manually constructed). So, closing this ticket as complete.

[2020-01-13 20:10] #114 closed

[2020-01-13 20:13] paregorios commented on #39
As this is a very old ticket and there's been no recent activity, I am going to close it. Please open a new ticket if you spot something happening that looks like this problem.

[2020-01-13 20:13] #39 closed

[2020-01-13 20:58] k2soule commented on #350
Agreed. I have not been able to reproduce this error recently. Closing ticket.

[2020-01-13 20:58] #350 closed

[2020-01-13 21:15] #263 closed

[2020-01-13 21:16] paregorios commented on #223
Closing as we have no additional feedback/guidance on this issue.

[2020-01-13 21:16] #223 closed

[2020-01-13 21:48] paregorios opened #416 "show content type in "contents" tab for folderish items"
Currently, the "contents" tab on a folderish item produces a tabular list of the content with columns for "title", "size", "modified", and "state". We need to add an additional column: "type" which will show the same content-type titles as appear in the contextual "add" submenu.

[2020-01-13 21:52] paregorios commented on #370
I fixed the problem with Bagnall's book news item from 2010 by downloading a copy of the cover page from the UC press website and inserting it as a new lead image. Deleted the derelict embed for the lost original image.

[2020-01-13 21:55] paregorios opened #417 "suppress links to images in rich text fields"
When an image is embedded in a rich text field and that image is captioned by the user, a link to a full-size version of the image is created by the view template. Images without captions are not linked. These full-size images are problematic for accessibility reasons, because we have no ready way to propagate alt text defined at the individual content-item level to the corresponding image view. T

[2020-01-25 19:06] paregorios opened #418 "items "published externally" are no longer visible to anonymous"
Steps to recreate:

- As an anonymous user, navigate to https://isaw.nyu.edu/guide/it/web-profile-edit
- Note that authentication is required
- Login to the plone
- Note that the above page has workflow status "published externally"

[2020-01-28 20:50] paregorios commented on #295
Plone greedy acquisition

[2020-04-23 14:54] paregorios opened #419 "captioned images do not resize for narrow browser/mobile widths"
It would appear that CSS modifications like:

[code]

would resolve the problem.

[2020-04-23 17:25] paregorios commented on #419
The way the plone theme we're built on top of hard-codes image sizes into the style attribute for captioned images makes this much harder to deal with in css. Plus "auto" is not a legal value of max-height.

[2020-04-23 17:28] alecpm commented on #419
I think you want `max-height: unset;` along with `height: auto !important;`.

[2020-04-23 19:04] paregorios commented on #419
An apparent solution (on the issue419 branch) is in live beta on production.

[2020-07-16 15:35] #419 closed

[2020-07-16 20:52] paregorios opened #421 "mosaic listing needs css tweaks for use on new social media page"

[2020-07-16 21:20] paregorios commented on #421
this has been resolved in the template override, since that's where most of the CSS for the listing was stashed already

[2020-07-16 21:20] #421 closed

[2020-07-22 16:20] k2soule commented on #275
...it's baa-aaaaack;
the video embed code is broken again.

here is what I'm seeing now, in this page https://isaw.nyu.edu/events/archive/2017/Morrison

<iframe id="kaltura_player" width="608" height="402" frameborder="0" src="https://cdnapisec.kaltura.com/p/1674401/sp/167440100/embedIframeJs/uiconf_id/23435151/partner_id/1674401?iframeembed=true&amp;playerId=kaltura_player&amp;entry_id=1_zrx9uy9p

[2020-07-22 16:37] paregorios commented on #275
My suspicion is that recent updates I've made to code on production have somehow overwritten the monkey patch previously applied by @jessesnyder. I'll try to review the "how to" that he links to above and see if I can figure out where this went awry and why it didn't persist when making changes via our repos.

[2020-07-22 20:42] paregorios opened #422 "Tiled listing fails to show lead images for batches of items beyond first"
It works great on [the news blog](https://isaw.nyu.edu/news) and on [the library blog](https://isaw.nyu.edu/library/blog), but not on [the newsletters page](https://isaw.nyu.edu/publications/newsletters). Does this have something to do with the fact that the showcased content on the blogs consists entirely of news items, but the showcased content on the newsletter pages is folders and files?

[2020-07-22 21:44] paregorios commented on #422
In the newsletter section, the first batch of content has img src attributes like:

[code]

But in subsequent batches the non-working ones look like:

[code]

[2020-07-22 21:46] paregorios commented on #422
One finds the same difference in URL constructs on the news blog, but there they work.

[2020-07-22 22:07] paregorios commented on #422
FWIW the "folder_leadimage_view" we have doesn't seem to work at all.

[2020-07-22 22:31] paregorios commented on #422
I've poked around in the code for the various views that, one way or another, make use of lead image. I've poked around the web and plone documentation for guidance. I've fiddled with view customization. I don't know what the problem is.

[2020-08-14 20:33] k2soule opened #423 "Error 502 when a reviewer tried to check out a working copy"
Alexander Jones got an unexpected error (and then another) while working with an item in Pending Review status this morning. I made the edits he needed, and he was eventually able to publish the item, here:  https://isaw.nyu.edu/news/2020-neh-grant

The first error he encountered was "502 Bad Gateway
The server returned an invalid or incomplete response."
when trying to check out a working copy of

[2020-09-10 18:20] paregorios opened #424 "persist custom roles on user profiles across checkout/checkin cycles"
We enable faculty members and some other users to bypass the submit-to-publish workflow and instead checkout+edit+checkin their own profiles by using the "sharing" tab to set "add, edit, view, review" on the profile content item for that user. But checkout does not copy these custom role settings to the working copy. Therefore, when the user checks in the working copy over the baseline, the custom

[2020-11-24 20:04] skleinfeldt opened #425 "Apply latest Plone minor version upgrade"
Production and staging. Includes a security patch so fairly high priority.

[2021-04-19 15:29] paregorios opened #426 "Make PDFs subject to workflow"
As an authenticated user with "add" and "edit" roles in a given context, I can add a PDF as a "file" and see it behave with respect to workflow like any other content item in the same context. It should work with both our default workflow, and the alternate workflow we use in the "guide" (i.e., with both "internally published" and "externally published" as end states).

[2021-04-19 15:29] paregorios commented on #426
Blocked by issue #418

[2021-04-19 15:30] paregorios commented on #418
Blocks issue #426

[2021-04-19 17:58] alecpm commented on #426
Sample to be made private: https://isaw.nyu.edu/guide/finance/forms-docs/statement-for-services-performed-outside-of-the-us-nyu/view

[2021-04-19 18:01] alecpm commented on #426
Plan is to switch out workflow for File in policy to use policy default and then migrate workflow default state for all File content under /guide

[2021-04-19 19:37] alecpm commented on #418
FWIW, the permissions on the page (via `/manage_access`) looked fine to me, but retracting the page and publishing it again seems to have fixed it. 🤷‍♂️ Since this issue seemed to be isolated to this one page, I don't think there's much to do here.

[2021-04-19 19:51] paregorios commented on #424
Perhaps. I can't get it to fail on our example either. Let's do no more work on this ticket for now.

[2021-04-20 01:56] alecpm commented on #405
I've implemented a link list using the regexps you shared:

https://isaw.nyu.edu/people/staff/tom-elliott

It supports user id detection for GitHub, Humanities Commons, Twitter, VIAF, Wikipedia (user or page), and Zotero. For Facebook, Academia.edu, Doodle, LinkedIn, and ORCID it just uses the person's full name for the link. For unrecognized likes it just displays the link, but you can add a cust

[2021-04-20 02:57] alecpm commented on #426
You should now be able to use the Intranet workflow on Files published under /guide. They should all currently be in the "Published Externally" (published) state.

[2021-04-20 17:15] #418 closed

[2021-04-21 11:25] paregorios commented on #405
For style, how about:

1. In the profile view template, add "discreet" to ```<ul class="ProfileLinks">```. Modify/add CSS selectors as necessary to make sure that "discreet" can be effectively applied to that element+attribute combination effectively.
2. Modify CSS definition for "discreet" (globally across the entire site), as follows:
   - ```color: #666``` --> ```color: #333```
   - ```font-siz

[2021-04-21 11:48] paregorios commented on #405
Also, we need to do one minor bit of cleanup in [the associated template that produces the FOAF serialization of the profile pages](https://github.com/isawnyu/isaw.web/blob/8219953ef491dc954178506e8bcc6fa5c15ff2b9/src/isaw.facultycv/isaw/facultycv/browser/templates/foaf-rdf.pt). We need to make sure that any postfixed "|blah blah blah" gets removed from the URI before dropping into the ```rdf:reso

[2021-04-21 19:15] alecpm commented on #405
The styling and FOAF serialization should be fixed now.

[2021-04-21 19:28] alecpm commented on #425
isaw.nyu.edu is now running on Plone 4.3.20

[2021-04-23 16:27] #405 closed

[2021-04-23 16:30] #425 closed

[2021-04-24 02:37] alecpm commented on #422
Should be fixed

[2021-04-24 03:10] alecpm commented on #203
This is done

[2021-05-20 19:47] alecpm opened #427 "Apply security Hotfix"
New Hotfix is out:

https://plone.org/security/hotfix/20210518

Will apply shortly.

[2021-05-21 08:04] alecpm commented on #427
Hotfix is applied

[2021-05-21 08:04] #427 closed

[2021-09-29 21:10] paregorios opened #428 "redirect isaw4"
Currently H T T P : / / isaw4 atlantides org is serving the ISAW website without SSL. I'd prefer it redirect to https://isaw.nyu.edu.

[2021-10-01 18:16] paregorios opened #429 "redirect for amheida: 1pts"
The old "amheida" website is showing up at isaw dot nyu dot edu slash amheida. That URI should be made to permanently redirect to https://isaw.nyu.edu/research/amheida .

[2021-10-06 14:18] paregorios opened #430 "isaw4 needs AWS email configuration"
Primarily to support content rule notifications. This is a step I missed on the transition to AWS and needs to be addressed through the AWS console, so I will be working it today.

[2021-10-06 14:59] paregorios commented on #430
Configuration is now undergoing testing.

[2021-10-06 16:08] #430 closed, assigned to paregorios

[2021-10-18 16:35] paregorios opened #431 "review/discuss isaw web backup strategy"
I would like an offsite backup strategy and tooling for ISAW website content. What would be entailed?

[2021-10-18 19:17] paregorios opened #432 "review/discuss aws reservations/savings plans"

[2021-10-25 19:17] paregorios opened #433 "plugin for finding broken links?: 3pts"
IIRC years ago we had a plugin product, which I never understood very well, that purported to be able to scour the site for broken links. Does it or a replacement still exist and work well (with a path for Plone 5)? If so, we could use it.

[2022-01-21 23:50] paregorios opened #434 "scripts/batch_update.py is failing"
Urgent because we are trying to load content for an exhibition that opens 26 January. Was the Plone root path or name changed when we moved to the new server?

As user "plone_buildout", execute:

[code]

and get the following traceback:

[code]

[2022-01-21 23:54] paregorios commented on #434
Script must be invoked with site value "isaw" thus:

[code]

Thanks @alecpm

[2022-01-21 23:54] #434 closed

[2022-01-26 14:07] paregorios opened #435 ""OK" button disappears on some tabs of the "insert/edit link" dialog box: 5pts"
This has been observed by both admin users in both chrome and firefox. To reproduce, try to add a link to some text in a rich text field via tinymce and then toggle back and forth between the tabs, looking for the ok button.

[2022-02-04 23:12] skleinfeldt opened #436 "Minor security issue - update cache settings"
Update cache settings to prevent image_view_fullscreen cache poisoning:
https://community.plone.org/t/security-fix-for-image-view-fullscreen-cache-poisoning/14757

[2022-02-04 23:42] alecpm commented on #436
Looks like the template mappings for ISAW did not include the vulnerable template, so no changes were needed.

[2022-02-04 23:42] #436 closed

[2022-02-14 20:06] paregorios opened #437 ""Event Listing" is not showing all content"
This is affecting the "display item" (a collection) in every subfolder of [the "Past Events" section (aka "Events Archive")](https://isaw.nyu.edu/events/archive). For example, https://isaw.nyu.edu/events/archive/2020/index should show us all 25 published "event" content items in the /events/archive/2020 folder, but instead we only get 12 items and clicking on the "View More" affordance at the bott

[2022-02-14 22:10] alecpm commented on #437
@paregorios This is interesting. It seems like different instances may be running different code. If I log in and visit the AJAX url for the second page of results:

https://isaw.nyu.edu/events/archive/2020/index/@@event-listing-page?page=2

I sometimes get a result list, and I sometimes (about half the time) get this traceback:
[code]

Taking a look at the code now to see what might be the culpri

[2022-02-14 22:19] alecpm commented on #437
Looks like the `EventListingView` has a `format_date` method but for some reason the generated `TTWView` created by the TTW template customization isn't pulling that in as a base class. It's probably best to delete that template customization after ensuring that any desirable changes it includes are merged into the original template `isaw.theme.browser.templates.list_events.pt`.

[2022-03-04 23:01] alecpm commented on #437
I think this is complete. All of the template changes were moved to the git codebase and the TTW customizations were removed. The ansible config and buildout appear to be up to date and running well.

[2022-03-07 18:44] #437 closed

[2022-04-25 13:59] #203 closed

[2022-04-25 13:59] #422 closed

[2022-04-25 14:02] #428 closed

[2022-04-25 14:29] paregorios commented on #101
Changes (this view only):

- Keep current behavior when there is no summary (i.e., do nothing)
- For an `h2` elements followed by a summary paragraph in this view only, change bottom margin to "0px"
- Following a summary paragraph, maintain 28px vertical space before subsequent `h2`
- When two `h2` elements follow each other without an intervening summary paragraph, maintain 28px vertical margin.

[2022-04-25 17:13] paregorios commented on #101
https://isaw.nyu.edu/members/te20-40nyu.edu
![Screen Shot 2022-04-25 at 12 12 35 PM](https://user-images.githubusercontent.com/263285/165139508-f33332a0-558f-4848-bc44-7395200ba09d.png)

[2022-04-26 16:53] jessesnyder commented on #416
Install wildcard.foldercontents

[2022-04-27 08:52] alecpm commented on #403
This should be working on staging now, e.g.:

https://isaw.jazkarta.com/members/te20-40nyu.edu/benito-2009

The problem is that the API urls can't be generated without a numeric group or user id and the [zotero URL](https://www.zotero.org/groups/pleiades/items/LNIFF9U7) for that entry didn't have one in the URL. Visiting that URL directs to [the real url with numeric id](https://www.zotero.org/gro

[2022-04-27 08:53] alecpm commented on #403
Additionally, there was an issue with making SSL connections to the Zotero API which was resolved by updating the python SSL library versions.

[2022-04-27 16:13] paregorios commented on #403
OT: this feature is an investment in the future: https://forums.zotero.org/discussion/93270/support-for-importing-ris-via-connector

[2022-04-27 22:20] alecpm commented on #403
@paregorios This is live on production now. Existing publications may need their bibliographic information refreshed in order to get a correct canonical zotero url.

[2022-04-27 22:55] alecpm commented on #429
This should be fixed now.

[2022-04-27 23:18] paregorios commented on #403
Looks good.

[2022-04-27 23:18] #403 closed

[2022-04-27 23:18] paregorios commented on #429
Great!

[2022-04-27 23:18] #429 closed

[2022-04-27 23:29] alecpm commented on #406
This is up on staging for review:

https://isaw.jazkarta.com/research/projects/

[2022-04-27 23:31] paregorios commented on #406
@alecpm Much improved! Any chance it would be easy to lose the "read more" links entirely?

[2022-04-27 23:42] alecpm commented on #406
@paregorios sure, doing that via CSS is easiest, if that's acceptable. Since it's part of the original template in collective.contentleadimage customizing that template isn't ideal. We have already customized that package to improve alt text support (which was the source of the bug with the missing images in the listing to begin with), so it's not out of the question to remove it from the template

[2022-04-27 23:55] alecpm commented on #416
Looks like we may have done this on some staging server at some point. I'll finish it up and get it live on the current staging server.

[2022-04-28 00:13] paregorios commented on #406
@alecpm CSS sounds fine to me

[2022-04-28 00:17] alecpm commented on #406
OK, you it should be hidden once you reload.

[2022-04-28 00:19] paregorios commented on #406
Looks great. Let's merge and deploy to production.

[2022-04-28 00:21] alecpm commented on #416
@paregorios @skleinfeldt you can see [the new folder contents view on staging](https://isaw.jazkarta.com/folder_contents), it won't show Type by default but if you click the column selection button (the button with a 3 x 3 grid of boxes) you can add the `Type` column and that change will persist (via a cookie).

It's a pretty significant change from the default contents view, but it's quite simila

[2022-04-28 00:24] paregorios commented on #416
It is a big change, but the functionality (much more than just this ticket was contemplating) is worth it IMO. If this is ready in your view @alecpm let's merge and deploy to production.

[2022-04-28 18:59] #406 closed

[2022-04-29 14:23] silviot commented on #435
@paregorios I deployed a fix to staging. To test it you'll need to either
* use an incognito window
* have your dev tools open when you click the "link" button in TinyMCE
* wait one day (86400 seconds)

[2022-04-29 15:31] paregorios commented on #435
I cannot provoke the bug on staging now using the same general technique that I can use to provoke it on production. So, let's merge and deploy to production1

[2022-04-29 17:51] jessesnyder commented on #433
When I run the linkcheck process, I get an error which appears to be due to an API mismatch with the version of the `requests` library:
[code]
Looking into when this API changed (it is the current version of `requests` which doesn't take kw args).

[2022-04-29 19:16] paregorios commented on #435
I have moved this ticket to "merge for deploy" on the project board.

[2022-05-04 14:41] paregorios commented on #435
Was this ticket merged and deployed, or will we wait till the next support funding interval?

[2022-06-02 20:17] paregorios opened #440 "unexpected text in "External URIs" field on Profile causes traceback on save: 2pts"
"Nonetype" doesn't have "split"

![Screen Shot 2022-06-01 at 3 32 21 PM](https://user-images.githubusercontent.com/263285/171730553-b2e67b9e-4c36-4136-9ffc-58c6bb8c9bcd.png)

[2022-06-03 11:28] paregorios commented on #440
[code]

[2022-08-30 22:18] paregorios opened #441 "exhibition object displays empty "description" field: 2pts"
There is a field on the custom exhibition object content type that gets labeled "description" (not its schema name) in the default view. That label shows up even when the field is empty. We would like for it to have the same behavior as other fields on this object: it is not displayed if the field is empty.

[2022-08-30 22:21] paregorios commented on #441
In the edit view on the object, the field in question is called "Title Detail".

[2022-08-30 22:22] paregorios commented on #441
Here's a screen shot showing the undesirable
![Screen Shot 2022-08-30 at 5 21 41 PM](https://user-images.githubusercontent.com/263285/187553998-28dbeb58-e227-460d-a341-c5c5fc863007.png)
 behavior:

[2022-10-21 17:34] paregorios opened #442 "custom profile type does not work in "lead image view""

[2022-11-01 18:20] paregorios commented on #441
Production is currently running a through-the-ZMI view template customization that does what we want:

[code]

We would like this change moved to code, the view customization removed, and the new code rolled out on production.

[2022-11-01 18:41] paregorios opened #443 "news item type does not work uniformly with lead image view: 1pts"
Consider this folder, which has "lead image view" applied via the actions toolbar > display > lead image view: https://isaw.nyu.edu/members/te20-40nyu.edu/lead-image-testing

# Undesireable appearance (byline/dateline is appearing along with summary)

![Screen Shot 2022-11-01 at 1 22 33 PM](https://user-images.githubusercontent.com/263285/199311324-bb06bb46-6a0e-4580-bff8-a501f7d53279.png)

# Desi

[2022-11-04 21:55] paregorios opened #444 "fix up the "related items" portlet: 3pts"
There are some deficiencies in the current state of the "related items" portlet as it appears on the ISAW website. We need the following things fixed ([see example at bottom of page here](https://isaw.nyu.edu/skunkworks/portlet-experiments/page)).

## Portlet title customization doesn't work

Changing the portlet title like this:

![Screen Shot 2022-11-04 at 4 05 47 PM](https://user-images.githubu

[2022-11-04 22:10] paregorios opened #445 "make the "Collection Portlet" just like the fixed "related items" portlet: 2pts"
We would like the "Collection Portlet" to produce output indistinguishable from the output produced by the "related items" portlet once it is fixed per #444. [See example page here](https://isaw.nyu.edu/skunkworks/portlet-experiments/page-for-collection).

We think there are only two necessary changes:

1. Include content-item "description" text as specified in #444 for items returned by the refer

[2022-11-07 16:08] paregorios opened #446 "apply pending ubuntu package updates (including security fixes) on isaw1staging and isaw4staging"

[2022-11-07 16:10] paregorios opened #447 "review/reset/redeploy isaw4staging and associated repos branches to match what is currently running on isaw4 (production)"

[2022-11-07 16:13] paregorios opened #448 "create new "tiled view (alt)""

[2022-11-07 16:42] paregorios opened #449 "create new "summary view (alt)" listing: 3pts"
As a user with appropriate permissions I will be able to apply a new "summary view (alt)" that looks like this:

- No images are used
- Bylines from content are not displayed
- No "read more" links
- Titles are vertically left-aligned
- Summaries are vertically left-aligned
- Entire line is clickable as a single link and has mouseover style to match our main menu behavior (i.e., blue outline on ho

[2022-11-07 17:51] paregorios commented on #440
Ignore and exclude the line

[2022-11-08 02:33] alecpm commented on #448
OK, I've got a first pass at this up [here](https://isaw.jazkarta.com/news/collector/@@simple-tiled-listing) you should be able to select the `Titled Listing (alt)` view from the display menu on any Folder, Collection, or Topic. It uses a flex grid that switches from 3 to 2 columns at the mobile breakpoint.

[2022-11-08 02:40] alecpm commented on #448
I'm not quite sure how to handle the `:active` styling for this large linked box, but the default black background did not seem like a good choice so I've disabled that for now.

[2022-11-08 16:00] silviot commented on #442
Visible on https://isaw.jazkarta.com/members/te20-40nyu.edu/lead-image-testing/

[2022-11-08 16:13] paregorios commented on #448
So a few things:

1. Maybe try white background for the tiles?
2. The twitching/flickering/text-reflow behavior I'm seeing on mousein and mouseout (106.0.5 (64-bit) on MacOS Monterey 12.6.1) is not going to work for us. If that can't be stabilized with a minimum of further CSS experimentation, then I think we should lose entirely the blue-box-outline and just make the change on the linked title (b

[2022-11-08 16:17] paregorios commented on #442
I added a page to the folder, with a lead image, and got a traceback.

I'm surprised by this. Is it possible that some of the metadata-for-images code that Carlos experimented with developing for us but that we never got merged/deployed is hanging around on staging?

[code]

[2022-11-08 16:21] #446 closed

[2022-11-08 16:22] paregorios commented on #447
Done, unless my guess in this comment is correct: https://github.com/isawnyu/isaw.web/issues/442#issuecomment-1307475335

[2022-11-08 16:58] alecpm commented on #448
@paregorios white background when active or always white background? I'll see what I can do about flickering, I thought I had it fixed with the padding adjustments I made, but if I can't get it settled I'll try turning off the default border animations for the tile.

[2022-11-08 16:58] alecpm commented on #448
It might also help to make the border always 1px or always 3px.

[2022-11-08 17:01] alecpm commented on #448
FWIW I'm not seeing flickering on Chrome 107.0.5304.87 MacOS Monterey or Safari 16.1 (17614.2.9.1.13, 17614).

[2022-11-08 18:27] alecpm commented on #218
The work here was on staging, but I'm backing it out to get us in sync with master. The work continues to live on branch `issues/218-exif` if we want to reference it in the future. It seems like we'll want to reimplement using `pexif` instead of `pyexif` to avoid dependency on a PERL command line tool which seems to have some issues.

[2022-11-08 18:40] alecpm commented on #448
@paregorios I've removed the animation around the border switch, which should help with the flicker. However, since I couldn't reproduce it, I can't confirm. Can you let me know if you're still seeing it? You may want to try clearing your browser cache if you are.

[2022-11-08 18:48] paregorios commented on #448
@alecpm I can confirm that the flickering is gone in FF! If you think this is ready to merge and deploy to production, then so do I.

[2022-11-08 19:02] alecpm commented on #448
@paregorios I forgot about Firefox. Not seeing flicker on 106.0.3 (64-bit) with the current implementation.

[2022-11-08 19:08] alecpm commented on #448
FWIW, I implemented the `:active` styling as a white background for now. The change from the default background to white is probably too subtle for WCAG, but I'm not sure what's best here.

[2022-11-08 19:13] paregorios commented on #442
OK, I've now confirmed the code is working in https://isaw.jazkarta.com/members/te20-40nyu.edu/lead-image-testing . I note that CSS is positioning the summary text differently based on different content types. Compare how the description text for the two "page" objects appear and compare it to how the text for the "profile" object appears. I'd like them all to appear like "page" (but if this is pi

[2022-11-08 19:14] alecpm commented on #448
@paregorios Good for production then? In that case, I'll merge it and start work on #449 based on this.

[2022-11-08 19:19] paregorios commented on #448
Merge it!

[2022-11-08 20:07] alecpm commented on #449
@paregorios This is up for review [here](https://isaw.jazkarta.com/news/collector/@@simple-summary-listing) and also avaliable as `Summary View (alt)` in the display menu on Folders, Collections, and Topics.

[2022-11-08 20:10] paregorios commented on #449
This is beautiful @alecpm. Please merge and deploy.

[2022-11-08 21:08] alecpm commented on #447
I've backed the unfinished EXIF work out of staging along with some early SAML2 work that got abandoned before production deploy, the staging server and isaw.web branch should be completely in sync with master/production.

[2022-11-08 21:49] paregorios commented on #448
@alecpm I am attempting to test this functionality on production at  https://isaw.nyu.edu/skunkworks/financial-resources, but I do not see the new display listing available on the actions menu. This is after fully dumping cache in my browser and performing a new login.

![Screen Shot 2022-11-08 at 3 46 43 PM](https://user-images.githubusercontent.com/263285/200683029-2b96c864-26fa-4309-a031-cfcbf2

[2022-11-08 21:50] paregorios commented on #449
@alecpm like #448, I am attempting to test this functionality on production at https://isaw.nyu.edu/skunkworks/financial-resources, but I do not see the new display listing available on the actions menu. This is after fully dumping cache in my browser and performing a new login.

[2022-11-08 21:52] alecpm commented on #449
Should be there now, needed to run an upgrade step.

[2022-11-08 21:53] alecpm commented on #448
Needed to run an upgrade step. Done.

[2022-11-08 21:56] paregorios commented on #449
Looks great!

[2022-11-08 21:56] #449 closed

[2022-11-08 21:56] paregorios commented on #448
Perfect!

[2022-11-08 23:40] alecpm commented on #444
@paregorios so I think there's a little confusion here, the content under "Related Content" is coming from a default Plone viewlet that renders the related items.

The related items portlet isn't actually rendering on the page. That portlet comes from an add-on [collective.portlet.relateditems](https://pypi.org/project/collective.portlet.relateditems/), which doesn't really have much to do with "R

[2022-11-09 15:46] silviot commented on #442
@paregorios Should be fixed now

[2022-11-09 16:05] paregorios commented on #442
@silviot this looks great! Please merge to master and deploy to production.

[2022-11-09 16:23] paregorios commented on #444
@alecpm thanks for the clarifications! I think that, giving the use cases that are driving our work this week, the fixed-up collection portlet that you're working on in #445 is going to meet all our needs, and (frankly) with more flexibility. So I propose we drop this ticket from the current iteration and it can hang out on the backlog until/if we need it. What do you think?

[2022-11-09 17:05] alecpm commented on #444
@paregorios Sounds good to me, let me know if you want me to hide that viewlet globally.

[2022-11-10 08:57] silviot commented on #443
Visible [on staging](https://isaw.jazkarta.com/members/te20-40nyu.edu/lead-image-testing/).

[2022-11-10 14:53] silviot commented on #440
Visible [on staging](https://isaw.jazkarta.com/members/te20-40nyu.edu/lead-image-testing/profile/).

[2022-11-10 15:28] silviot commented on #101
[Visible on staging](https://isaw.jazkarta.com/members/te20-40nyu.edu)

[2022-11-10 15:37] paregorios commented on #440
@silviot this is working as desired. From a functional point of view, I'm happy to see it merged to master and deployed to production.

[2022-11-10 16:27] paregorios commented on #442
looks good on prodo

[2022-11-10 16:29] paregorios commented on #435
This is working on prodo

[2022-11-10 16:29] #435 closed

[2022-11-10 17:05] silviot commented on #101
@paregorios I also realized I used a CSS feature not supported by Firefox.

Images should be hidden though (I see them missing).

[2022-11-10 19:54] paregorios commented on #101
@silviot Ah, I see what is going on. Some of the items in the folder are "image" objects, and thumbnails of them are showing up. I think that's ok so let's leave it as it is. From my perspective this is ready to be merged to master and deployed to production.

![Screen Shot 2022-11-10 at 1 50 24 PM](https://user-images.githubusercontent.com/263285/201192686-76298a90-1594-4783-9162-c07d20acf985.png

[2022-11-10 22:54] alecpm commented on #445
I included some CSS changes that should have addressed those issues, but they don't seem to be live. Weird.

[2022-11-10 23:17] alecpm commented on #445
@paregorios Should be looking better now after a CSS registry refresh and a couple more CSS tweaks.

[2022-11-10 23:30] #431 closed

[2022-11-11 16:16] silviot commented on #441
Deployed to staging.

[2022-11-11 16:22] paregorios commented on #441
@silviot this looks good to me on staging, both with respect to the behavior of the object view through the plone and also the removal of the view customization in ZMI. I would be happy to see this merged to master and deployed to production once any pending PRs are complete.

[2022-11-11 18:44] paregorios commented on #443
This is working on production, thanks!

[2022-11-11 18:44] #443 closed

[2022-11-11 18:51] paregorios commented on #445
Perfect on Production(TM)

[2022-11-11 18:51] #445 closed

[2022-11-18 16:07] paregorios opened #456 "MSWord Paste into Body Text not working"
description to be added by @paregorios

[2022-11-18 16:26] paregorios commented on #456
# Steps to reproduce

1. Create a new (or edit an existing) Page.
2. Switch focus to a Microsoft Word document, select and copy some text, and return to the browser window in which the "Add/Edit Page" form is displayed.
3. On the Add/Edit Page form, scroll down to the "Body Text" textbox and insert the text cursor in the field.
4. On the textbox toolbar, select the icon for "Paste from Word".
5. O

[2022-11-30 15:19] paregorios commented on #101
@silviot this looks great on production, thanks!

[2022-11-30 15:19] #101 closed

[2022-11-30 15:22] #440 closed

[2022-11-30 15:35] paregorios commented on #441
Looks great on production (I removed the template customization).

[2022-11-30 15:35] #441 closed